{% macro navitem(c, path) %}
  {% set active = c.uri_matches(path) %}
  <li>
    <a class="navbar-item {% if active %}active{% endif %}"
       href="{{ path }}">
      {{ caller() }}{% if active %}<span class="visually-hidden"> (current)</span>{% endif %}
    </a>
  </li>
{% endmacro %}
{% macro navdropdown(c, path_list) %}
  {% set active = c.uri_matches_any(path_list) %}
  <div class="dropdown {% if active %}active{% endif %}">
    <a class="navbar-dropdown"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
      {{ caller() }}
    </a>
    <div class="dropdown-menu {% if active %}active{% endif %}"
         role="menu">
      {% for title, path in path_list %}
        <a class="dropdown-item {% if c.uri_matches(path) %}active{% endif %}"
           href="{{ path }}">
          {{ title }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
