{% import "components/css.html" as css %}
{% extends "nationals/2025/base.html" %}
{% block title%}Registration{% endblock %}
{% block content %}
  <h4>Events and Schedule</h4>
  <p>
    Please refer to the <a href="https://www.worldcubeassociation.org/competitions/CubingUSAAllStars2025#competition-schedule">competition website</a> for full details on the events and schedule.
  </p>
  <p>
    The schedule of this competition is more lenient than most WCA competitions. This will allow us time to properly showcase the top talent and the spectacle of the event.
  </p>
  <p>
    For events with multiple rounds, the <b>top 8 US competitors</b>, plus all non-US competitors faster than the 8th fastest US competitor, will advance to the finals.
  </p>
  <p>
    Events will have eight-person groups with stationary competing. As we are starting each group, the next group will be called backstage. This will allow us time to make sure all competitors are present and ready to go on stage when called. This is especially important for <b>16-person semi-finals</b>, during which both groups will have the same set of scrambles. It is important that competitors are ready to proceed backstage one group early.
  </p>
  <p>
    The 3x3 Finals will be head-to-head. All eight finalists will be sequestered backstage throughout the round.
  </p>
{% endblock %}
