{% import "components/css.html" as css %}
{% extends "nationals/2025/base.html" %}
{% block title%}Registration{% endblock %}
{% block content %}
  <h4>Registration Process</h4>
  <p>
    The registration and qualification process for Rubik's x TheCubicle CubingUSA All-Stars 2025 will be different from previous CubingUSA Nationals competitions. Please review this page to understand the process.
  </p>
  <p>
    Only the top competitors in each event will be able to compete at Rubik's x TheCubicle CubingUSA All-Stars 2025. Each event will be limited to a small number of competitors:
    <ul>
      <li><b>Top 32</b> for 3x3</li>
      <li><b>Top 16</b> for 2x2, 4x4, 5x5, 3x3 One-Handed, Pyraminx, and Skewb</li>
      <li><b>Top 12</b> for Fewest Moves</li>
      <li><b>Top 8</b> for all other events</li>
    </ul>
    Unfortunately this means that most competitors will not be able to compete at Rubik's x TheCubicle CubingUSA All-Stars 2025. Don't worry -- you'll still be able to catch all the action, either in-person or on our live stream, and CubingUSA Nationals 2026 will be back to our normal Nationals format.
  </p>
  <p>
    Because of the limited space available, and to ensure that top US competitors have an opportunity to to compete for the title of US National Champion, we kindly request that international competitors not register for this competition. We look forward to welcoming international competitors to both Rubik's WCA World Championship 2025 and CubingUSA Nationals 2026.
  </p>
  <p>
    Registration will take place on the WCA Website between <b>May 1 and September 2</b>. During this time, we will publish a list of the top registered competitors in each event, however we will not accept any registrations until after registration closes, when we know who the top competitors in each event are.
  </p>
  <p>
    Between <b>September 3rd and October 1st</b>, we will notify accepted competitors by email that they have been selected to compete at Rubik's x TheCubicle CubingUSA All-Stars 2025. Competitors will be given a week to confirm their spot once notified; we ask competitors to notify us promptly of their decision so that we can notify other competitors accordingly.
  </p>
  <p>
    Only times set by September 2nd will count towards qualification for Rubik's x TheCubicle CubingUSA All-Stars 2025. For blindfolded events, we will select competitors based on their single time; for all other events, we will select competitors based on their average.
  </p>
  <p>
    By October 1st, all competitors will have their registration either accepted or rejected, and the full list of competitors will be public.
  </p>
{% endblock %}
