{% import "components/css.html" as css %}
{% extends "nationals/2025/base.html" %}
{% block title%}Worlds 2025 Schedule{% endblock %}
{% block content %}
  <h3>Rubik's WCA World Championship 2025 Schedule</h3>
  <p>
    The tentative schedule is available at the <a href="https://www.worldcubeassociation.org/competitions/WC2025#competition-schedule">WCA website</a>. We will adjust the exact starting time of each event based on the number of registered competitors, however we will not change the scheduled days of any events.
  </p>
  <p>
    Events will generally take place over two days, with the first round on Day 1, and the Semi-Finals and Finals on Day 2. The end of each day of the competition promises excitement: Rubik's Nations Cup on Thursday, and can't-miss Final Rounds on Friday, Saturday, and Sunday.
  </p>
  <p>
    On the evening of <b>Friday, July 4</b>, competitors will be able to enjoy the July 4th fireworks over Lake Union.
  <p>
    In addition to the competition, we are planning events throughout the week leading up to Worlds, from Saturday, June 28 until the competition begins. We'll have more information about that here!
  </p>
  <p>
    Competitors must check in before their first event. Check-in will be open starting at <strong>8:00 AM</strong> on Thursday, Friday, and Saturday. You do not need to check in on Thursday if you do not have any events on Thursday.
  </p>
  <p>
    We reserve the right to change the number of competitors advancing to the semi-finals in each event, as well as 3x3 Round 2, depending on the number of competitors registered. In addition, we may add a semi-final to both 6x6 and 7x7. We are planning to make any changes of this nature no later than March 1, 2025.
  </p>
{% endblock %}
