{% import "components/css.html" as css %}
{% extends "nationals/2025/base.html" %}
{% block title%}Spectators{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2025/index') }}
{% endblock %}
{% block content %}
  <div>
    There are two ways for spectators to enjoy CubingUSA All-Star Championship 2025:
  </div>
  <ul>
    <li><b>Live in-person</b>: Spectators can purchase tickets for $20, available from <a href="https://www.thecubicle.com/products/rubiks-x-thecubicle-cubingusa-all-stars-live-ticket-2-day-pass">TheCubicle</a></li>
    <li><b>Live Stream</b>: The competition will be live streamed on <a href="https://www.youtube.com/@Speedcubing-TV"><b>SpeedcubingTV</b></a>! Make sure to check it out.</li>
  </ul>
{% endblock %}
