{% import "components/css.html" as css %}
{% extends "nationals/2025/base.html" %}
{% block title%}Spectators{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2025/index') }}
{% endblock %}
{% block content %}
  <div>
    There are two ways for spectators to enjoy CubingUSA All-Star Championship 2025:
  </div>
  <ul>
    <li><b>Live in-person</b>: We'll be selling spectator tickets, details to follow soon!</li>
    <li><b>Live Stream</b>: The competition will be live streamed, details to follow closer to the competition!</li>
  </ul>
{% endblock %}
