{% extends "nationals/2023/base.html" %}
{% block title%}Nationals 2023 Unofficial Events{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2023/unofficial') }}
{% endblock %}
{% block content %}
  <h1>Unofficial Events and Seminars</h1>
  <p>
    Results for unofficial events can be found <a href="https://docs.google.com/spreadsheets/d/1P3TR8-OemD2hSuqngOpeH_pj4WaziLdn-wT0z9vGTGg/edit?usp=gmail_thread">here</a>!
  </p>
  <div class="row">
    <div class="info-box-container">
      <div class="card">
        <div class="card-header">
          <h4><span class="material-symbols-outlined">schedule</span> Thursday Night Schedule</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="info-box-label">7:15: 3x3 Fewest Moves ends</span>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">7:30 &ndash; 8:15: Face-Turning Octahedron</p>
            <p class="info-box-details">Limit 100 competitors.</p>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">8:15 &ndash; 9:00: Team Blindfolded</p>
            <p class="info-box-details">Limit 60 teams. Best of 3, 9 minutes cumulative.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-box-container">
      <div class="card">
        <div class="card-header">
          <h4><span class="material-symbols-outlined">schedule</span> <a href="https://www.facebook.com/CubingUSA/posts/pfbid0267ULUCBbpMehFbHoUR9DF6ogpz3VzAkMycNvh98WzTeC8cRDReDwzAALLTCGVCQKl">Friday Night Schedule</a></h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="info-box-label">7:30: 3x3 Fewest Moves ends</span>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">7:45 &ndash; 8:15: <i>The Gender Disparity: Why Cubing is Male-Dominated and What We Can All do to Best Support Underrepresented Populations</i></p>
            <p class="info-box-details">A seminar by Sarah Strong</p>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">8:15 &ndash; 8:45: <i>Pressure is Privilege</i></p>
            <p class="info-box-details">A seminar by Alexei Sinyavin and Heewon Seo </p>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">8:45 &ndash; 9:15: <i>Mastering Success: With Help From Clueless Parents</i></p>
            <p class="info-box-details">A seminar by Schwan Park</p>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">9:15 &ndash; 9:45: <i>Project DST</i></p>
            <p class="info-box-details">A seminar by Calvin Nielson and Dan Pastushkov</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-box-container">
      <div class="card">
        <div class="card-header">
          <h4><span class="material-symbols-outlined">schedule</span> Saturday Night Schedule</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="info-box-label">7:15: 3x3 Fewest Moves ends</span>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">7:30 &ndash; 8:00: Rubik's Magic<p>
            <p class="info-box-details">Limit 100 competitors.</p>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">8:00 &ndash; 9:00: Crew Battle<p>
            <p class="info-box-details">A special unofficial competition! Two teams, East Coast and West Coast, will be battling across a wide range of events.<br><br>
            Each team will consist of five players. We'll have a deck of 25 cards, each with an event on it. There will be 15 rounds, for each of them we'll randomly select one, and each team captain will select which player will compete in a best-of-1 race in that event. Each player can only compete three times, and captains won't know who the other team is putting in, so they'll need to strategize about who to put in when.<br><br>
            The contents of the deck will be shared with captains before they select their team, but they won't know exactly which 15 cards will be selected, so they'll need to be prepared for anything when they pick their teams!</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-box-container">
      <div class="row">
        <img src="/static/img/westcoast_captain.png" class="crew-img col">
        <img src="/static/img/eastcoast_captain.png" class="crew-img col">
      </div>
      <div class="row">
        <img src="/static/img/westcoast_team.png" class="crew-img col">
        <img src="/static/img/eastcoast_team.png" class="crew-img col">
      </div>
    </div>
  </div>
{% endblock %}
