{% import "components/css.html" as css %}
{% import "components/faq.html" as faq %}
{% extends "nationals/2025/base.html" %}
{% block title%}Rubik's WCA World Championship 2025 - Volunteers{% endblock %}
{% block content %}
<h3>Apply to be on Staff!</h3>
<div>
  Thanks for your interest! We are looking for applications for Staff Team, Data Team, Help Desk, and Live Stream Commentators; you can read more about each role below. Staff applications will open in December 2024. Staff will be accepted on a rolling basis. Please apply early for full consideration.
</div>
<div>
  Signing up to be on staff is a commitment; please make sure to let us know as soon as possible if you will not be able to attend. We will need a final confirmation of your attendance no later than May 14, 2025.
</div>
<p>
<h4>Staff Team</h4>
<div>
  Staff Team members will have judging, running, and scrambling assignments throughout the competition. Expect to spend about 2/3 of the competition volunteering, and the rest either on breaks or competing. Delegates on the Staff Team will be able to apply to be a Stage Lead.
</div>
<p>
<h4>Data Team</h4>
<div>
  Data Team members will be in charge of data entry, double checking scorecards, and printing subsequent round scorecards. Expect to spend about 2/3 of the competition volunteering, and the rest either on breaks or competing.
</div>
<p>
<h4>Help Desk</h4>
<div>
  We're looking for parents and other volunteers to work around 5 hours per day at Registration, answering questions about our event and checking competitors in, and helping with some other tasks like shopping runs. This is a great job for parents who'd like to help out and keep busy during the competition!
</div>
<p>
<h4>Live Stream Commentators</h4>
<div>
  Live Stream Commentators will work with our Live Stream team to provide commentary for the competition live stream. Applications for this position will close on January 15.
</div>
<p>
<h4>Perks</h4>
<div>
  Staff members will receive the following perks:
</div>
<ul>
  <li>Refunded registration fee (after the competition)</li>
  <li>Lunch for each day of the competition (specifics to be determined)</li>
  <li>Staff t-shirts</li>
  <li>Travel support -- one of:
    <ul>
      <li>Accommodation in a staff hotel room (18+ only)</li>
      <li>$40 per night reimbursement for your own hotel room</li>
      <li>$60 per night reimbursement for your own hotel room with no refunded registration (great option for parents staffing)</li>
      <li>Daily parking reimbursement (great option for local cubers)</li>
    </ul>
  </li>
  <li>One free spectator ticket</li>
</ul>
{%endblock %}
