{% import "components/css.html" as css %}
{% import "components/faq.html" as faq %}
{% extends "nationals/2025/base.html" %}
{% block title%}Volunteers{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2025/index') }}
{% endblock %}
{% block content %}
  <p>
    We are looking for volunteers to help us run CubingUSA All-Star Championship 2025! We have a few different roles that we are looking to fill:
  </p>
  <ul>
    <li><b>Core Volunteers</b>: The main judging, running, and scrambling roles for the competition.</li>
    <li><b>Data Entry</b>: The team responsible for entering all times into WCA Live.</li>
    <li><b>Live Stream Commentators</b>: The team providing expert commentary for the viewers at home watching the stream. People in this role do not need to be on-location in Providence.</li>
  </ul>
  <p>
    Volunteers will receive free registration (if applicable), free entrance to the competition, and provided lunch. In addition, we have a limited budget to support travel expenses; please indicate in your application whether you'll need financial support in order to participate as a volunteer.
  </p>
  <p>
    Applications for the volunteer team will open by April 1.
  </p>
{% endblock %}
