[submodule "external/bootstrap"]
	path = external/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "external/icons"]
	path = external/icons
	url = https://github.com/cubing/icons.git
