Flask==2.3.2
Jinja2==3.0.3
gunicorn==20.1.0
python-dotenv==0.19.2
absl-py
google-cloud-logging
google-cloud-ndb
google-cloud-recaptcha-enterprise
google-cloud-secret-manager
wheel==0.38.1
mailjet-rest==1.3.4
setuptools-rust==1.1.2
Authlib==0.15.5
