.event-list-container {
  @extend .card;
  border-radius: 0.25rem;

  .event-list {
    @extend .container;
    border: 1px solid $gray-400;
  }

  .desktop-only {
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  .mobile-only {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
  
  .event-details {
    @include make-row();
    background-color: $gray-400;
    border-radius: 0.25rem;
    padding: 10px;
    font-size: 20px;
  }
  
  .event-title {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(3);
    }
    @include media-breakpoint-down(xs) {
      @include make-col(10);
    }
    font-weight: bold;
  }

  .event-icon {
    width: 30px;
    height: 30px;
  }

  .round-details-container {
    background-color: $gray-100;
    padding-bottom: 10px;
  }

  .round-details {
    @include make-row();
    background-color: $gray-100;
    padding: 5px 10px;
    font-weight: bold;
  }

  .num-competitors {
    background-color: $success;
  }
  .time-limit {
    background-color: $warning;
  }
  .format {
    background-color: $info;
  }
  .qualifying-time {
    background-color: $gray-400;
  }

  .num-competitors,.time-limit,.format,.qualifying-time {
    border-radius: 12px;
    padding: 5px 10px;
    margin: 0 5px;
    font-weight: bold;
  }

  .round-number {
    @include media-breakpoint-up(sm) {
      margin-left: 45px;
      margin-right: 15px;
    }
    padding-top: 6px;
  }

  #event-key {
    padding: 15px;
  }

  .event-key-row {
    padding: 5px 0px;
  }
}
