{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}About CubingUSA{% endblock %}
{% block style %}
  {{ css.css(c, 'about') }}
{% endblock %}
{% block content %}
  <div class="container">
    <h1>About CubingUSA</h1>
    <div class="about-row">
      <div class="abouttext-left">
        CubingUSA is a 501(c)(3) non-profit organization dedicated to supporting the speedcubing community in the United States.  Speedcubing is the act of solving twisty puzzles, such as the Rubik's Cube&reg;, as quickly as possible.  Since 2003, over 15,000 competitors have participated in over 700 speedcubing competitions in the United States.  Besides solving the well-known Rubik's Cube&reg;, competitors solve other puzzles including the <a href="https://en.wikipedia.org/wiki/Pyraminx" target="_blank">Pyraminx</a> and <a href="https://en.wikipedia.org/wiki/Square-1_(puzzle)" target="_blank">Square-1</a>, and other solving variants such as one-handed solving and blindfolded solving.
      </div>
      <div class="image-right">
        <img src="/static/img/round_table.jpg" width="100%">
      </div>
    </div>
    <div class="about-row">
      <div class="abouttext-right">
        Our passion for the community is in part because we believe speedcubing has a positive impact on the lives of young people.  The skills used in speedcubing are directly applicable to abstract math, and develop a background that is useful for science and engineering.
      </div>
      <div class="image-left">
        <img src="/static/img/3bld.jpg" width="100%">
      </div>
    </div>
    <div class="about-row">
      <div class="abouttext-left">
        The majority of local competitions are organized through the grassroots efforts of local volunteers.  We work closely with the <a href="https://www.worldcubeassociation.org/" target="_blank">World Cube Association</a> to support them, including through the <a href="{{ c.uri_for('supported') }}" target="_blank">CubingUSA Supported Competitions</a> program.  We aim to provide leadership and growth opportunities to teenagers and young adults in our community, who often start out staffing local competitions, and then move on to organizing them.
      </div>
      <div class="image-right">
        <img src="/static/img/teamsolve.jpg" width="100%">
      </div>
    </div>
    <div class="about-row">
      <div class="abouttext-right">
        Since 2004, we have organized the annual US National Championships in speedcubing.  Each year, we hold Nationals in a different location, in order to make the competition accessible to as many competitors as possible.  In 2017, we held CubingUSA Nationals in Fort Wayne, Indiana.  656 competitors from across the United States attended, and completed over 20,0000 solves during the competition.  We strive to provide a high-quality, fair, professional, and enjoyable competition experience for all competitors.
      </div>
      <div class="image-left">
        <img src="/static/img/cal_day.jpg" width="100%">
      </div>
    </div>
    <div class="about-row">
      <div class="abouttext-left">
        We are a <a href="{{ c.uri_for('about') }}">team of volunteers</a> who work year-round, constantly seeking opportunities to support speedcubers across the US.  If you'd like to help us achieve our mission, please consider <a href="{{ c.uri_for('about') }}">making a tax-deductible donation</a> to CubingUSA or signing up as a sponsor.  We greatly appreciate any support we receive.
      </div>
      <div class="image-right">
        <img src="/static/img/scramblers.jpg" width="100%">
      </div>
    </div>
  </div>
{% endblock %}
