{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}Who we are{% endblock %}
{% block style %}
  {{ css.css(c, 'about_who') }}
{% endblock %}
{% block content %}
{% macro person_row(img_src, name, person_title, id, accordion_id) %}
<div class="card">
  <div class="card-header" role="tab" id="{{ id }}_heading">
    <a data-toggle="collapse"
       href="#{{ id }}"
       aria-expanded="false"
       aria-controls="{{ id }}"
       class="personLink"
       data-name="{{ id }}"
       id="{{ id }}_link">
      <h5 class="mb-0">
        <strong>{{ name }}</strong> &mdash; {{ person_title }}
      </h5>
    </a>
  </div>
  <div id="{{ id }}"
       class="collapse"
       role="tabpanel"
       aria-labelledby="{{ id }}_heading"
       data-parent="#{{ accordion_id }}">
    <div class="card-body">
      <div class="person-row">
        <div class="person-image">
          <img src="/static/img/people/{{ img_src }}" width="100%">
        </div>
        <div class="person-text">
          {{ caller() }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
  <h1>Who we are</h1>
  <div class="row about_row">
    <div class="col-12 col-md-12">
      CubingUSA is run entirely by volunteers, many of whom have been involved in our community for 10 or more years.
    </div>
  </div>
  <hr>
  <h3>Board of Directors</h3>
  <div id="directors" role="tablist">
    {% call person_row("kit.jpg", "Kit Clement", "Executive Director", "kit", "directors") %}
      <strong><a href="{{ c.wca_profile('2008CLEM01') }}" target="_blank">Kit Clement</a></strong> is the Executive Director of CubingUSA.  Kit has been cubing since 2008 and has been an organizer for the US Nationals competition since 2015. Kit was appointed as a WCA Delegate in 2013 and has since delegated competitions throughout the Midwest and Northwest United States. Kit was also appointed as a WCA Senior Delegate in 2017. Kit served as a member (and leader) of the WCA Regulations Committee from 2014 to 2015.
    {% endcall %}
    {% call person_row("kian.jpg", "Kian Barry", "Chair", "kian", "directors") %}
      <strong><a href="{{ c.wca_profile('2007BARR01') }}" target="_blank">Kian Barry</a></strong> has been the Chairman of CubingUSA since its inception.  He began cubing in 2006 and became both a WCA Delegate and Nationals organizer in 2012. Kian also has the most podiums in a competition without a win, with 39 bronze and silver medals in competition. Kian teaches history in Princeton, NJ.
    {% endcall %}
    {% call person_row("shelley.jpg", "Shelley Chang", "Treasurer", "shelley", "directors") %}
      <strong><a href="{{ c.wca_profile('2004CHAN04') }}" target="_blank">Shelley Chang</a></strong> is the Treasurer of CubingUSA.  She has been overseeing the finances of CubingUSA since its incorporation and has been managing the funds for US Nationals competitions for about the past ten years. Shelley has been organizing US Nationals since 2006 and was the designer of the current CubingUSA logo. Shelley has been competing since the Caltech competitions held in 2004, delegating competitions since 2008, and is the only person who has attended every US Nationals competition to date.
    {% endcall %}
    {% call person_row("kenneth.jpg", "Kenneth Lu", "Secretary", "kenneth", "directors") %}
      <strong><a href="{{ c.wca_profile('2012LUKE01') }}" target="_blank">Kenneth Lu</a></strong> is the Secretary of CubingUSA. Ever since he helped to run an Autonomous Robot Design Competition in college, Kenneth has been looking for another competition to help organize. He shot a video of Nationals 2012 and joined the Nationals Organizer team in 2015. If you have ever emailed CubingUSA, you probably received a reply from Kenneth!
    {% endcall %}
    {% call person_row("bob.jpg", "Bob Burton", "Director", "bob", "directors") %}
      <strong><a href="{{ c.wca_profile('2003BURT01') }}" target="_blank">Bob Burton</a></strong> is a Director of CubingUSA, and was elected a Board Member of the World Cube Association in 2017.  Bob has been a part of speedcubing since the very start of the WCA and has seen it grow a lot from the Yahoo! group he joined as a high schooler.  He has delegated 72 competitions since 2006, been on the US Nationals Organizer team since 2007 and was a previous member of the WCA Gear Team and the WCA Results Team.  Bob teaches high school math in New York.
    {% endcall %}
    {% call person_row("hildreth.jpg", "James Hildreth", "Director", "hildreth", "directors") %}
      <strong><a href="{{ c.wca_profile('2009HILD01') }}" target="_blank">James Hildreth</a></strong> has been a Director of CubingUSA since its inception. James began cubing in 2008 and attended his first competition in March 2009 where he boxed fellow Director Bob Burton. To date, James has attended 95 competitions over 20 different states, including 33 that he delegated. James joined the Nationals organizer team after the Nationals 2015 competition. James is most proud of having a sub-3 minute mean on 7x7x7.
    {% endcall %}
    {% call person_row("lachance.jpg", "James LaChance", "Director", "lachance", "directors") %}
      <strong><a href="{{ c.wca_profile('2010LACH01') }}" target="_blank">James LaChance</a></strong> has been a Director of CubingUSA since its inception. He began cubing in 2003 and attended his first competition in 2010. In 2015, James was appointed as a WCA Delegate and joined the Nationals Organizer team. He is also a member of the WCA Software Team (WST) and one of the webmasters of CubingUSA. Outside of cubing, James enjoys programming and video games.
    {% endcall %}
    {% call person_row("felix.jpg", "Felix Lee", "Director", "felix", "directors") %}
      <strong><a href="{{ c.wca_profile('2008LEEF01') }}" target="_blank">Felix Lee</a></strong> has been a Director of CubingUSA since its inception. He began cubing in 2007 and first competed in 2008. Felix was largely responsible for the growth of cubing in and around Maryland. In 2009, Felix set the North American record for Pyraminx average (and then again three times in 2010). He joined the Nationals Organizer team in 2011. Felix currently works for Google as a software engineer in Mountain View, California.
    {% endcall %}
    {% call person_row("vincent.jpg", "Vincent Sheu", "Director", "vincent", "directors") %}
      <strong><a href="{{ c.wca_profile('2006SHEU01') }}" target="_blank">Vincent Sheu</a></strong> was instrumental to CubingUSA's incorporation. He began cubing in 2005 and attended his first competition in 2006. Vincent has been an organizer for Nationals since the 2011 competition and is the former president of the Berkeley Cube Club. In 2011, Vincent tied the world record for solving 2x2x2 in 0.96 seconds. In 2014, he tied the world record for 3x3x3 fewest moves with a 25.00 move average. Vincent is currently a student at Stanford University, studying law.
    {% endcall %}
  </div>
  <hr>
  <h3>Nationals Organizers Team</h3>
  <p>Board of Directors, plus: Nathan Dwyer, Calvin Nielson, Tim Reynolds, Walker Welch, and Michael Young</p>
  <hr>
  <h3>Software Team</h3>
  <p>Jeremy Fleischman, Caleb Hoover, James LaChance, Jim Mertens, Tim Reynolds</p>
  <script src="/static/js/about_who.js" type="application/javascript"></script>
{% endblock %}
