<!DOCTYPE html>
{% autoescape true %}
{% macro navitem(c, handler) %}
  {% set active = c.uri_matches(handler) %}
  <li>
    <a class="navbar-item {% if active %}active{% endif %}"
       href="{{ c.uri_for(handler) }}">
      {{ caller() }}{% if active %}<span class="sr-only"> (current)</span>{% endif %}
    </a>
  </li>
{% endmacro %}
{% macro navdropdown(c, handler_list) %}
  {% set active = c.uri_matches_any(handler_list) %}
  <div class="dropdown {% if active %}active{% endif %}">
    <a class="navbar-dropdown"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
      {{ caller() }}
    </a>
    <div class="dropdown-menu {% if active %}active{% endif %}"
         role="menu">
      {% for title, handler in handler_list %}
        <a class="dropdown-item {% if c.uri_matches(handler) %}active{% endif %}"
           href="{{ c.uri_for(handler) }}">
          {{ title }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CubingUSA - {%block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/base.css" type="text/css">
  {% block style %}
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
  {% endblock %}
  <script src="/static/external/jquery-3.2.1.slim.min.js" type="application/javascript"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <div class="navbar">
    <div class="container">
      <a class="navbar-brand" href="{{ c.uri_for('home') }}">
        <img src="/static/img/cubingUSA_4.svg" width="50" height="50"> CubingUSA
      </a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#topnav"
              aria-controls="topnav"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topnav">
        <ul class="navbar-left">
          {% for title, handler in c.get_nav_items() %}
            {% if c.is_string(handler) %}
              {% call navitem(c, handler) %} {{ title }} {% endcall %}
            {% else %}
              {% call navdropdown(c, handler) %} {{ title }} {% endcall %}
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="navbar-right">
          {% for title, handler in c.get_right_nav_items() %}
            {% if c.is_string(handler) %}
              {% call navitem(c, handler) %} {{ title }} {% endcall %}
            {% else %}
              {% call navdropdown(c, handler) %} {{ title }} {% endcall %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
  <hr>
  <div class="container">
    <footer>
      © CubingUSA 2017
    </footer>
  </div>
  <script src="/static/external/popper.min.js" type="application/javascript"></script>
  <script src="/static/external/bootstrap.min.js" type="application/javascript"></script>
</body>
</html>
{% endautoescape %}
