<!DOCTYPE html>
{% autoescape true %}
{% macro navitem(c, uri) %}
  {% set active = c.uri_matches(uri) %}
  <li>
    <a class="nav-item nav-link {% if active %}active{% endif %}"
       href="{{ uri }}">
      {{ caller() }}{% if active %}<span class="sr-only"> (current)</span>{% endif %}
    </a>
  </li>
{% endmacro %}
{% macro navdropdown(c, uri_list, dropdown_id) %}
  {% set active = False %}
  {% for text, uri in uri_list %}
    {% if c.uri_matches(uri) %}
      {% set active = True %}
    {% endif %}
  {% endfor %}
  <div class="dropdown {% if active %}active{% endif %}">
    <a class="nav-link dropdown-toggle"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
      {{ caller() }}
    </a>
    <div class="dropdown-menu {% if active %}active{% endif %}"
         role="menu">
      {% for text, uri in uri_list %}
        <a class="dropdown-item {% if c.uri_matches(uri) %}active{% endif %}"
           href="{{ uri }}">
          {{ text }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CubingUSA - {%block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/external/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/static/base.css" type="text/css">
  {% block head %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{{ c.uri_for('home') }}">
        <img src="/static/img/cubingUSA_4.svg" width="50" height="50"> CubingUSA
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topnav">
        <ul class="nav navbar-nav">
          {% call navitem(c, c.uri_for('home')) %} Home {% endcall %}
          {% call navdropdown(c, [('US Competitions', c.uri_for('competitions_us')),
                                  ('Nationals', c.uri_for('competitions_nationals')),
                                  ('Regional Championships', c.uri_for('competitions_regional'))],
                              'competitions') %}
            Competitions
          {% endcall %}
          {% call navitem(c, c.uri_for('organizers')) %} Organizers {% endcall %}
          {% call navdropdown(c, [('About CubingUSA', c.uri_for('about')),
                                  ('Why we do this', c.uri_for('about_why')),
                                  ('Who we are', c.uri_for('about_who')),
                                  ('Donations', c.uri_for('about_donations'))],
                              'about') %}
            About
          {% endcall %}
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
  <hr>
  <div class="container">
    <footer>
      © CubingUSA 2017
    </footer>
  </div>
  <script src="/static/external/jquery-3.2.1.slim.min.js" type="application/javascript"></script>
  <script src="/static/external/popper.min.js" type="application/javascript"></script>
  <script src="/static/external/bootstrap.min.js" type="application/javascript"></script>
</body>
</html>
{% endautoescape %}
