{% autoescape true %}
{% macro championship_row(competition, winning_results) %}
  <div class="row">
    <div class="col-sm-1 col-3">
      <a href="https://worldcubeassociation.org/competitions/{{ competition.key.id() }}" target="_blank">
        {{ competition.year }}
      </a>
    </div>
    <div class="col-sm-3 d-none d-sm-block">
      {{ competition.city_name }}{% if competition.state %}, {{ competition.state.id().upper() }}{% endif %}
    </div>
    <div class="col-sm-8 col-9">
      {% for winning_result in winning_results %}
        <a href="{{ c.wca_profile(winning_result.person.id()) }}">
          {{ winning_result.person_name -}}
        </a>{% if loop.index < c.len(winning_results) %}, {% endif %}
      {% endfor %}
      &ndash; {{ c.formatters.FormatResult(winning_results[0], verbose=True) }}
    </div>
  </div>
{% endmacro %}

{% for competition, winning_results in competitions_and_winners %}
  {{ championship_row(competition, winning_results) }}
{% endfor %}
{% endautoescape %}
