{% autoescape true %}
{% import "components/event_icon.html" as event_icon %}
{% macro competition_row(competition) %}
<div class="competition-row-container"
     data-evts="{{ competition.GetEventsString() }}">
  <a href="{{ competition.GetWCALink() }}" target="_blank">
    <div class="row competition-row">
      <div class="state-container">
        <div class="state {{ competition.state.get().region.get().CssClass() }}">
          <div class="vcenter">
            {{ competition.state.id().upper() }}
          </div>
        </div>
      </div>
      <div class="rest-of-competition-row">
        <div class="comp-dates">
          <div class="date-with-year">
            {% autoescape false %}
              {{ c.format_date_range(competition.start_date, competition.end_date,
                                     include_year=True) }}
            {% endautoescape %}
          </div>
          <div class="date-no-year">
            {% autoescape false %}
              {{ c.format_date_range(competition.start_date, competition.end_date,
                                     include_year=False) }}
            {% endautoescape %}
          </div>
        </div>
        <div class="comp-name">
          <div class="vcenter">
            {{ competition.name }}
          </div>
        </div>
        <div class="event-list">
          <div class="row">
            {% for evt in c.sort_events(competition.events) %}
              {{ event_icon.event_icon(evt.get(), 'small-event-icon') }}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
{% endmacro %}
{% for competition in competitions %}
  {{ competition_row(competition) }}
{% endfor %}
{% endautoescape %}
