{% import "components/event_selector.html" as event_selector %}
{% import "components/region_selector.html" as region_selector %}
{% import "components/year_selector.html" as year_selector %}
{% extends "base.html" %}
{% block title%}US Competitions{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/static/css/competitions_us.css" type="text/css">
{% endblock %}
{% block content %}
  <h1>US Competitions</h1>
  {{ year_selector.year_selector(c, include_upcoming=True) }}
  {{ event_selector.event_selector(c, include_magic=False, include_mbo=False) }}
  {{ region_selector.region_selector(c) }}
  <div id="us_competitions_container"></div>
  <script src="/static/js/competitions_us.js" type="application/javascript"></script>
{% endblock %}
