{% import "components/event_icon.html" as event_icon %}
{% import "components/event_selector.html" as event_selector %}
{% extends "base.html" %}
{% block title%}US Competitions{% endblock %}
{% block content %}
{% macro competition_row(competition) %}
<div class="card competition-row-container"
     data-evts="{{ competition.GetEventsString() }}">
  <a href="{{ competition.GetWCALink() }}" target="_blank">
    <div class="row competition_row">
      <div class="col-2 col-sm-1">
        <div class="card state region_{{ competition.state.get().region.id() }}">
          <div class="vcenter">
            {{ competition.state.id().upper() }}
          </div>
        </div>
      </div>
      <div class="col-4 col-sm-2">
        <div class="vcenter">
          {% autoescape false %}
            {{ c.format_date_range(competition.start_date, competition.end_date) }}
          {% endautoescape %}
        </div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="vcenter">
          {{ competition.name }}
        </div>
      </div>
      <div class="col-12 col-sm-5">
        <div class="row">
          {% for evt in c.sort_events(competition.events) %}
            {{ event_icon.event_icon(evt.get(), 'small-event-icon') }}
          {% endfor %}
        </div>
      </div>
    </div>
  </a>
</div>
{% endmacro %}
  <h1>US Competitions</h1>
  {{ event_selector.event_selector(c, 'comp_event_selector', 'selectCompEvent') }}
  {% for competition in competitions %}
    {{ competition_row(competition) }}
  {% endfor %}
  <script src="/static/competitions_us.js" type="application/javascript"></script>
{% endblock %}
