{% import "components/contact.html" as contact %}
{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}Contact{% endblock %}
{% block style %}
  {{ css.css(c, 'about') }}
  {{ css.css(c, 'contact') }}
{% endblock %}
{% block content %}
  <div class="about-row">
    {% call contact.contact_form(c, result) %}
      <p>If you have questions about CubingUSA Nationals, please use the <a href="/nationals/2018/contact">Nationals contact form</a>.
    {% endcall %}
  </div>
  <div class="about-row">
    <div class="standard-block">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Mailing Address</h4>
          <address>
            <strong>CubingUSA</strong><br>
            18 Bartol Street #987<br>
            San Francisco, CA 94133<br>
          </address>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/contact.js" type="application/javascript"></script>
{% endblock %}
