{% extends "base.html" %}
{% block title%}Donate{% endblock %}
{% block content %}
  <div class="container">
    <h1>Donations</h1>
    <div class="row about_row">
      <div class="col-sm-8 col-12 about_text">
        CubingUSA is a 501(c)(3) tax-exempt non-profit organization entirely run by volunteers, who dedicate many hours per week to supporting our community and enriching the lives of our competitors.  We're happily accepting donations from anyone interested in contributing to our goal, and your donations are tax-deductible to the extent allowed by law.
      </div>
      <div class="col-sm-4 col-12">
        <img src="/static/img/bob.jpg" width="100%">
      </div>
    </div>
    <div class="row about_row">
      <div class="col-sm-8 order-sm-2 col-12 about_text">
        Our budget each year mostly consists of CubingUSA Nationals.  In 2017, this competition cost over $30,000 to organize.  This includes expenses such as:
        <ul>
          <li>Reserving a large venue for four days</li>
          <li>Procuring equipment such as timers and A/V</li>
          <li>Providing hotel accommodations to the volunteer staff</li>
        </ul>
        We strive to keep the competition affordable to competitors and their families, both by keeping registration fees low and holding the competition in a city large enough to have a major airport.  We also look for opportunities to provide a better competition experience. 
      </div>
      <div class="col-sm-4 order-sm-1 col-12">
        <img src="/static/img/nats2014.jpg" width="100%">
      </div>
    </div>
    <div class="row about_row">
      <div class="col-sm-8 col-12 about_text">
        We're actively on the lookout for opportunities to support our community in more ways.  With further financial resources, we could pursue opportunities such as:
        <ul>
          <li>Subsidizing the cost of timing equipment and travel for organizers in smaller, newer communities</li>
          <li>Outreach to schools to find ways to enhance STEM education via puzzles</li>
          <li>Creating a scholarship for volunteers in our community seeking secondary education</li>
        </ul>
      </div>
      <div class="col-sm-4 col-12">
        <img src="/static/img/collin_burns_img.jpg" width="100%">
      </div>
    </div>
    <div class="row about_row">
      <div class="col-sm-4 col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">PayPal</h4>
            <p class="card-text">
              <a href="https://paypal.me/cusa" target="_blank">
                <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/logo-center/15_nowaccepting_blue_badge.jpg">
              </a>
            </p>
            <p class="card-text">We accept donations via PayPal.  Please click the button below to make a donation.</p>
            <a href="https://paypal.me/cusa" class="btn btn-primary" target="_blank">
              Click here to donate &raquo;
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Check</h4>
            <p class="card-text">Please make checks payable to "CubingUSA", and send them to:</p>
            <address>
              <strong>CubingUSA</strong><br>
              660 4th St, #549<br>
              San Francisco, CA 94107-1618<br>
            </address>
            <p class="card-text">Our EIN is 81-1056904.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Other Sponsorships</h4>
            <p class="card-text">If you'd like to discuss sponsorship opportunities to increase your impact on CubingUSA and our community, please contact us directly.</p>
            <a href="#" class="btn btn-primary">
              Contact &raquo;
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
