{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}Home{% endblock %}
{% block style %}
  {{ css.css(c, 'index') }}
{% endblock %}
{% block content %}
  <div class="container">
  <p>
  <div class="card" id="main-card">
    <figure>
      <img class="card-img-top" src="/static/img/group-photo-2015.jpg"
           alt="Competitors, spectators, and staff at Nationals 2015">
      <figcaption>
        Photo Credit: <a href="https://www.flickr.com/photos/topherolson/19632948834/in/album-72157656315692998/" target="_blank">Chris Olson</a>
      </figcaption>
    </figure>
    <div class="card-body">
      <div class="photo-credit">
      </div>
      <h1 class="card-title">CubingUSA</h1>
      <div class="card-text">
        <p>CubingUSA's goal is to support and grow the US speedcubing community.  We organize the US National Championships every summer, and support a number of other competitions throughout the year.</p>
        <p>
          <a class="button" href="{{ c.uri_for('about') }}" role="button">Learn More</a>
          <a class="button" href="{{ c.uri_for('about_donations') }}" role="button">Donate</a>
        </p>
      </div>
    </div>
  </div>
  </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="standard-block">
        <div class="card">
          <a href="/nationals"><img class="card-img-top" src="/static/img/nats-logo-2019-full-1024.png" alt="CubingUSA Nationals 2019"></a>
          <div class="card-body">
            <h4 class="card-title">CubingUSA Nationals</h4>
            <p class="card-text">We're pleased to announce that Rubik's Presents CubingUSA Nationals 2019 will be held <b>August 1-4, 2019</b> in <b>Baltimore, Maryland!</b></p>
            <a href="/nationals" class="button">Learn More</a>
          </div>
        </div>
      </div>
      <div class="standard-block">
        <div class="card">
          <!-- <img class="card-img-top" src="/static/img/cubingUSA_4.svg" alt="Regional Championships">
          <div class="card-body">
            <h4 class="card-title">Regional Championships</h4>
            <p class="card-text">Each year, we host seven Regional Championships across the country, allowing lots of different cubers a chance to compete for a title.</p>
            <a href="{{ c.uri_for('competitions_regional') }}" class="button">Learn More</a>
          </div> -->
          <!-- <div class="card-header"><h4 class="card-title">Recent Posts</h4></div> -->

          <ul class="list-group list-group-flush">
            <li class="list-group-item active"><h3>Recent Posts</h3></li>
            <li class="list-group-item">Test Posts <a href="cubingusa.org">Read More</a></li>
            <li class="list-group-item">Will Appear Here <a href="cubingusa.org">Read More</a></li>
            <li class="list-group-item">Regional Championships Announced! <a href="cubingusa.org">Read More</a></li>
            <li class="list-group-item">Make sure to check out our new logo!</li>
          </ul>

        </div>
      </div>
      <div class="standard-block">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">More Links</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="https://www.worldcubeassociation.org/competitions?region=USA" target="_blank">Upcoming US Competitions</a>
            </li>
            <li class="list-group-item">
              <a href="http://cubecomps.com" target="_blank">Cubecomps Live Results</a>
            </li>
            <li class="list-group-item">
              <a href="{{ c.uri_for('state_rankings') }}">State Rankings</a>
            </li>
            <li class="list-group-item">
              <a href="https://worldcubeassociation.org" target="_blank">World Cube Association</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
