{% extends "base.html" %}
{% block title%}Home{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/static/css/index.css" type="text/css">
{% endblock %}
{% block content %}
  <div class="container">
  <p>
  <div class="card">
    <img class="card-img-top"
         src="/static/img/group-photo-2015.jpg"
         alt="Competitors, spectators, and staff at Nationals 2015">
    <div class="card-body main-card">
      <h1 class="card-title">CubingUSA</h1>
      <div class="card-text">
        <p>CubingUSA's goal is to support and grow the US speedcubing community.  We organize the US National Championships every summer, and support a number of other competitions throughout the year.</p>
        <p>
          <a class="button" href="{{ c.uri_for('about') }}" role="button">Learn More</a>
          <a class="button" href="{{ c.uri_for('about_donations') }}" role="button">Donate</a>
        </p>
      </div>
    </div>
  </div>
  </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="standard-block">
        <div class="card">
          <img class="card-img-top" src="/static/img/nats-logo-2017.png" alt="CubingUSA Nationals 2017">
          <div class="card-body">
            <h4 class="card-title">CubingUSA Nationals</h4>
            <p class="card-text">Congratulations to Max Park for winning CubingUSA Nationals 2017 in Fort Wayne, Indiana!  We're working hard on finalizing the venue and date for 2018 &mdash; stay tuned!</p>
            <a href="{{ c.uri_for('competitions_nationals') }}" class="button">Learn More</a>
          </div>
        </div>
      </div>
      <div class="standard-block">
        <div class="card">
          <img class="card-img-top" src="/static/img/cubingUSA_4.svg" alt="Regional Championships">
          <div class="card-body">
            <h4 class="card-title">Regional Championships</h4>
            <p class="card-text">Starting in 2018 we'll be hosting Regional Championships across the country, allowing lots of different cubers a chance to compete for a title.</p>
            <a href="{{ c.uri_for('competitions_regional') }}" class="button">Learn More</a>
          </div>
        </div>
      </div>
      <div class="standard-block">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">More Links</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="https://worldcubeassociation.org" target="_blank">World Cube Association</a>
            </li>
            <li class="list-group-item">
              <a href="https://www.worldcubeassociation.org/competitions?region=USA" target="_blank">Upcoming US Competitions</a>
            </li>
            <li class="list-group-item">
              <a href="http://cubecomps.com" target="_blank">Cubecomps live results</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
