{% import "components/event_selector.html" as event_selector %}
{% extends "base.html" %}
{% block title%}Nationals{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1>CubingUSA Nationals</h1>
    <p>
      CubingUSA would like to thank all competitors, staff, and spectators who made CubingUSA Nationals 2017 in Fort Wayne, Indiana, the largest and most successful Nationals to date.  We congratulate <strong>Max Park</strong> on his first US National championship.
    </p>
    <p>
      We're working hard on finalizing the details of CubingUSA Nationals 2018.  We'll let you know the date and location as soon as we can; watch this space for more information.
    </p>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Past <span id="nationals-evt"></span> National Champions</h4>
      {{ event_selector.event_selector(c) }}
      <div id="champions-table"></div>
    </div>
  </div>
  <script src="/static/js/nationals.js" type="application/javascript"></script>
{% endblock %}
