{% import "components/event_selector.html" as event_selector %}
{% extends "base.html" %}
{% block title%}Nationals{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/static/css/nationals.css" type="text/css">
{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1>CubingUSA Nationals</h1>
    <p>
      CubingUSA would like to thank all competitors, staff, and spectators who made CubingUSA Nationals 2017 in Fort Wayne, Indiana, the largest and most successful Nationals to date.  We congratulate <strong>Max Park</strong> on his first US National championship.
    </p>
    <p>
      CubingUSA Nationals 2018 will be held <strong>July 27-29, 2018</strong>.  We'll announce the location on December 1, stay tuned!
    </p>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Past <span id="nationals-evt"></span> National Champions</h4>
      {{ event_selector.event_selector(c, include_magic=True, include_mbo=False) }}
      <div id="champions-table"></div>
      <div class="spinner" id="nats-spinner"></div>
    </div>
  </div>
  <script src="/static/js/nationals.js" type="application/javascript"></script>
{% endblock %}
