{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}New England Cubing{% endblock %}
{% block content %}
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h1>New England Cubing</h1>
        </div>
        <div class="card-text">
          <h2>Welcome!</h2>
          <p>
            New England has a vibrant cubing community with competitions happening regularly in many areas. We are focused on facilitating enjoyable competitions in the region, and bringing events to new regions. If you have any feedback or suggestions, please contact <a href="mailto:newengland@cubingusa.org">newengland@cubingusa.org</a>. If you're interested in having a competition in your area, please take a look at the <a href="#">information for organizers</a> page.
          </p>

          <p>
              <a class="btn btn-primary" href="{{ c.uri_for('newengland-mailing') }}" role="button">Get notified about upcoming competitions</a>
              <a class="btn btn-primary" href="{{ c.uri_for('newengland-organizing') }}" role="button">Information for organizers</a>
          </p>
          <br />
          <h2>Delegates</h2>
          <p>
            The region lead for New England is Matthew McMillan <a href="mailto:mmcmillan@worldcubeassociation.org" class="badge badge-primary"><i class="fa fa-envelope"></i> mmcmillan@worldcubeassociation.org</a>, who should be contacted with any concerns about the region as a whole. The Delegates in New England are:
          </p>

          <ul>
            <li>Arthur Adams <a href="mailto:aadams@worldcubeassociation.org" class="badge badge-primary"><i class="fa fa-envelope"></i> aadams@worldcubeassociation.org</a> - Connecticut</li>
            <li>JP Bulman <a href="mailto:jbulman@worldcubeassociation.org" class="badge badge-primary"><i class="fa fa-envelope"></i> jbulman@worldcubeassociation.org</a> - Massachusetts</li>
            <li>Matthew McMillan <a href="mailto:mmcmillan@worldcubeassociation.org" class="badge badge-primary"><i class="fa fa-envelope"></i> mmcmillan@worldcubeassociation.org</a> - Massachusetts</li>
            <li>Micah Stairs <a href="mailto:mstairs@worldcubeassociation.org" class="badge badge-primary"><i class="fa fa-envelope"></i> mstairs@worldcubeassociation.org</a> - Massachusetts</li>
            <li>Tim Reynolds <a href="mailto:treynolds@worldcubeassociation.org" class="badge badge-primary"><i class="fa fa-envelope"></i> treynolds@worldcubeassociation.org</a> - Massachusetts</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
