{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}New England Organizing{% endblock %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h1>New England Organizing</h1>
      </div>
      <div class="card-text">
        <p>If you are looking to organize a cube competition in New England, you’re in the right place! Please read this
          <strong>entire</strong> page before getting in touch with your local Delegate, as it is important that you understand exactly what organizing involves.
        </p>
        <p>
          <a href="https://docs.google.com/spreadsheets/d/1-qjvGF3loVR0sr-AaDGZE2C7YgwcC1dP2wdPc3BT8fM/edit?usp=sharing">Here</a> is a link to the competition organization spreadsheet. It will be discussed later on this page. Please go to this page, go to File &gt; Make a Copy, and rename it to your competition.
        </p>
        <h2>
          <a id="Are_You_Qualified_4"></a>Are You Qualified?
        </h2>
        <p>If would like to organize, you should have a very good understanding of how competitions work. This does not mean you need to know everything, but you should have helped out significantly during at least a few competitions. If you have helped out significantly, you’ve probably interacted with a Delegate and they probably know who you are. You should also have a general idea of which events are popular, how events typically take, and how different staff roles help the competition run.</p>
        <p>Regardless of prior experience, organizing is much easier on a team. We suggest organizing with at least one other person due to the time commitment required. We do have some local organizers who we may be able to connect with that have expressed interest in helping new organizers.</p>
        <h2>
          <a id="Getting_in_Touch_9"></a>Getting in Touch
        </h2>
        <p>Once you are ready to contact us, please send an email to
          <a href="mailto:newengland@cubingusa.org">newengland@cubingusa.org</a>. This address goes to all local Delegates and some veteran organizers who are happy to help out. We do our best to respond promptly, but if you don’t hear back within a week, please follow up to make sure we did not miss your message.
        </p>
        <h2>
          <a id="Role_of_the_Organizer_and_the_Delegate_13"></a>Role of the Organizer and the Delegate
        </h2>
        <p>The organizer and Delegate have several roles, but these can vary by region throughout the world. Here we want to describe exactly what the Delegate will do, and what the organizer (you) will need to do.</p>
        <h3>
          <a id="The_Date_16"></a>The Date
        </h3>
        <p>Competitions have to be about 3 weeks apart if they are within 100km of each other by WCA Regulations. Work with the Delegate to select a date that works for the Delegate, the organizers, and the venue. Keep in mind any major holidays or other events that could affect turnout.</p>
        <h3>
          <a id="The_Venue_19"></a>The Venue
        </h3>
        <p>The organizer is entirely responsible for choosing and booking the venue. The Delegate must approve the venue, so do not book without explicit Delegate approval. In general, a venue should have:</p>
        <ul>
          <li>enough space for everyone (there is usually one guest per competitor, so the room should be able to easily hold double the competitor limit)</li>
          <li>an internet connection, preferably WiFi</li>
          <li>a reasonable temperature</li>
          <li>a reasonable price (this will be discussed later)</li>
          <li>a PA system (nice to have, but not a requirement)</li>
          <li>a projector (also nice to have but not necessary)</li>
          <li>tables (competitor tables are absolutely required or must be rented, tables for the audience are also nice)</li>
          <li>lighting that is appropriate for solving that will be relatively consistent throughout the day</li>
        </ul>
        <p>Schools and universities can often provide low-cost venues. Be sure to make note of required custodians or police officers, as this usually costs extra. Community centers or places of worship (like churches) are also good candidates.</p>
        <h3>
          <a id="PA_System_WiFi_32"></a>PA System, WiFi
        </h3>
        <p>It’s preferable to have a PA system, but let the Delegate know in advance if the venue doesn’t have one so other arrangements can be made. Similarly, it’s possible to have a competition without WiFi, but it is difficult and requires planning with the Delegate.</p>
        <h3>
          <a id="Finances_35"></a>Finances
        </h3>
        <p>The organizer is responsible for creating a budget, but the Delegate will need to approve it. The organizer will usually need to create a Stripe account to collect the registration fees and link this to the WCA website. Please fill out the budget tab in the spreadsheet linked to at the top of this document when it’s time to make a budget. Note that you should plan for registration income to cover printing costs, battery costs, and any other costs related to the competition while still leaving a safe margin to ensure positive net income. We generally prefer to use net income from a competition to purchase future equipment for the region.</p>
        <h3>
          <a id="Events_38"></a>Events
        </h3>
        <p>Work with the delegate to select the events for the competition. In general, at most competitions we recommend holding a few events like 3x3x3, 2x2x2, and Pyraminx that are popular with a large number of competitors. The organizer should create a tentative schedule based on what seems realistic. It’s good to add buffer time in case some events run longer than scheduled. The Delegate will help adjust the schedule to be more reasonable if needed.</p>
        <h3>
          <a id="The_Schedule_41"></a>The Schedule
        </h3>
        <p>The organizer is responsible for creating the schedule, and the Delegate will approve it and make suggestions to try to accurately reflect realistic times. Please fill out the scheduling section of the spreadsheet at the top of this document when it’s time to make a schedule.</p>
        <p>Competitions should have a new competitor tutorial at or around the beginning of the day before any popular events have started. They should also have some buffer time during the day in case the competition falls behind schedule. One way to do this is to make lunch longer than it needs to be so that it can also serve as a buffer if needed.</p>
        <h3>
          <a id="Competitor_Limits_46"></a>Competitor Limits
        </h3>
        <p>Competitor limits are strictly enforced as per WCA Regulations. No competitors can be accepted when the limit is reached under any circumstances, so be cautious when accepting registrations. This means that organizers must carefully consider the competitor limit. There are typically twice the number of people at the competition as there are competitors (so 200 total people if the cap is 100). Most local competitions have caps of about 90-150. In areas with lower turnout, it is fine to go below 90, but only experienced organizers should attempt to organize competitions with over 150 competitors.</p>
        <h3>
          <a id="Waitlists_49"></a>Waitlists
        </h3>
        <p>It is a good idea for competitions to have a waitlist. This allows competitors who cannot make it to be replaced by others. Waitlist information must be posted on the website when the competition is announced Typically, waitlisted individuals are asked to pay, and then are refunded if they do not get a spot. This policy works best with a partial refund for competitors who drop out to encourage them to let the organizers know in advance. There should be a final date when the waitlist stops moving and refunds stop. Leave at least one week before the competition for this so there is time to print scorecards.</p>
        <h3>
          <a id="The_Website_52"></a>The Website
        </h3>
        <p>The Delegate will create a template WCA website for the competition and send the organizer a link. This link will only be visible to organizers signed in with their WCA accounts. The organizers are responsible for filling in all relevant information, and then the Delegate will approve the site and send it to the WCA Competition Announcement Committee when it is ready to announce. It is good practice to leave at least a week between the announcement and the time when registration opens so competitors can learn more about the competition. Additionally, a week between the closing of registration and the competition itself gives organizers time to print scorecards and prepare groups.</p>
        <h3>
          <a id="Competition_Staff_55"></a>Competition Staff
        </h3>
        <p>We have a template of a Google Form we use to collect staff applications which the Delegate will set up. While Delegates can provide guidance, the organizer is responsible for providing lunch to the staff and properly coordinating with all staff members.</p>
        <p>Staff typically have perks of free registration and provided lunch in exchange for helping out all day. Staff must pay to register and will be refunded after the competition to ensure that they do show up and help out. Staff applications are posted on the website to allow anyone to fill out a form and apply, but it is up to the Delegate’s discretion to vet these people and make sure qualified people will be running the competition.</p>
        <h3>
          <a id="Lunch_60"></a>Lunch
        </h3>
        <p>The organizers can choose to provide lunch for the competitors and their families. This is particularly important if there are not many places to eat near the venue. Pizza is a cheap option, but large orders need to be arranged with the restaurant in advance. Often, the restaurant may offer special pricing for large orders.</p>
        <h3>
          <a id="Sponsorship_63"></a>Sponsorship
        </h3>
        <p>Many competitions are sponsored by cube stores, who will provide prizes and sometimes even vend at the competition. Organizers can reach out to cube stores or other organizations if they are interested. This should be done before the competition is announced.</p>
        <h3>
          <a id="CubingUSA_Supported_Competitions_66"></a>CubingUSA Supported Competitions
        </h3>
        <p>CubingUSA has a
          <a href="https://cubingusa.org/supported">supported competition policy</a>.
        </p>
        <p>The main benefits of a supported competition is their nonprofit status (which can result in venue discounts) and that finances are handled in a more official way. The Delegate can help the organizers determine if this fits the competition’s needs.</p>
        <h2>
          <a id="After_Announcing_71"></a>After Announcing
        </h2>
        <p>After announcing the competition, it is critical for the organizers to respond to emails in a timely manner as competitors may reach out with questions. The Delegate may also have requests or questions.</p>
        <h3>
          <a id="Accepting_Registrations_75"></a>Accepting Registrations
        </h3>
        <p>Registration is done on the WCA website. When a competitor pays, they will need to be manually accepted by the organizer to be fully registered. This should be done promptly so the competitor can be sure they are registered.</p>
        <h3>
          <a id="CubeComps_79"></a>CubeComps
        </h3>
        <p>CubeComps is the main live results system for WCA competitions. Organizers should email
          <a href="mailto:admins@cubecomps.com">admins@cubecomps.com</a> after the competition is announced to set up a site. There is also some setup work involved in actually importing your registration file, and the organizer must also set up rounds and cutoffs within CubeComps.
        </p>
        <h3>
          <a id="Scorecards_and_Certificates_82"></a>Scorecards and Certificates
        </h3>
        <p>The organizer is responsible for generating and printing scorecards as well as designing and printing the certificates.
          <a href="https://jonatanklosko.github.io/groupifier-next/#/">Groupifier</a> is typically used for scorecard generation of first round cards and CubeComps is used to generate blank cards. You should post groups on the website when they have been generated.
        </p>
        <p>Certificates are the responsibility of the organizers, the Delegate may be able to put you in touch with someone to help design them if needed.</p>
        <h3>
          <a id="Precompetition_Email_87"></a>Pre-competition Email
        </h3>
        <p>A few days before the competition, it’s good to send out any important information by email. This includes groups, parking information, and any information that may have changed between the announcement and now.</p>
        <h3>
          <a id="During_the_Competition_90"></a>During the Competition
        </h3>
        <p>The Delegate will usually arrive early to help set up, but it is ideal when the venue can be set up the night before. The organizer is expected to arrive well before the start of the competition. The organizers are in charge of running the competition. The Delegate’s role is to ensure that WCA Regulations are being followed, not to run the event. That being said, Delegates have significant organizing experience and will serve as a resource to the organizer.</p>
        <p>Some examples of organizer tasks include:</p>
        <ul>
          <li>making announcements when need</li>
          <li>ensuring scorecards are laid out for upcoming events</li>
          <li>managing staff to make sure all roles are filled as needed</li>
          <li>answering questions from or directing competitors and spectators as needed</li>
          <li>working with the venue’s management to resolve any problems</li>
          <li>keeping the competitor area separated from the audience</li>
        </ul>
        <h2>
          <a id="Wrapping_up_101"></a>Wrapping up
        </h2>
        <p>Please get in touch with us if there’s anything you feel should be added to this guide, or if you have any questions. We look forward to hearing from you soon!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}