{% extends "base.html" %}
{% block title%}Home{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/static/css/index.css" type="text/css">
{% endblock %}
{% block content %}
  <div class="container">
    <h1>CubingUSA Supported Competitions</h1>
    <div>
      <p>
        CubingUSA offers local organizers the option of running their competition under the auspices of CubingUSA.  Because CubingUSA is a 501(c)(3) non-profit corporation, this option will often be financially preferable to organizing competitions as an individual.
      </p>
      <h3>Requirements</h3>
      <p>
        Organizers must submit an application including a budget and other competition details at least <b>60 days in advance</b>.  Income and expenses need to be pre-approved, and generally should be paid or received by CubingUSA.  In order ensure that non-profit laws are followed, there are limitations to what expenses a competition may pay.
      </p>
      <p>
        A <b>Deputy</b> appointed by the CubingUSA Board of Directors must participate in the organization of the competition, and must be present at the competition.  The Deputy is responsible for ensuring all relevant policies are followed, and for reporting any potential issues to the Board of Directors.
      </p>
      <p>
        The full policy is available on our <a href="{{ c.uri_for('documents') }}">Documents</a> page.
      </p>
      <h3>More Information</h3>
      <p>
        If you are interested in organizing a CubingUSA Supported Competition, please contact your WCA Delegate or the <a href="{{ c.uri_for('contact') }}">CubingUSA Board</a> for more information.
      </p>
    </div>
  </div>
{% endblock %}
