{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}Home{% endblock %}
{% block content %}
  <div class="container">
    <h1>CubingUSA Supported Competitions</h1>
    <div>
      <p>
        Most WCA-recognized competitions in the US are run independently by local organizers with no involvement from CubingUSA.
      </p>
      <p>
        CubingUSA Supported Competitions are an <strong>optional</strong> way for US organizers to run a competition under the auspices of CubingUSA, which means that all finances fall under the domain of CubingUSA.
      </p>
      <p>
        Organizers, please visit the <a href="https://organizers.cubingusa.org/">CubingUSA Organizer Policies</a> site for details.
      </p>
    </div>
  </div>
{% endblock %}
