{% import "components/event_selector.html" as event_selector %}
{% macro event_list(c, competition_details) %}
  {% if not competition_details.schedule %}
    <div class="alert alert-warning">
      The organizers of {{ competition_details.competition.name }} haven't published a schedule yet.  Check back here soon!
    </div>
  {% else %}
    {{ event_selector.event_selector(c, events=competition_details.GetWcaEvents()) }}
    <div class="event-list-container">
      <div class="event-list">
        {% for e in competition_details.GetEvents() %}
          {% set wca_evt = e.GetEvent() %}
          <div class="event-details" id="eventinfo_{{ e.GetEvent().key.id() }}">
            <img src="{{ wca_evt.IconURL() }}" class="event-icon">
            <div class="event-title">
              {{ wca_evt.name }}
            </div>
          </div>
          <div class="round-details-container">
            {% for r in e.GetRounds() %}
              {% set sched_round = r.GetRound() %}
              <div class="round-details">
                <span class="round-number">
                  {% if sched_round.is_final %}
                    Final:
                  {% else %}
                    <span class="desktop-only">Round {{ sched_round.number }}:</span>
                    <span class="mobile-only">R{{ sched_round.number }}:</span>
                  {% endif %}
                </span>
                {% if sched_round.num_competitors %}
                  <span class="num-competitors">
                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                    Top {{ sched_round.num_competitors }}
                  </span>
                {% elif sched_round.number == 1 and e.GetQualifyingTime() %}
                  <div class="qualifying-time">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span class="desktop-only">
                      Qualifying:
                      {{ c.formatters.FormatQualifying(e.GetQualifyingTime(),
                                                       sched_round.event,
                                                       is_average=e.QualifyingTimeIsAverage(),
                                                       short_units=False) }}
                      {% if e.QualifyingTimeIsAverage() %}
                        (Average)
                      {% else %}
                        (Single)
                      {% endif %}
                    </span>
                    <span class="mobile-only">
                      {{ c.formatters.FormatQualifying(e.GetQualifyingTime(),
                                                       sched_round.event,
                                                       is_average=e.QualifyingTimeIsAverage(),
                                                       short_units=True) }}
                    </span>
                    {% if competition_details.user and competition_details.user.wca_person %}
                      {% if e.IsQualified() %}
                        <i class="fa fa-check" style="color: green;"></i>
                      {% else %}
                        <i class="fa fa-times" style="color: red;"></i>
                      {% endif %}
                    {% endif %}
                  </div>
                {% endif %}
                {% if sched_round.cutoff or sched_round.time_limit %}
                  <span class="time-limit">
                    <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                    {% if competition_details.HasCutoffs() %}
                      <span class="desktop-only">Cutoff:</span>
                      {% if sched_round.cutoff %}
                        <span class="desktop-only">
                          {{ c.formatters.FormatTime(sched_round.cutoff,
                                                     sched_round.event,
                                                     is_average=False, verbose=True,
                                                     trim_zeros=True, short_units=False) }}
                        </span>
                        <span class="mobile-only">
                          {{ c.formatters.FormatTime(sched_round.cutoff,
                                                     sched_round.event,
                                                     is_average=False, verbose=True,
                                                     trim_zeros=True, short_units=True) }}
                        </span>
                      {% else %}
                        &ndash;
                      {% endif %}
                      /
                    {% endif %}
                    <span class="desktop-only">Time Limit:</span>
                    {% if sched_round.time_limit %}
                      <span class="desktop-only">
                        {{ c.formatters.FormatTime(sched_round.time_limit,
                                                   sched_round.event,
                                                   is_average=False, verbose=True,
                                                   trim_zeros=True, short_units=False) }}
                      </span>
                      <span class="mobile-only">
                        {{ c.formatters.FormatTime(sched_round.time_limit,
                                                   sched_round.event,
                                                   is_average=False, verbose=True,
                                                   trim_zeros=True, short_units=True) }}
                      </span>
                    {% else %}
                      &ndash;
                    {% endif %}
                  </span>
                {% endif %}
                <span class="format">
                  <i class="fa fa-calculator" aria-hidden="true"></i>
                  <span class="desktop-only">{{ sched_round.format.get().name }}</span>
                  <span class="mobile-only">{{ sched_round.format.get().GetShortName() }}</span>
                </span>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div id="event-key">
        {% if competition_details.HasMultipleRoundEvents() %}
          <div class="event-key-row">
            <span class="num-competitors">
              <i class="fa fa-hashtag" aria-hidden="true"></i>
              Top N
            </span>
            The number of competitors who will advance from the previous round.
          </div>
        {% endif %}
        {% if competition_details.HasQualifyingTimes() %}
          <div class="event-key-row">
            <span class="qualifying-time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              Qualifying times
            </span>
            must be set in other WCA competitions in order to register for this event.
          </div>
        {% endif %}
        <div class="event-key-row">
          <span class="time-limit">
            <i class="fa fa-hourglass-end" aria-hidden="true"></i>
            {% if competition_details.HasCutoffs() %}Cutoff / {% endif %}Time Limit
          </span>
          {% if competition_details.HasCutoffs() %}
            You will need to beat the <strong>cutoff</strong> on one of your first 2 attempts (for an <strong>Average of 5</strong> event), or on your first attempt (for a <strong>Mean of 3</strong> event), to complete your average.
          {% endif %}
          If any of your attempts pass the <strong>time limit</strong>, you won't be able to complete that attempt.
        </div>
      </div>
    </div>
    <script src="/static/js/scheduling/event_list.js" type="application/javascript"></script>
  {% endif %}
{% endmacro %}
