{% macro event_list(c, competition_details) %}
  {% if not competition_details.schedule %}
    <div class="alert alert-warning">
      The organizers of {{ competition_details.competition.name }} haven't published a schedule yet.  Check back here soon!
    </div>
  {% else %}
    <div class="event-list-container">
      <div class="event-list">
        {% for e in competition_details.GetEvents() %}
          {% set wca_evt = e.GetEvent() %}
          <div class="event-details">
            <img src="{{ wca_evt.IconURL() }}" class="event-icon">
            <div class="event-title">
              {{ wca_evt.name }}
            </div>
            {% if e.GetQualifyingTime() %}
              <div class="qualifying-time">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span class="desktop-only">Qualifying Time:</span>
                <span class="mobile-only">Qualifying:</span>
                {{ e.GetQualifyingTime() }}
                {% if e.QualifyingTimeIsAverage() %}
                  <span class="desktop-only">(Average)</span>
                  <span class="mobile-only">(Avg)</span>
                {% else %}
                  (Single)
                {% endif %}
              </div>
            {% endif %}
          </div>
          <div class="round-details-container">
            {% for r in e.GetRounds() %}
              {% set sched_round = r.GetRound() %}
              <div class="round-details">
                <div class="event-icon-placeholder"></div>
                <span class="round-number">
                  {% if sched_round.is_final %}
                    Final:
                  {% else %}
                    Round {{ sched_round.number }}:
                  {% endif %}
                </span>
                {% if sched_round.num_competitors %}
                  <span class="num-competitors">
                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                    Top {{ sched_round.num_competitors }}
                  </span>
                {% endif %}
                {% if sched_round.cutoff or sched_round.time_limit %}
                  <span class="time-limit">
                    <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                    {% if sched_round.cutoff %}
                      {{ c.formatters.FormatTime(sched_round.cutoff,
                                                 sched_round.event,
                                                 is_average=False, verbose=True) }}
                    {% else %}
                      &ndash;
                    {% endif %}
                    /
                    {% if sched_round.time_limit %}
                      {{ c.formatters.FormatTime(sched_round.time_limit,
                                                 sched_round.event,
                                                 is_average=False, verbose=True) }}
                    {% else %}
                      &ndash;
                    {% endif %}
                  </span>
                {% endif %}
                <span class="format">
                  <i class="fa fa-calculator" aria-hidden="true"></i>
                  {{ sched_round.format.get().name }}
                </span>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div id="event-key">
        {% if competition_details.HasQualifyingTimes() %}
          <div class="event-key-row">
            <span class="qualifying-time-chip">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              Qualifying times
            </span>
            must be set in other WCA competitions in order to register for this event.
          </div>
        {% endif %}
        {% if competition_details.HasMultipleRoundEvents() %}
          <div class="event-key-row">
            <span class="num-competitors">
              <i class="fa fa-hashtag" aria-hidden="true"></i>
              Top N
            </span>
            The number of competitors who will advance from the previous round.
          </div>
        {% endif %}
        <div class="event-key-row">
          <span class="time-limit">
            <i class="fa fa-hourglass-end" aria-hidden="true"></i>
            Cutoff / Time Limit
          </span>
          You will need to beat the <strong>cutoff</strong> on one of your first 2 attempts (for an <strong>Average of 5</strong> event), or on your first attempt (for a <strong>Mean of 3</strong> event), to complete your average.  If any of your attempts pass the <strong>time limit</strong>, you won't be able to complete that attempt.
        </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}
