@import "base";
@import "all_colors";
@import "components/event_selector";

.schedule-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.stage-chip {
  border: 1px solid black;
  border-radius: 2px;
  width: 17px;
  height: 17px;
  display: inline-block;
}

.stage-chip-large {
  @extend .stage-chip;
  width: 38px;
  height: 38px;
}

.groups-input-group {
  @extend .input-group;
  margin-right: 2px;
}

.groups-row {
  @include make-row();
  .groups-label-container {
    @include make-col-ready();
    @include media-breakpoint-down(xs) {
      @include make-col(12);
    }
    @include media-breakpoint-up(sm) {
      @include make-col(1);
    }
  }
  .groups-number-container {
    @include make-col-ready();
    @include media-breakpoint-down(xs) {
      @include make-col(6);
    }
    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }
  }
  .submit-container {
    @include make-col-ready();
    @include media-breakpoint-down(xs) {
      @include make-col(12);
    }
    @include media-breakpoint-up(sm) {
      @include make-col(2);
    }
  }
}
  

.import-title {
  font-weight: bold;
  font-style: italic;
}

.round-container {
  padding-bottom: 10px;
}

.form-inline {
  margin-bottom: 20px;
  @include media-breakpoint-down(xs) {
    border: 1px solid $gray-400;
    border-radius: 5px;
  }
  .input-group,.form-check {
    @include media-breakpoint-up(sm) {
      margin-right: 10px;
    }
  }
}
