<!DOCTYPE html>
<html>
<head>
  <title>App Settings</title>
</head>
<body>
  <h2>App Settings</h2>
  <p>
    <b>Please don't change these in prod if you don't know what you're doing.</b>  Many of these settings will break things if set incorrectly or changed.</b>
  <form action="{{ c.uri_for('app_settings') }}" method="POST">
    <h3>Session Secret Key</h3>
    <p>
      <input type="text" name="session_secret_key" value="{{ settings.session_secret_key or '' }}">
      <div>(Required) This should be an arbitrary (random) string.  It's used to configure login cookies.  Changing this will log out every user, so don't change this once set unless you have a good reason.</div>
    </p>
    <h3>WCA OAuth</h3>
    <p>
      <div>
        WCA OAuth Client ID:
        <input type="text" name="wca_oauth_client_id" value="{{ settings.wca_oauth_client_id or '' }}">
      </div>
      <div>
        WCA OAuth Client Secret:
        <input type="text" name="wca_oauth_client_secret" value="{{ settings.wca_oauth_client_secret or '' }}">
      </div>
      <div>
        Comp Management Client ID:
        <input type="text" name="wca_oauth_comp_management_client_id" value="{{ settings.wca_oauth_comp_management_client_id or '' }}">
      </div>
      <div>
        Comp Management Client Secret:
        <input type="text" name="wca_oauth_comp_management_client_secret" value="{{ settings.wca_oauth_comp_management_client_secret or '' }}">
      </div>
    </p>
    <p>
      (Required) For dev apps, you should create two OAuth applications <a href="https://www.worldcubeassociation.org/oauth/applications" target="_blank">here</a>.  You can set the callback URL to:
      <pre>
urn:ietf:wg:oauth:2.0:oob
http://localhost:8080/oauth_callback
http://localhost:8081/oauth_callback
      </pre>
      For the first one, you will need scopes "public email".  For the second one, you will need scopes "public email manage_competitions".  The prod keys are currently held by Tim Reynolds <a href="https://www.worldcubeassociation.org/oauth/applications/122" target="_blank">here</a> and <a href="https://www.worldcubeassociation.org/oauth/applications/168" target="_blank">here</a>.
    </p>
    <p>
      For context on why you need two apps, see <a href="https://github.com/doorkeeper-gem/doorkeeper/pull/907" target="_blank">this PR</a>.  Once this is resolved, we can collapse this into a single app.
    </p>
    <h3>Google Maps API key</h3>
    <p>
      <input type="text" name="google_maps_api_key" value="{{ settings.google_maps_api_key or '' }}">
      <div>(Optional) If this is not provided, then maps will not be shown and user locations will not be validated.  You can follow the instructions <a href="https://developers.google.com/maps/documentation/javascript/geocoding" target="_blank">here</a> to get an API key.</div>
    </p>
    <h3>ReCAPTCHA</h3>
    <div>
      ReCAPTCHA site key:
      <input type="text" name="recaptcha_site_key" value="{{ settings.recaptcha_site_key or '' }}">
    </div>
    <div>
      ReCAPTCHA secret key:
      <input type="text" name="recaptcha_secret_key" value="{{ settings.recaptcha_secret_key or '' }}">
    </div>
    <div>
      (Optional) We use <a href="https://www.google.com/recaptcha" target="_blank">ReCAPTCHA</a> for the contact form.  To generate an API key, go to the <a href="https://www.google.com/recaptcha/admin" target="_blank">ReCAPTCHA admin page</a> and generate a V2 key.  If this is not provided, then we won't protect the contact form.
    </div>
    <h3>Google Analytics Tracking ID</h3>
    <p>
      <input type="text" name="google_analytics_tracking_id" value="{{ settings.google_analytics_tracking_id or '' }}">
      <div>(Optional) See the <a href="https://analytics.google.com/" target="_blank">Google Analytics</a> site for information on generating a tracking ID.</div>
    </p>
    <h3>Contact Email</h3>
    <input type="email" name="contact_email" value="{{ settings.contact_email or ''}}">
    <div>
      (Not used for dev) Email to send and receive contact form submissions.  When run locally, uses your email address.
    </div>
    <h3>Service Account Credentials</h3>
    <p>
      <textarea name="service_account_credentials" rows="12" cols="50">
        {{ settings.service_account_credentials }}
      </textarea>
    </p>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
