{% autoescape true %}
  <div class="user-table" id="filter-table">
    {% for user in users %}
      <div class="user-container user-visible filter-row"
           id="user_{{ user.key.id() }}"
           data-userid="{{ user.key.id() }}"
           data-needslatlng="{{ 1 if user.latitude != 0 and user.city and user.state else 0 }}"
           data-city="{{ user.city if user.city else '' }}"
           data-state="{{ user.state.id() if user.state else '' }}">
        <div class="user">
          <div class="person-name">
            <a href="{{ c.uri_for('edit_user_by_id', user_id=user.key.id()) }}">
              {{ user.name }} [edit]
            </a>
          </div>
          <div class="person-id">
            {% if user.wca_person and user.wca_person.get() %}
              <a href="{{ user.wca_person.get().GetWCALink() }}" target="_blank">
                {{ user.wca_person.id() }}
              </a>
            {% elif user.wca_person %}
              INVALID {{ user.wca_person.id() }}
            {% endif %}
          </div>
          <div class="city">
            {% if user.city %}
              {{ user.city }} (<span class="lat">{{ user.latitude if user.latitude else 'n/a' }}</span>,
                               <span class="lng">{{ user.longitude if user.longitude else 'n/a' }}</span>)
            {% endif %}
          </div>
          <div class="state-container">
            {% if user.state and user.state.get() %}
              <div class="state {{ user.state.get().region.get().CssClass() }}">
                {{ user.state.id().upper() }}
              </div>
            {% elif user.state %}
              <div class="state">
                INVALID {{ user.state.id() }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endautoescape %}
