#event-selector {
  padding: 10px 0px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .event-selector-icon {
    width: 35px;
    height: 35px;
    padding: 5px;
    float: left;
    opacity: 0.2;

    &.selected {
      opacity: 1;
    }
  }
}
