div.spinner {
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
  border: 8px solid $gray-100;
  border-radius: 50%;
  border-top: 8px solid $blue;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  z-index: 1;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
