{% import "components/css.html" as css %}
{% import "components/event_selector.html" as event_selector %}
{% extends "base.html" %}
{% block title%}Edit Schedule{% endblock %}
{% block style %}
  {{ css.css(c, 'scheduling/edit_schedule') }}
  <link rel="stylesheet" href="/static/external/bootstrap-datetimepicker.min.css" type="text/css">
{% endblock %}
{% block content %}
  <div id="schedule-id"
       data-schedule="{{ schedule.key.id() }}"></div>
  <div class="container">
    <h1>{{ competition.key.id() }}</h1>
    {% if schedule.is_live %}
      <div class="alert alert-danger">
        <b>Warning!</b>  Schedule {{ schedule.key.id() }} is live.  Any edits you make will immediately become visible.  <a href="{{ c.uri_for('set_live', schedule_version=schedule.key.id(), set_live=0) }}"><b>Set schedule hidden!</b></a>
      </div>
    {% else %}
      <div class="alert alert-primary">
        Schedule {{ schedule.key.id() }} is not live.  <a href="{{ c.uri_for('set_live', schedule_version=schedule.key.id(), set_live=1) }}"><b>Set it live!</b></a>
      </div>
    {% endif %}
    <hr>
    <div class="schedule-section" id="dates-section">
      <h3>Dates</h3>
      <div class="input-daterange input-group" id="datepicker">
        <input type="text"
               class="input-sm form-control"
               name="start-date"
               id="start-date"
               {% if schedule.start_date %}
                 value="{{ schedule.start_date.strftime('%Y-%m-%d') }}"
               {% endif %}
               >
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
        <span class="input-group-addon">to</span>
        <input type="text"
               class="input-sm form-control"
               name="end-date"
               id="end-date"
               {% if schedule.end_date %}
                 value="{{ schedule.end_date.strftime('%Y-%m-%d') }}"
               {% endif %}
               >
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
      <small class="form-text text-muted">
        This date range should include staff rounds.
      </small>
    </div>
    {% if schedule.start_date %}
      <hr>
      <div class="schedule-section">
        <h3>Stages</h3>
        <div>
          {% include "scheduling/stages.html" %}
        </div>
      </div>
      <hr>
      <div class="schedule-section">
        <h3>Rounds<span id="event-title"></span></h3>
        {{ event_selector.event_selector(c, events=events) }}
        <div id="event-info"></div>
        <small class="form-text form-muted">
          To add or modify events or rounds, you can modify this data on the WCA Website and import below.
        </small>
      </div>
      <hr>
      <h3>Import Data</h3>
      <form action="{{ c.uri_for('import_data', schedule_version=schedule.key.id()) }}"
            method="POST">
        <div class="form-group">
          <label class="import-title">Data Source</label>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input data-source"
                     type="radio"
                     name="source"
                     value="wca" checked>
              WCA Website (requires authorization)
            </label>
          </div>
          {% for schedule_version in schedule_versions %}
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input data-source"
                       type="radio"
                       name="source"
                       value="sched_{{ schedule_version.key.id() }}">
                <a href="{{ c.uri_for('edit_schedule', schedule_version=schedule_version.key.id()) }}">
                  Schedule {{ schedule_version.key.id() }}
                  <i>(Last updated: {{ schedule_version.last_update_time.strftime('%x') }})</i>
                </a>
              </label>
              {% if schedule_version.is_live %}<b>(Live)</b>{% endif %}
            </div>
          {% endfor %}
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input data-source"
                     type="radio"
                     name="source"
                     value="custom">
              Custom WCIF URL: <input type="text"
                                      name="custom_uri"
                                      class="form-control"
                                      id="custom-uri">
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="import-title">Data to Import</label>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input"
                     type="checkbox"
                     name="data_to_import"
                     value="events">
              Events and Rounds
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input"
                     type="checkbox"
                     name="data_to_import"
                     value="schedule">
              Schedule
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
      </form>
    {% endif %}
  </div>
  <script src="/static/external/moment.js" type="application/javascript"></script>
  <script src="/static/external/bootstrap-datetimepicker.min.js" type="application/javascript"></script>
  <script src="/static/js/scheduling/edit_schedule.js" type="application/javascript"></script>
{% endblock %}
