{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}Edit {{ competition.key.id() }}{% endblock %}
{% block style %}
  {{ css.css(c, 'base') }}
  <link rel="stylesheet" href="/static/external/bootstrap-datetimepicker.min.css" type="text/css">
{% endblock %}
{% block content %}
  <div class="container">
    <h1>{{ competition.key.id() }}</h1>
    <h3>Competition Settings</h3>
    <form action="{{ c.uri_for('edit_competition', competition_id=competition.key.id()) }}"
          method="POST">
      <div class="form-group">
        <label for="timezone">Competition Timezone</label>
        <select class="form-control custom-select" id="timezone" name="timezone">
          <option value=""></option>
          {% for timezone, time in timezones_and_times %}
            <option value="{{ timezone }}"
                    {% if timezone == competition.timezone %}selected{% endif %}>
              {{ timezone }} ({{ time }})
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="staff-signup-deadline">Staff signup deadline</label>
        <div class="input-group date">
          <input type="text"
                 class="form-control"
                 name="signup-deadline"
                 id="signup-deadline"
                 {% if competition.GetStaffSignupDeadline() %}
                   value="{{ competition.GetStaffSignupDeadline().strftime('%Y-%m-%d') }}"
                 {% endif %}
                 required>
          <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" name="btnSubmit">Submit</button>
    </form>
    <h3>Schedule Editors</h3>
    <ul>
      {% for editor in editors %}
        {% set editor_user = editor.user.get() %}
        {% if editor_user %}
          <li>
            {{ editor_user.name }}
            {% if editor_user.wca_person %}
              <a href="{{ editor_user.wca_person.get().GetWCALink() }}" target="_blank">
                ({{ editor_user.wca_person.id() }})
              </a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if competition.timezone %}
      <h3>Schedule Versions</h3>
      <ul>
        {% for schedule_version in schedule_versions %}
          <li>
            <a href="{{ c.uri_for('edit_schedule', schedule_version=schedule_version.key.id()) }}">
              {{ schedule_version.key.id() }}
            </a>
            <i>(Last updated: {{ schedule_version.last_update_time.strftime('%x') }})</i>
            {% if schedule_version.is_live %}<b>(Live)</b>{% endif %}
            {{ schedule_version.notes or '' }}
          </li>
        {% endfor %}
        <li>
          <a href="{{ c.uri_for('new_schedule', competition_id=competition.key.id()) }}">
            New Schedule
          </a>
        </li>
      </ul>
      <p>
        If you create a new schedule, it won't be visible to anyone but the organizers and delegates until you mark it as visible.  When you create a schedule, we read the events and formats from the WCA site.  If any of these change, you'll need to first change them on the WCA site, then create a new schedule here.
      </p>
    {% endif %}
  </div>
  <script src="/static/external/moment.js" type="application/javascript"></script>
  <script src="/static/external/bootstrap-datetimepicker.min.js" type="application/javascript"></script>
  <script src="/static/js/scheduling/edit_competition.js" type="application/javascript"></script>
{% endblock %}
