{% import "components/event_selector.html" as event_selector %}
{% extends "base.html" %}
{% block title%}Edit Schedule{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/static/css/scheduling/edit_schedule.css" type="text/css">
  <link rel="stylesheet" href="/static/external/bootstrap-datetimepicker.min.css" type="text/css">
{% endblock %}
{% block head %}
  <script src="https://use.fontawesome.com/811113e9c2.js"></script>
{% endblock %}
{% block content %}
  <div id="schedule-id"
       data-schedule="{{ schedule.key.id() }}"></div>
  <div class="container">
    <h1>{{ competition.key.id() }}</h1>
    {% if schedule.is_live %}
      <div class="alert alert-danger">
        <b>Warning!</b>  Schedule {{ schedule.key.id() }} is live.  Any edits you make will immediately become visible.  <a href="{{ c.uri_for('set_live', schedule_version=schedule.key.id(), set_live=0) }}"><b>Set schedule hidden!</b></a>
      </div>
    {% else %}
      <div class="alert alert-primary">
        Schedule {{ schedule.key.id() }} is not live.  <a href="{{ c.uri_for('set_live', schedule_version=schedule.key.id(), set_live=1) }}"><b>Set it live!</b></a>
      </div>
    {% endif %}
    <hr>
    <div class="schedule-section">
      <h3>Dates</h3>
      <div class="input-daterange input-group" id="datepicker">
        <input type="text"
               class="input-sm form-control"
               name="start-date"
               id="start-date"
               {% if schedule.start_date %}
                 value="{{ schedule.start_date.strftime('%Y-%m-%d') }}"
               {% endif %}
               >
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
        <span class="input-group-addon">to</span>
        <input type="text"
               class="input-sm form-control"
               name="end-date"
               id="end-date"
               {% if schedule.end_date %}
                 value="{{ schedule.end_date.strftime('%Y-%m-%d') }}"
               {% endif %}
               >
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
    <hr>
    <div class="schedule-section">
      <h3>Stages</h3>
      <div>
        {% include "scheduling/stages.html" %}
      </div>
    </div>
    <hr>
    <div class="schedule-section">
      <h3>Rounds<span id="event-title"></span></h3>
      {{ event_selector.event_selector(c, events=events) }}
      <div id="event-info"></div>
      <small class="form-text form-muted">
        Events, rounds, formats, and numbers of competitors advancing are automatically pulled from the WCA site.  If you would like to change events, rounds, or formats, please modify this information on the WCA site and create a new schedule for this competition.
      </small>
    </div>
  </div>
  <script src="/static/external/moment.js" type="application/javascript"></script>
  <script src="/static/external/bootstrap-datetimepicker.min.js" type="application/javascript"></script>
  <script src="/static/js/scheduling/edit_schedule.js" type="application/javascript"></script>
{% endblock %}
