{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}Edit {{ competition.key.id() }}{% endblock %}
{% block style %}
  {{ css.css(c, 'base') }}
  <link rel="stylesheet" href="/static/external/bootstrap-datetimepicker.min.css" type="text/css">
{% endblock %}
{% block content %}
  <div class="container">
    <h1>{{ competition.key.id() }}</h1>
    <h3>Competition Settings</h3>
    <form action="{{ c.uri_for('edit_competition', competition_id=competition.key.id()) }}"
          method="POST">
      <div class="form-group">
        <label for="timezone">Competition Timezone</label>
        <select class="form-control custom-select" id="timezone" name="timezone">
          <option value=""></option>
          {% for timezone, time in timezones_and_times %}
            <option value="{{ timezone }}"
                    {% if timezone == competition.timezone %}selected{% endif %}>
              {{ timezone }} ({{ time }})
            </option>
          {% endfor %}
        </select>
      </div>
      {% if residency_deadline %}
        <div class="form-group">
          <label for="residency-deadline">Residency reporting deadline for championships (23:59:59 local time)</label>
          <div class="input-group date">
            <input type="text"
                   class="form-control"
                   name="residency-deadline"
                   id="residency-deadline"
                   value="{{ residency_deadline.strftime('%Y-%m-%d') }}"
                   required>
            <span class="input-group-append">
              <span class="input-group-text">
                <span class="fa fa-calendar"></span>
              </span>
            </span>
          </div>
        </div>
      {% endif %}
      <div class="form-group">
        <label for="staff-signup-deadline">Staff signup deadline (if using CubingUSA scheduling)</label>
        <div class="input-group date">
          <input type="text"
                 class="form-control"
                 name="signup-deadline"
                 id="signup-deadline"
                 {% if competition.GetStaffSignupDeadline() %}
                   value="{{ competition.GetStaffSignupDeadline().strftime('%Y-%m-%d') }}"
                 {% endif %}
                 >
          <span class="input-group-append">
            <span class="input-group-text">
              <span class="fa fa-calendar"></span>
            </span>
          </span>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" name="btnSubmit">Submit</button>
    </form>
    <h3>Links</h3>
    <ul>
      <li>
        <a href="{{ c.uri_for('update_competition', competition_id=competition.key.id()) }}">
          Update Competitor List
        </a>
      </li>
      {% if has_live_schedule %}
        <li>
          <a href="{{ c.uri_for('event_display', competition_id=competition.key.id()) }}"
             target="_blank">
            Public Event List
          </a>
        </li>
        <li>
          <a href="{{ c.uri_for('schedule_display', competition_id=competition.key.id()) }}"
             target="_blank">
            Public Schedule
          </a>
        </li>
        <li>
          <a href="{{ c.uri_for('competition_wcif', competition_id=competition.key.id()) }}"
             target="_blank">
            WCIF Export
          </a>
        </li>
      {% endif %}
    </ul>
    {% if competition.timezone %}
      <h3>Schedule Versions</h3>
      <ul>
        {% for schedule_version in schedule_versions %}
          <li>
            <a href="{{ c.uri_for('edit_schedule',
                                  competition_id=competition.key.id(),
                                  schedule_version=schedule_version.key.id()) }}">
              {{ schedule_version.key.id() }}
            </a>
            <i>(Last updated: {{ schedule_version.last_update_time.strftime('%x') }})</i>
            {% if schedule_version.is_live %}<b>(Live)</b>{% endif %}
            {{ schedule_version.notes or '' }}
          </li>
        {% endfor %}
        <li>
          <a href="{{ c.uri_for('new_schedule', competition_id=competition.key.id()) }}">
            New Schedule
          </a>
        </li>
      </ul>
      <p>
        If you create a new schedule, it won't be visible to anyone but the organizers and delegates until you mark it as visible.  When you create a schedule, we read the events and formats from the WCA site.  If any of these change, you'll need to first change them on the WCA site, then create a new schedule here.
      </p>
      <h3>Staff Signup</h3>
      <p>
        You can use the staff signup form to allow other organizers to have edit access to the schedule, and to collect a list of staff members.
      </p>
      {% if staff_signup_enabled %}
        <p><a href="{{ c.uri_for('staff_signup', competition_id=competition.key.id()) }}">Link to signup form</a></p>
      {% else %}
        <p>
          In order to use this feature, you must add at least one event to the WCA competition page, create a schedule, and set the start and end dates.
        </p>
      {% endif %}
    {% endif %}
  </div>
  <script src="/static/external/moment.js" type="application/javascript"></script>
  <script src="/static/external/bootstrap-datetimepicker.min.js" type="application/javascript"></script>
  <script src="/static/js/scheduling/edit_competition.js" type="application/javascript"></script>
{% endblock %}
