{% macro time_block_edit(time_block_id, time_block, round) %}
  <form class="time-block-form form-inline d-none"
        id="edit-row-{{ time_block_id }}"
        data-timeblock="{{ time_block_id }}">
    <input type="hidden" name="id" value="{{ time_block_id }}">
    <input type="hidden" name="round" value="{{ round.key.id() }}">
    <div class="input-group">
      {% if time_block %}
        {% set color = time_block.stage.get().color %}
      {% elif stages %}
        {% set color = stages[0].color %}
      {% else %}
        {% set color = 'white' %}
      {% endif %}
      <div class="input-group-prepend">
        <div class="stage-chip-large background-{{ color }} input-group-text"
             id="stage-chip-{{ time_block_id }}"
             data-color="{{ color }}"></div>
      </div>
      <select name="stage"
              class="custom-select color-selector"
              data-chipid="{{ time_block_id }}"
              style="width: 100px;">
        {% for stage in stages %}
          <option class="background-{{ stage.color }}"
                  data-color="{{ stage.color }}"
                  value="{{ stage.key.id() }}"
                  {% if time_block and time_block.stage == stage.key %}
                    selected
                  {% endif %}
                  >
            {{ stage.name }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="input-group">
      <select name="day"
              class="custom-select">
        {% for day in competition_days %}
          <option value="{{ day.strftime('%Y-%m-%d') }}"
                  {% if time_block and time_block.GetStartTime().date() == day %}
                    selected
                  {% endif %}
                  >
            {{ day.strftime('%A') }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="input-timerange input-group"
         data-timeblock="{{ time_block_id }}">
      <input type="text"
             class="input-sm form-control"
             name="start-time"
             id="start-time-{{ time_block_id }}"
             {% if time_block and time_block.start_time %}
               value="{{ time_block.GetStartTime().strftime('%I:%M %p') }}"
             {% endif %}
             required>
      <span class="input-group-append">
        <span class="input-group-text">
          <span class="fa fa-clock-o"></span>
        </span>
      </span>
      <span class="input-group-append">
        <span class="input-group-text">to</span>
      </span>
      <input type="text"
             class="input-sm form-control"
             name="end-time"
             id="end-time-{{ time_block_id }}"
             {% if time_block and time_block.end_time %}
               value="{{ time_block.GetEndTime().strftime('%I:%M %p') }}"
             {% endif %}
             required>
      <span class="input-group-append">
        <span class="input-group-text">
          <span class="fa fa-clock-o"></span>
        </span>
      </span>
    </div>
    <div class="form-check">
      <input type="checkbox"
             class="form-check-input"
             name="staff-only"
             {% if time_block and time_block.staff_only %}
               checked
             {% endif %}
             >
      <label class="form-check-label">Staff-Only</span>
    </div>
    <button class="btn btn-primary"
            type="submit">
      Save
    </button>
  </form>
{% endmacro %}
{% autoescape true %}
{% for round in rounds %}
  <div class="round-container">
    <h5 class="event-round-row">
      Round {{ round.number }}: {{ round.num_competitors if round.num_competitors else '??' }} competitors
    </h5>
    {% for time_block in time_blocks[round.key] %}
      <div class="time-block-row editable-row" id="editable-row-{{ time_block.key.id() }}">
        <span class="stage-chip background-{{ time_block.stage.get().color }}"></span>
        <span class="time-block-details">
          {{ time_block.GetStartTime().strftime('%A') }}
          {{ time_block.GetStartTime().strftime('%I:%M %p') }} &mdash;
          {{ time_block.GetEndTime().strftime('%I:%M %p') }}
          {% if time_block.attempt > 0 %}
            (Attempt {{ time_block.attempt }})
          {% endif %}
          {% if time_block.staff_only %}
            <b>(Staff)</b>
          {% endif %}
          <a href="javascript:void(0);"
             data-editid="{{ time_block.key.id() }}"
             class="edit-link">
            [Edit]
          </a>
          <a href="javascript:void(0);"
             data-timeblock="{{ time_block.key.id() }}"
             class="delete-timeblock-link">
            [Delete]
          </a>
        </span>
      </div>
      {{ time_block_edit(time_block.key.id(), time_block, round) }}
    {% endfor %}
    <div class="time-block-row" id="editable-row-{{ new_ids[round.key] }}">
      <div class="time-block-details">
        <a href="javascript:void(0);"
           data-editid="{{ new_ids[round.key] }}"
           class="edit-link">
          [Add to schedule]
        </a>
      </div>
    </div>
    {{ time_block_edit(new_ids[round.key], None, round) }}
    <form class="groups-form form-inline" data-roundid="{{ round.key.id() }}">
      <input type="hidden" name="round-id" value="{{ round.key.id() }}">
      <div class="groups-input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Total Groups</div>
        </div>
        <input type="number"
               class="form-control"
               name="num-groups"
               {% if round.num_groups %}
                 value="{{ round.num_groups }}"
               {% else %}
                 value="0"
               {% endif %}
               min="0">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Staff Groups</div>
        </div>
        <input type="number"
               class="input-sm form-control"
               name="num-staff-groups"
               {% if round.num_staff_groups %}
                 value="{{ round.num_staff_groups }}"
               {% else %}
                 value="0"
               {% endif %}
               min="0">
      </div>
      <div class="submit-container">
        <button class="btn btn-primary"
                type="submit">
          Save
        </button>
      </div>
    </form>
  </div>
{% endfor %}

{% endautoescape %}
