{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}{{ competition.name }} Groups{% endblock %}
{% block style %}
  {{ css.css(c, 'scheduling/schedule') }}
{% endblock %}
{% block content %}
  <div class="container">
    <h1>{{ competition.name }} Groups</h1>
    {% for day in all_days %}
      <h3>{{ day.strftime('%A, %B %-d') }}</h3>
      <div class="row">
        {% for stage in all_stages %}
          <div class="col">
            <h3>{{ stage.name }}</h3>
            <ul>
              {% for group in groups_by_day_and_stage[day][stage.key] %}
                <li>
                  {{ timezones.ToLocalizedTime(group.start_time, competition.timezone).strftime('%-H:%M') }}
                  {{ group.round.get().event.id() }} r{{ group.round.get().number }}-{{ group.number }}
                  {% if group.staff_only %}
                    (staff only)
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
