{% extends "base.html" %}
{% block title%}Scheduling{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/static/css/scheduling/index.css" type="text/css">
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Competition Scheduling</h1>
    {% if c.len(editable_competitions) %}
      <h3>My Competitions</h3>
      <ul>
        {% for competition in editable_competitions %}
          <li>
            <a href="{{ c.uri_for('edit_competition',
                                  competition_id=competition.key.id()) }}"
               class="competition-name">
              {{ competition.key.id() }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <h3>Create Competition</h3>
    <form action="{{ c.uri_for('update_competition') }}" method="POST">
      <div class="form-group">
        <label for="competitionid">Competition ID</label>
        <input class="form-control {% if unknown_competition %}is-invalid{% endif %}"
               type="text"
               id="competitionid"
               name="competitionid"
               aria-describedby="competitionid-help"
               required>
        <div class="invalid-feedback">
          Competition ID is already in use.  Please try again.
        </div>
        <small id="competitionid-help" class="form-text text-muted">
          This must match the competition's WCA competition ID, and you must have already created the competition on the WCA site.  It's okay if the competition isn't announced, but because we pull all data on events, rounds, and edit access from that site, the competition must be created already.
        </small>
      </div>
      <button class="button" type="submit" name="btnSubmit">Submit</button>
    </form>
  </div>
{% endblock %}
