{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}Scheduling{% endblock %}
{% block style %}
  {{ css.css(c, 'scheduling/index') }}
{% endblock %}
{% block content %}
  <div class="container">
    <h1>CubingUSA Competition Management</h1>
    {% if c.len(competition_id_to_name) %}
      <h3>My Competitions</h3>
      <ul>
        {% for competition_id, competition_name in competition_id_to_name.iteritems() %}
          <li>
            <a href="{{ c.uri_for('edit_competition',
                                  competition_id=competition_id) }}"
               class="competition-name">
              {{ competition_name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <script type="application/javascript">
    window.history.pushState("", "", "{{ c.uri_for('index') }}");
  </script>
{% endblock %}
