{% import "components/scheduling/schedule.html" as schedule %}
{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}{{ competition.name }} Schedule{% endblock %}
{% block style %}
  {{ css.css(c, 'scheduling/schedule') }}
{% endblock %}
{% block content %}
  <div class="container">
    <h1>{{ competition.name }} Schedule</h1>
    {% if not_live_warning %}
      <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong>  You are looking at a non-live version of the schedule.
      </div>
    {% endif %}
    {{ schedule.schedule(c, competition_details) }}
  </div>
{% endblock %}
