{% extends "base.html" %}
{% block title%}CubingUSA WCIF Extensions{% endblock %}
{% block content %}
  <h1>CubingUSA WCIF Extensions</h1>
  <h3>Introduction</h3>
  <p>
    This page defines extensions to the WCIF specification used by the CubingUSA scheduling system.
  </p>
  <p>
    While other applications may use data stored in these extensions, we reserve the right to modify the format of this extension.
  </p>
  <h3 id="ScheduleCompetition">org.cubingusa.ScheduleCompetition</h3>
  <p>
    The <strong>ScheduleCompetition</strong> extension is added to WCIF <strong>Competition</strong> entities.  This contains the following data:
  </p>
  <ul>
    <li><strong>datastoreId:</strong> (string) The ID of the entity stored in the app engine datastore.  This is the same as the WCA competition ID.
    <li><strong>staffSignupDeadline:</strong> (YYYY-MM-DD) The last date that people may apply to be staff members and update their information.
  </ul>
{% endblock %}
