{% extends "base.html" %}
{% block title%}CubingUSA WCIF Extensions{% endblock %}
{% block content %}
  <h1>CubingUSA WCIF Extensions</h1>
  <h3>Introduction</h3>
  <p>
    This page defines extensions to the WCIF specification used by the CubingUSA scheduling system.
  </p>
  <p>
    While other applications may use data stored in these extensions, we reserve the right to modify the format of this extension in non-backwards-compatible ways.
  </p>
  <h3 id="ScheduleCompetition">org.cubingusa.ScheduleCompetition</h3>
  <p>
    The <strong>ScheduleCompetition</strong> extension is added to WCIF <strong>Competition</strong> entities.  This extension represents a <a href="https://github.com/cubingusa/cubingusa-org/blob/master/src/models/scheduling/competition.py">ScheduleCompetition</a> entity in the App Engine datastore.  The extension contains the following data:
  </p>
  <ul>
    <li><strong>datastoreId:</strong> (string) The ID of the entity stored in the App Engine datastore.  This is the same as the WCA competition ID.
    <li><strong>staffSignupDeadline:</strong> (YYYY-MM-DD) The last date that people may apply to be staff members and update their information.
  </ul>
  <h3 id="Schedule">org.cubingusa.Schedule</h3>
  <p>
    The <strong>Schedule</strong> extension is added to WCIF <strong>Schedule</strong> entities.  This extension represents a <a href="https://github.com/cubingusa/cubingusa-org/blob/master/src/models/scheduling/schedule.py">Schedule</a> entity in the App Engine datastore.  The extension contains the following data:
  </p>
  <ul>
    <li><strong>datastoreId:</strong> (integer) The ID of the entity stored in the App Engine datastore.
    <li><strong>creationTime:</strong> (ISO-8601 timestamp) The time that the schedule was created.
    <li><strong>lastUpdateTime:</strong> (ISO-8601 timestamp) The time that the schedule was last updated.
  </ul>
  <h3 id="ScheduleStage">org.cubingusa.ScheduleStage</h3>
  <p>
    The <strong>ScheduleStage</strong> extension is added to WCIF <strong>Room</strong> entities.  This extension represents a <a href="https://github.com/cubingusa/cubingusa-org/blob/master/src/models/scheduling/room.py">ScheduleRoom</a> entity in the App Engine datastore.  The extension contains the following data:
  </p>
  <ul>
    <li><strong>datastoreId:</strong> (string) The ID of the entity stored in the App Engine datastore.
    <li><strong>colorCss:</strong> (string) The CSS name of the stage's color.
    <li><strong>colorHex:</strong> (string) The hex code of the stage's color.
    <li><strong>numTimers:</strong> (integer) The number of timers used on this stage.
  </ul>
  <h3 id="ScheduleTimeBlock">org.cubingusa.ScheduleTimeBlock</h3>
  <p>
    The <strong>ScheduleTimeBlock</strong> extension is added to WCIF <strong>Activity</strong> entities.  These correspond to Activities which do not correspond to a single group.  This extension represents a <a href="https://github.com/cubingusa/cubingusa-org/blob/master/src/models/scheduling/time_block.py">ScheduleTimeBlock</a> entity in the App Engine datastore.  The extension contains the following data:
  </p>
  <ul>
    <li><strong>datastoreId:</strong> (integer) The ID of the entity stored in the App Engine datastore.
    <li><strong>staffOnly:</strong> (boolean) Whether the groups in this time block are limited to staff members only.
  </ul>
{% endblock %}
