{% import "components/css.html" as css %}
{% import "components/faq.html" as faq %}
{% extends "nationals/2026/base.html" %}
{% block title%}Qualification Times{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2026/qualifying') }}
{% endblock %}
{% block content %}
  <h4>Events</h4>
  <p>
    All seventeen WCA events will be held at Rubik's WCA North American Championship 2026. Please see the <a href="https://www.worldcubeassociation.org/competitions/NAC2026#competition-events">WCA site</a> for more details on formats, rounds, and advancement conditions.
  <br>
  <h6>Qualifying Times</h6>
  <p>
    In order to register for Rubik's WCA North American Championship 2026, you must have set a qualifying time in a previous WCA competition. Please read this page for full details on the qualification and registration process.
  </p>
  <p>
    This year, we will have six <i>open events</i>. The qualification standard for these events will be <i>any WCA time</i>: if you have successfully solved this puzzle in a WCA competition, then you are able to compete! These events are:
  </p>
  <ul>
    <li><b>3x3x3 Cube</b></li>
    <li><b>2x2x2 Cube</b></li>
    <li><b>4x4x4 Cube</b></li>
    <li><b>3x3x3 One-Handed</b></li>
    <li><b>Pyraminx</b></li>
    <li><b>Skewb</b></li>
  </ul>
  <p>
    All other events will have a harder qualification standard. These times are listed below:
  </p>
  <ul>
    <li><b>5x5x5 Cube</b>: 1:08.00</li>
    <li><b>6x6x6 Cube</b>: 2:00.00</li>
    <li><b>7x7x7 Cube</b>: 3:10.00</li>
    <li><b>3x3x3 Blindfolded</b>: 1:10.00 (single)</li>
    <li><b>3x3x3 Fewest Moves</b>: Top 30</li>
    <li><b>Clock</b>: 6.00</li>
    <li><b>Megaminx</b>: 53.00</li>
    <li><b>Square-1</b>: 11.50</li>
    <li><b>4x4x4 Blindfolded</b>: 4:00.00 (single)</li>
    <li><b>5x5x5 Blindfolded</b>: 7:00.00 (single)</li>
    <li><b>3x3x3 Multi-Blind</b>: Top 20 (single)</li>
  </ul>
  <p>
    Fewest Moves and Multi Blind qualification times are "Top N" standards. The top 20 people in Multi Blind (by single) and 30 people in Fewest Moves (by average, then by single if there is a tie) will qualify. After the registration change deadline on May 29, we will remove everyone from these events who did not qualify.
  </p>
  <p>
    All qualification times must be set by May 19, 2026. All times shown are exclusive (that is, you must <b>beat</b> the time in order to qualify.)
  </p>
  <p>
    We recognize that these qualification times are much harder than previous US National Championships. We want to ensure all competitors are able to compete in a few events throughout the competition, while reserving time for the exciting semifinals and finals.
  </p>
  <br>
  <h5>Early Registration</h5>
  <p>
    In order to ensure that competitors who are in contention to reach the final round are able to register for the competition, we will have a one-week early registration period from January 7 to January 14. Early qualification times in most events are the times needed to reach the final round at Rubik's WCA North American Championship 2024; for 3x3x3 Cube the early qualification time is the time needed to reach the top 50 (the standard needed to reach the semi-finals in 2026):
  </p>
  <ul>
    <li><b>3x3x3 Cube</b>: 7.84</li>
    <li><b>2x2x2 Cube</b>: 1.81</li>
    <li><b>4x4x4 Cube</b>: 29.43</li>
    <li><b>5x5x5 Cube</b>: 51.43</li>
    <li><b>6x6x6 Cube</b>: 1:37.73</li>
    <li><b>7x7x7 Cube</b>: 2:31.54</li>
    <li><b>3x3x3 Blindfolded</b>: 29.91 (single)</li>
    <li><b>3x3x3 Fewest Moves</b>: Under 24 moves (average)</li>
    <li><b>3x3x3 One-Handed</b>: 12.34</li>
    <li><b>Clock</b>: 4.54</li>
    <li><b>Megaminx</b>: 42.50</li>
    <li><b>Pyraminx</b>: 2.65</li>
    <li><b>Skewb</b>: 3.16</li>
    <li><b>Square-1</b>: 8.50</li>
    <li><b>4x4x4 Blindfolded</b>: 4:00.00 (single)</li>
    <li><b>5x5x5 Blindfolded</b>: 7:00.00 (single)</li>
    <li><b>3x3x3 Multi-Blind</b>: Over 24 points</li>
  </ul>
  <p>
    As of the competition announcement date, the WCA website lists these times as the qualification times. They will be updated after January 14.
  </p>
  <p>
    Competitors who do not have an early qualification time will be able to register starting on January 21. We do not expect registration to fill during the early registration period. We fully expect that competitors without an early qualification time will be able to register on January 21.
  </p>
  <br>
  <h5>Adding Events</h5>
  <p>
    If you qualify for an event by May 19, 2026, you'll be able to edit your registration to add the event. Once the results from that competition have been posted, you can go back to the <a href="https://www.worldcubeassociation.org/competitions/NAC2026/register">WCA registration site</a> and add those events. All changes to your registration must be made by <b>May 29, 2026.</b>
  </div>
{% endblock %}
