{% extends "nationals/2026/base.html" %}
{% block title%}NAC 2026 Unofficial Events{% endblock %}
{% block content %}
  <h1>Unofficial Events</h1>
  <p>
    We'll be hosting unofficial events throughout the weekend! More details and sign-up information will follow soon.
  </p>
  <p>
    In addition, we are planning a group trip to the <a href="https://naturalsciences.org/">North Carolina Museum of Natural Sciences</a> on Wednesday before the competition. If you're arriving before the competition we hope you'll join us. More info coming soon!
  </p>
{% endblock %}
