{% extends "nationals/2026/base.html" %}
{% block title%}NAC 2026 Unofficial Events{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2026/unofficial') }}
{% endblock %}
{% block content %}
  <h1>Unofficial Events</h1>
  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Format</th>
        <th>Cutoff</th>
        <th>Time Limit</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mirror Blocks Blindfolded</td>
        <td>Mean of 3</td>
        <td>5:00.00</td>
        <td>Cumulative 15:00.00</td>
        <td>Thursday</td>
      </tr>
      <tr>
        <td>Redi Cube</td>
        <td>Average of 5</td>
        <td>30.00</td>
        <td>1:00.00</td>
        <td>Thursday</td>
      </tr>
      <tr>
        <td>Team Blindfolded</td>
        <td>Average of 5</td>
        <td>1:30.00</td>
        <td>4:00.00</td>
        <td>Friday</td>
      </tr>
      <tr>
        <td>Kilominx</td>
        <td>Average of 5</td>
        <td>40.00</td>
        <td>1:30.00</td>
        <td>Friday</td>
      </tr>
      <tr>
        <td>Face Turning Octahedron (FTO)</td>
        <td>Average of 5</td>
        <td>1:45.00</td>
        <td>4:00.00</td>
        <td>Saturday</td>
      </tr>
      <tr>
        <td>Mirror Blocks</td>
        <td>Average of 5</td>
        <td>1:30.00</td>
        <td>4:00.00</td>
        <td>Saturday</td>
      </tr>
      <tr>
        <td>Magic</td>
        <td>Average of 5</td>
        <td>None</td>
        <td>1:00.00</td>
        <td>Thursday to Saturday</td>
      </tr>
      <tr>
        <td>Master Magic</td>
        <td>Average of 5</td>
        <td>None</td>
        <td>1:00.00</td>
        <td>Thursday to Saturday</td>
      </tr>
      <tr>
        <td>2x2x3 Banana</td>
        <td>Average of 5</td>
        <td>30.00</td>
        <td>1:00.00</td>
        <td>Thursday to Saturday</td>
      </tr>
    </tbody>
  </table>
  <p>
    The sign-up form can be found <a href="https://forms.gle/ZsFkCdRcyeiLq4iRA">here</a>! Please sign up no later than May 29.
  </p>
  <p>
    Please refer to cubingcontests.com for regulations for all events. Groups for all events will be generated closer to the competition. You may also register on-site.
  </p>
  <p>
    FTO, Mirror Blocks, Team BLD, Mirror BLD, Kilominx, and Redi Cube will be held on specific days throughout the competition. On each day, you’ll be able to go to the side room to compete in whichever event is being held that day. You’ll be expected to bring your own judge for your attempts and will only be able to participate if there is a volunteer member present to overlook and help scramble for your attempts.
  </p>
  <p>
    Magic, Master Magic, and 2x2x3 Banana will be held every day, so you’ll just need to bring your own judge and make sure that a volunteer member is present to overlook your attempts.
  </p>
  <p>
    This year we will have more finals spread through the competition! We will have Mirror Blocks Blindfolded & Redi Cube on Friday during lunch, Kilominx & Team Blindfolded on Saturday during lunch, and FTO & Mirror Blocks Sunday during lunch! 
  </p>
  <h3>Rubik's Regions Relay</h3>
  <p>
    Rubik's Regions Relay is a knockout style tournament with teams of 3 members. Each team will represent one country or region in North America. Competitors should sign up individually and the fastest competitors in each region will be placed on a team together. Teams will be finalized approximately a week before the competition.
  </p>
  <p>
    Rubik's Regions Relay will be held on Thursday, July 2 at 7pm, just after the opening ceremony.
  </p>
  <p>
    You can sign up for regions relay <a href="https://forms.gle/ENb936LUSrYJaRMX8">at this link</a>.
  </p>
  <h3>Puzzle Creators Room</h3>
  <p>
    Calling all puzzle designers and creators! This year at the North American Championship, we'll have a space where puzzle creators and designers can showcase the work they've put into their own designs/puzzles! If you want to apply to showcase your puzzles please <a href="https://forms.gle/dKg29T4JU1CVxz5P8">apply here</a>! Please apply no later than June 15.
  </p>
  <p>
    You’ll be able to check these puzzle creators’ work out throughout the weekend! More information on where they’ll be located will be available soon!
  </p>
  <h3>Unofficial Meet-ups</h3>
  <p>
    We are planning a group trip to the <a href="https://naturalsciences.org/">North Carolina Museum of Natural Sciences</a> on Wednesday before the competition. If you're arriving before the competition we hope you'll join us. More info coming soon!
  </p>
{% endblock %}
