{% import "components/css.html" as css %}
{% import "components/faq.html" as faq %}
{% extends "nationals/2026/base.html" %}
{% block title%}Volunteers{% endblock %}
{% block content %}
<h3>Apply to be on the Volunteer Team!</h3>
<p>
  Thanks for your interest! We are looking for applications for the Core Volunteer Team, Data Team, Help Desk, and Live Stream Commentators; you can read more about each role below. The application form is available here (FIX BEFORE ANNOUNCEMENT: ADD LINK). Volunteers will be accepted on a rolling basis. Please apply early for full consideration.
</p>
<p>
  Signing up to be on our volunteer team is a commitment; please make sure to let us know as soon as possible if you will not be able to attend. We will need a final confirmation of your attendance no later than May 19, 2026.
</p>
<br>
<h4>Core Volunteer Team</h4>
<p>
Core Volunteer Team members will have judging, running, and scrambling assignments throughout the competition. Expect to spend about 2/3 of the competition volunteering, and the rest either on breaks or competing. Delegates accepted to the Core Volunteer Team will be able to apply to be a Stage Lead at a later date.
</p>
<br>
<h4>Data Team</h4>
<p>
  Data Team members will be in charge of data entry, double checking scorecards, and printing subsequent round scorecards. Expect to spend about 2/3 of the competition volunteering, and the rest either on breaks or competing.
</p>
<br>
<h4>Help Desk</h4>
<p>
  We're looking for parents and other volunteers to work around 5 hours per day at Registration, answering questions about our event and checking competitors in, and helping with some other tasks like shopping runs. This is a great job for parents who'd like to help out and keep busy during the competition!
</p>
<br>
<h4>Live Stream Team</h4>
<p>
  The Live Stream Team will work with our contracted production company to provide a professional competition stream. Varying levels of involvement and time commitment are available. We are looking for volunteers with experience and interest in the following categories:
</p>
<ul>
  <li>Stream Commentator</li>
  <li>Data gathering and analysis</li>
  <li>Videography</li>
  <li>Stage direction</li>
</ul>
<p>
  Applications for this position will close on March 15th. Please note that this role includes preparation work leading up to the competition.
</p>
<br>
<h4>Unofficial Events</h4>
<p>
  We're looking for volunteers to help with other parts of the event besides the competition, including unofficial events, the WCA Booth, and other fun activities we're planning for the weekend!
</p>
<br>
<h4>Perks</h4>
<div>
  Volunteer members will receive the following perks:
</div>
<ul>
  <li>Refunded registration fee (after the competition)</li>
  <li>Lunch for each day of the competition (specifics to be determined)</li>
  <li>Volunteer t-shirts</li>
  <li>Travel support -- one of:
    <ul>
      <li>Accommodation in a volunteer hotel room (18+ only) for 5 nights (Wednesday night through Sunday night)</li>
      <li>$40 per night reimbursement for your own hotel room for 5 nights</li>
      <li>$60 per night reimbursement for your own hotel room with no refunded registration (great option for parents volunteering)</li>
      <li>Daily parking reimbursement (great option for local cubers)</li>
    </ul>
  </li>
  <li>One free spectator ticket for non-competing volunteers (all competitors receive one by default)</li>
</ul>
</div>
{%endblock %}
