{% import "components/event_icon.html" as event_icon %}
{% macro event_selector(c) %}
  <div id="event-selector">
    {% for event in c.events() %}
      <a class="event-selector-link"
         id="event-selector-link-{{ event.key.id() }}"
         data-eventid="{{ event.key.id() }}"
         data-eventname="{{ event.name }}">
        {{ event_icon.event_icon(event, 'event-selector-icon') }}
      </a>
    {% endfor %}
  </div>
  <script src="/static/js/event_selector.js" type="application/javascript"></script>
{% endmacro %}
