{% macro region_selector(c) %}
  <div id="region_selector" class="row">
    {% for region in c.regions() %}
      <div class="col region_selector_col">
        <a class="region_selector_link"
           id="region_selector_link_{{ region.key.id() }}"
           data-regionid="{{ region.key.id() }}">
            <span class="card {{ region.CssClass() }} region_selector_item">
              {{ region.name }}
            </span>
        </a>
      </div>
    {% endfor %}
  </div>
  <script src="/static/js/region_selector.js" type="application/javascript"></script>
{% endmacro %}
