{% macro region_selector(c, onselect_callback,
                         unselect_enabled=0,
                         unselect_callback='',
                         multi_selectors=0) %}
  <div id="region_selector"
       class="row"
       data-callback="{{ onselect_callback }}"
       data-unselect="{{ unselect_enabled }}"
       data-unselectcallback="{{ unselect_callback }}"
       data-multiselectors="{{ multi_selectors }}">
    {% for region in c.regions() %}
      <div class="col region_selector_col">
        <a class="region_selector_link"
           id="region_selector_link_{{ region.key.id() }}"
           data-regionid="{{ region.key.id() }}">
            <span class="card {{ region.CssClass() }} region_selector_item">
              {{ region.name }}
            </span>
        </a>
      </div>
    {% endfor %}
  </div>
  <script src="/static/region_selector.js" type="application/javascript"></script>
{% endmacro %}
