{% macro state_selector(c) %}
  <div class="row">
    <div class="label-container">
      <label for="state-selector" class="label">State</label>
    </div>
    <div class="selector-container">
      <select class="form-control" id="state-selector">
        {% for state in c.all_states() %}
          <option data-stateid="{{ state.key.id() }}"
                  data-statename="{{ state.name }}">
            {{ state.name }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <script src="/static/js/state_selector.js" type="application/javascript"></script>
{% endmacro %}
