{% import "components/event_icon.html" as event_icon %}
{% macro year_selector(c, include_upcoming=False) %}
  <div class="row">
    <div class="col col-2 col-sm-1">
      <label for="year-selector" class="vcenter">Year</label>
    </div>
    <div class="col col-6 col-sm-2">
      <select class="form-control" id="year-selector">
        {% if include_upcoming %}
          <option value="upcoming">Upcoming</option>
        {% endif %}
        {% for year in c.years() %}
          <option>{{ year }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <script src="/static/js/year_selector.js" type="application/javascript"></script>
{% endmacro %}
