{% import "components/css.html" as css %}
{% import "components/event_selector.html" as event_selector %}
{% extends "nationals/2019/base.html" %}
{% block title%}Nationals 2019{% endblock %}
{% block content %}
  <p>
    Unfortunately we do not have a CubingUSA Nationals 2019 app.  You can still get all the information you need about your schedule from the <a href="/groups">groups schedule</a>.  We can also send you a text message when it's your turn to compete; see the <a href="/groups">groups schedule</a> for more information.
  </p>
{% endblock %}
