{% import "components/css.html" as css %}
{% import "components/scheduling/event_list.html" as event_list %}
{% extends "nationals/2019/base.html" %}
{% block title%}Nationals 2019 Events{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2019/events') }}
{% endblock %}
{% block content %}
  <h1>CubingUSA Nationals 2019 Events</h1>
  <p>
    All events have <strong>qualifying times</strong>, which must be set in other WCA competitions.  You must qualify for at least one event in order to register for the competition.  After registration closes, we will remove competitors from all events in which they are not qualified.  It is your responsibility to ensure that you are qualified before registering.
  </p>
  <p>
    Qualifying times listed are <strong>single</strong> for all blindfolded events, and <strong>average</strong> for all other events.  All qualifying times are <strong>"less than or equal to"</strong>.  For example, a competitor with a 30.00 second average in 3x3x3 would qualify.
  </p>
  {% if not c.user %}
    <p><a href="/login">Log in</a> with your WCA account to see which events you're qualified for.</p>
  {% endif %}
  {{ event_list.event_list(c, competition_details) }}
{% endblock %}
