{% import "components/css.html" as css %}
{% extends "nationals/2019/base.html" %}
{% block title%}Nationals 2019 Schedule{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2019/schedule') }}
{% endblock %}
{% block content %}
  <h1>CubingUSA Nationals 2019 Schedule</h1>
  <p>
    This schedule is <strong>tentative</strong>, and we'll be updating the exact times between now and the competition.  Events may be moved earlier or later in the same day.
  </p>
  <p>
    After registration closes, competitors will receive a personalized schedule with the exact times of each of their events.
  </p>
  <p>
    Competitors in 3x3 Multi-Blind must submit their cubes for scrambling by <strong>10:30 AM</strong> on the day of the attempt.
  </p>
  <p>
    All times are Eastern Daylight Time (EDT) (UTC-4).
  </p>
  <div class="schedule-container">
    <div class="day-container key">
      <h3>Key</h3>
      <div class="time-block time-block-side">
        <div class="col-12">
          Side Room
        </div>
      </div>
      <div class="time-block time-block-finals">
        <div class="col-12">
          Finals
        </div>
      </div>
    </div>
    <div class="day-container">
      <h3>Thursday, July 25</h3>
      <div class="time-block">
        <div class="event-times">8:00 AM <span class="end-time">&mdash; 10:00 AM</span></div>
        <div class="events">
          <img class="icon-small" src="{{ c.event('777').IconURL() }}">
          <img class="icon-small" src="{{ c.event('clock').IconURL() }}">
          <img class="icon-small" src="{{ c.event('555').IconURL() }}">
          <img class="icon-small" src="{{ c.event('333oh').IconURL() }}">
          Staff Round 1
        </div>
      </div>
      <div class="time-block time-block-side">
        <div class="event-times">8:00 AM <span class="end-time">&mdash; 10:00 AM</span></div>
        <div class="events">
          <img src="{{ c.event('555bf').IconURL() }}"> 5x5x5 Blindfolded Final
        </div>
        <div class="stage">Side Room</div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">10:00 AM <span class="end-time">&mdash; 12:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('clock').IconURL() }}"> Clock Round 1<br>
          <img class="icon" src="{{ c.event('777').IconURL() }}"> 7x7x7 Round 1
        </div>
      </div>
      <div class="time-block time-block-side">
        <div class="event-times">12:30 PM <span class="end-time">&mdash; 2:00 PM</span></div>
        <div class="events">
          <img src="{{ c.event('333mbf').IconURL() }}"> Multi-Blind Attempt 1
        </div>
        <div class="stage">Side Room</div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">2:00 PM <span class="end-time">&mdash; 4:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('555').IconURL() }}"> 5x5x5 Round 1
        </div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">4:00 PM <span class="end-time">&mdash; 6:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('333oh').IconURL() }}"> 3x3x3 One-Handed Round 1
        </div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">5:00 PM <span class="end-time">&mdash; 5:30 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('clock').IconURL() }}"> Clock Final
        </div>
        <div class="stage">Finals</div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">5:30 PM <span class="end-time">&mdash; 6:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('777').IconURL() }}"> 7x7x7 Final
        </div>
      </div>
      <div class="time-block time-block-side">
        <div class="event-times">6:15 PM <span class="end-time">&mdash; 7:15 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('333fm').IconURL() }}"> Fewest Moves Attempt 1
        </div>
        <div class="stage">Side Room</div>
      </div>
    </div>
  </div>
  <div class="schedule-container">
    <div class="day-container">
      <h3>Friday, July 26</h3>
      <div class="time-block time-block-staff">
        <div class="event-times">8:00 AM <span class="end-time">&mdash; 10:00 AM</span></div>
        <div class="events">
          <img class="icon-small" src="{{ c.event('666').IconURL() }}">
          <img class="icon-small" src="{{ c.event('minx').IconURL() }}">
          <img class="icon-small" src="{{ c.event('444').IconURL() }}">
          <img class="icon-small" src="{{ c.event('sq1').IconURL() }}">
          <img class="icon-small" src="{{ c.event('skewb').IconURL() }}">
          Staff Round 1
        </div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">10:00 AM <span class="end-time">&mdash; 12:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('sq1').IconURL() }}"> Square-1 Round 1<br>
          <img class="icon" src="{{ c.event('666').IconURL() }}"> 6x6x6 Round 1
        </div>
      </div>
      <div class="time-block time-block-side">
        <div class="event-times">12:30 PM <span class="end-time">&mdash; 2:00 PM</span></div>
        <div class="events">
          <img src="{{ c.event('333mbf').IconURL() }}"> Multi-Blind Attempt 2
        </div>
        <div class="stage">Side Room</div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">2:00 PM <span class="end-time">&mdash; 4:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('444').IconURL() }}"> 4x4x4 Round 1
        </div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">4:00 PM <span class="end-time">&mdash; 6:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('skewb').IconURL() }}"> Skewb Round 1<br>
          <img class="icon" src="{{ c.event('minx').IconURL() }}"> Megaminx Round 1<br>
          <img class="icon" src="{{ c.event('sq1').IconURL() }}"> Square-1 Round 2
        </div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">5:30 PM <span class="end-time">&mdash; 6:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('666').IconURL() }}"> 6x6x6 Final
        </div>
        <div class="stage">Finals</div>
      </div>
      <div class="time-block time-block-side">
        <div class="event-times">6:15 PM <span class="end-time">&mdash; 7:15 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('333fm').IconURL() }}"> Fewest Moves Attempt 2
        </div>
        <div class="stage">Side Room</div>
      </div>
    </div>
  </div>
  <div class="schedule-container">
    <div class="day-container">
      <h3>Saturday, July 27</h3>
      <div class="time-block time-block-staff">
        <div class="event-times">8:00 AM <span class="end-time">&mdash; 10:00 AM</span></div>
        <div class="events">
          <img class="icon-small" src="{{ c.event('333bf').IconURL() }}">
          <img class="icon-small" src="{{ c.event('pyram').IconURL() }}">
          <img class="icon-small" src="{{ c.event('222').IconURL() }}">
          <img class="icon-small" src="{{ c.event('333').IconURL() }}">
          Staff Round 1
        </div>
      </div>
      <div class="time-block time-block-side">
        <div class="event-times">8:00 AM <span class="end-time">&mdash; 10:00 AM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('333ft').IconURL() }}"> 3x3x3 With Feet Final
        </div>
        <div class="stage">Side Room</div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">10:00 AM <span class="end-time">&mdash; 12:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('222').IconURL() }}"> 2x2x2 Round 1<br>
          <img class="icon" src="{{ c.event('minx').IconURL() }}"> Megaminx Round 2
        </div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">1:00 PM <span class="end-time">&mdash; 1:30 PM</span></div>
        <div class="events">
          <img src="{{ c.event('333bf').IconURL() }}"> 3x3x3 Blindfolded Round 1
        </div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">1:30 PM <span class="end-time">&mdash; 4:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('333').IconURL() }}"> 3x3x3 Round 1<br>
          <img class="icon" src="{{ c.event('444').IconURL() }}"> 4x4x4 Round 2
        </div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">4:00 PM <span class="end-time">&mdash; 6:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('222').IconURL() }}"> Pyraminx Round 1
        </div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">5:30 PM <span class="end-time">&mdash; 6:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('minx').IconURL() }}"> Megaminx Final
        </div>
        <div class="stage">Finals</div>
      </div>
      <div class="time-block time-block-side">
        <div class="event-times">6:15 PM <span class="end-time">&mdash; 7:15 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('333fm').IconURL() }}"> Fewest Moves Attempt 3
        </div>
        <div class="stage">Side Room</div>
      </div>
    </div>
  </div>
  <div class="schedule-container">
    <div class="day-container">
      <h3>Sunday, July 28</h3>
      <div class="time-block time-block-finals">
        <div class="event-times">8:00 AM <span class="end-time">&mdash; 9:00 AM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('444bf').IconURL() }}"> 4x4x4 Blindfolded Final
        </div>
        <div class="stage">Finals</div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">9:00 AM <span class="end-time">&mdash; 10:30 AM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('222').IconURL() }}"> 2x2x2 Round 2<br>
          <img class="icon" src="{{ c.event('333').IconURL() }}"> 3x3x3 Round 2
        </div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">10:30 AM <span class="end-time">&mdash; 11:00 AM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('pyram').IconURL() }}"> Pyraminx Round 2<br>
          <img class="icon" src="{{ c.event('555').IconURL() }}"> 5x5x5 Round 2
        </div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">11:00 AM <span class="end-time">&mdash; 11:30 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('skewb').IconURL() }}"> Skewb Round 2<br>
          <img class="icon" src="{{ c.event('444').IconURL() }}"> 4x4x4 Round 3
        </div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">11:30 AM <span class="end-time">&mdash; 12:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('333oh').IconURL() }}"> 3x3x3 One-Handed Round 2<br>
          <img class="icon" src="{{ c.event('222').IconURL() }}"> 2x2x2 Round 3
        </div>
      </div>
      <div class="time-block time-block-main">
        <div class="event-times">12:00 PM <span class="end-time">&mdash; 12:40 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('333').IconURL() }}"> 3x3x3 Round 3<br>
          <img class="icon" src="{{ c.event('pyram').IconURL() }}"> Pyraminx Round 3
        </div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">1:20 PM <span class="end-time">&mdash; 1:40 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('sq1').IconURL() }}"> Square-1 Final
        </div>
        <div class="stage">Finals</div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">1:40 PM <span class="end-time">&mdash; 2:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('pyram').IconURL() }}"> Pyraminx Final
        </div>
        <div class="stage">Finals</div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">2:00 PM <span class="end-time">&mdash; 2:20 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('555').IconURL() }}"> 5x5x5 Final
        </div>
        <div class="stage">Finals</div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">2:20 PM <span class="end-time">&mdash; 2:40 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('skewb').IconURL() }}"> Skewb Final
        </div>
        <div class="stage">Finals</div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">2:40 PM <span class="end-time">&mdash; 3:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('444').IconURL() }}"> 4x4x4 Final
        </div>
        <div class="stage">Finals</div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">3:00 PM <span class="end-time">&mdash; 3:20 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('222').IconURL() }}"> 2x2x2 Final
        </div>
        <div class="stage">Finals</div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">3:20 PM <span class="end-time">&mdash; 3:40 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('333oh').IconURL() }}"> 3x3x3 One-Handed Final
        </div>
        <div class="stage">Finals</div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">3:40 PM <span class="end-time">&mdash; 4:00 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('333bf').IconURL() }}"> 3x3x3 Blindfolded Final
        </div>
        <div class="stage">Finals</div>
      </div>
      <div class="time-block time-block-finals">
        <div class="event-times">4:00 PM <span class="end-time">&mdash; 5:20 PM</span></div>
        <div class="events">
          <img class="icon" src="{{ c.event('333').IconURL() }}"> 3x3x3 Final
        </div>
        <div class="stage">Finals</div>
      </div>
    </div>
  </div>
{% endblock %}
