{% extends "nationals/2019/base.html" %}
{% block title%}Nationals 2019 Unofficial Events{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2019/unofficial') }}
{% endblock %}
{% block content %}
  <h1>Unofficial Events</h1>
  <div class = "Seminars">
      <div class="card">
          <div class="card-header">
              <h4><i class="fa fa-microphone"></i> Seminars</h4>
          </div>
          <div class="card-body">
              <div class="card-text">
                    If you would be interested in having a seminar on a cubing-related topic, please fill <a href="https://forms.gle/TjzHawgaTKSnayDf9"> 
                        this form</a> out prior to <b>Saturday, July 27</b> in 
                    order to be in consideration. Seminars must be within 15-30 minutes. After July 27th, the organization team will look through all the
                    applications and determine which seminars we will be following through with as well as provide the presenters with their time slots.
              </div>
          </div>
      </div>
  </div>
  <br>
  <div class="Mosaics">
      <div class="card">
          <div class="card-header">
              <h4><i class="fa fa-puzzle-piece"></i> Mosaics</h4>
          </div>
          <div class="card-body">
              <div class="card-text">
                    The Mosaic event will be up to 18 teams creating Rubik's cube mosaics using up to 300 cubes. Each team will have access to all 300 
                    cubes during a 1 hour slot. The theme this year is Celebrity/Character and/or Landmark/Location and is up to interpretation by each 
                    team. Any mosaic that is deemed inappropriate by our judges will be disqualified. Mosaics will be judged on the image portrayed, 
                    accuracy, creativity, and relativity to the theme.
                    <div>
                        <br />
                        <a href="https://forms.gle/vCSHtD4PcWKoiLwVA">Applications</a> will be accepted until <b>July 29th</b>. Teams will be notified if their applications were accepted and if so, which time 
                        slot they will be assigned no later than July 30th.
                    </div>                    
              </div>
          </div>
      </div>
  </div>
  <br>
  <div class="RegionsRelay">
      <div class="card">
          <div class="card-header">
              <h4><i class="fa fa-trophy"></i> Regions Relay</h4>
          </div>
          <div class="card-body">
              <div class="card-text">
                The Regions Relay 2019 will be a knockout style tournament with 16 teams of 4 members each. Each team will represent a
                <a href="https://cubingusa.org/regional">CubingUSA Region</a> and each member must be a resident of that region. In order to be eligible,
                you must have <a href="https://cubingusa.org/edit">selected your home state</a> in CubingUSA. Two teams will be chosen from each of the 
                seven regions based on fastest official 3x3 
                average of all team members combined. In addition to this, two wildcard teams will be chosen. Please fill <a href="https://forms.gle/zBDoMcfcBmQjBvNg6">this form</a> out by Tuesday, 
                July 30th in order to be eligible.
              </div>
          </div>
      </div>
  </div>
  <br>
  <div class="ParentTeamBLD">
      <div class="card">
          <div class="card-header">
              <h4><i class="fa fa-user"></i> Parent Team BLD</h4>
          </div>
          <div class="card-body">
              <div class="card-text">
                This unofficial event will be a team BLD solve between a competitor and one of their parents/legal guardians. Team BLD is an event in 
                which one person is blindfolded and turning the cube while the other person tells you what moves to do. One person is the "eyes" while
                the other person is the "hands" of a solve.

                <div>
                    <br/>
                    <b>How Parent Team BLD Works:</b>
                    In this specific event, the parent will be the one blindfolded and turning the puzzle while the competitor instructs the parent what moves
                    to apply to the puzzle. The type of communication is completely up to the team. Similar to a usual WCA event, when your group is called 
                    up, both participants will bring their one cube up to the drop off station to be scrambled. Once your team is called up to a station, the
                    parent will sit down and place the blindfold over their eyes. The competitor standing beside the parent will be able to inspect the cube 
                    for up to 15 seconds. Once both the competitor and the parent are ready, the competitor will place the cube on the mat in front of the parent. 
                    The parent will place their hands on the timer, release, and then begin the solve. From this point forward, only the parent may apply moves to the cube. The 
                    competitor beside the parent can communicate however they would like to their parent so long as they do not purposefully try and distract
                    competitors at the stations around them (i.e. no screaming or intentionally trying to interfere with another teams' solves - this will 
                    result in a DNF). The same penalties are still applied to the final resting state of the puzzle. 
                </div>
                <br/>

                <div>
                Team limit: 40*
                <br>
                Format: Best of 2*
                </div>
                
                <br>
                Registration is now open, you can sign up using this <a href="https://forms.gle/2iFVpLhyDqciF1AYA">link</a>.

                <div>
                <br>
                *Depending on the popularity of the event and timing available to us, the limit and/or format may change slightly. Registrations will be accepted on a first-come first-serve basis.
                </div>
              </div>
          </div>
      </div>
  </div>


{% endblock %}
