{% extends "nationals/2019/base.html" %}
{% block title%}Nationals 2019 Unofficial Events{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2019/unofficial') }}
{% endblock %}
{% block content %}
  <h1>Unofficial Events</h1>
  <div class = "Seminars">
      <div class="card">
          <div class="card-header">
              <h4><i class="fa fa-microphone"></i> Seminars</h4>
          </div>
          <div class="card-body">
              <div class="card-text">
                    If you would be interested in having a seminar on a cubing-related topic, please fill <a href="https://forms.gle/TjzHawgaTKSnayDf9"> 
                        this form</a> out prior to <b>Saturday, July 27</b> in 
                    order to be in consideration. Seminars must be within 15-30 minutes. After July 27th, the organization team will look through all the
                    applications and determine which seminars we will be following through with as well as provide the presenters with their time slots.
              </div>
          </div>
      </div>
  </div>
  <br>
  <div class="Mosaics">
      <div class="card">
          <div class="card-header">
              <h4><i class="fa fa-puzzle-piece"></i> Mosaics</h4>
          </div>
          <div class="card-body">
              <div class="card-text">
                    The Mosaic event will be up to 18 teams creating Rubik's cube mosaics using up to 300 cubes. Each team will have access to all 300 
                    cubes during a 1 hour slot. The theme this year is Celebrity/Character and/or Landmark/Location and is up to interpretation by each 
                    team. Any mosaic that is deemed inappropriate by our judges will be disqualified. Mosaics will be judged on the image portrayed, 
                    accuracy, creativity, and relativity to the theme.
                    <div>
                        <br />
                        <a href="https://forms.gle/vCSHtD4PcWKoiLwVA">Applications</a> will be accepted until <b>July 29th</b>. Teams will be notified if their applications were accepted and if so, which time 
                        slot they will be assigned no later than July 30th.
                    </div>                    
              </div>
          </div>
      </div>
  </div>

{% endblock %}
