{% import "components/css.html" as css %}
{% import "components/nav.html" as nav %}
{% extends "base.html" %}
{% block head %}
  <meta property="og:image" content="https://cubingusa.org/static/img/seattle.jpg"/>
{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/wc2025/base') }}
{% endblock %}
{% block navbar_secondary %}
  <div class="navbar-secondary">
    <div class="container">
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#second_nav"
              aria-controls="second_nav"
              aria-expanded="false"
              aria-label="Worlds navigation">
        <span class="sr-only">Worlds navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="second_nav">
        <ul class="navbar-left">
          {% call nav.navitem(c, '/worlds/') %} Worlds 2025 {% endcall %}
          {% call nav.navitem(c, '/worlds/events') %} Events {% endcall %}
          {% call nav.navitem(c, '/worlds/qualification') %} Qualification {% endcall %}
          {% call nav.navitem(c, '/worlds/schedule') %} Schedule {% endcall %}
          {% call nav.navitem(c, '/worlds/stream') %} Stream {% endcall %}
          {% call nav.navitem(c, '/worlds/volunteers') %} Volunteers {% endcall %}
          {% call nav.navitem(c, '/worlds/policies') %} Policies {% endcall %}
          {% call nav.navitem(c, '/worlds/travel') %} Travel {% endcall %}
          {% call nav.navitem(c, '/worlds/unofficial') %} Unofficial Events {% endcall %}
          {% call nav.navitem(c, '/worlds/contact') %} FAQ and Contact {% endcall %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
