{% import "components/css.html" as css %}
{% extends "nationals/wc2025/base.html" %}
{% block title%}Rubik's WCA World Championship 2025 - Schedule{% endblock %}
{% block content %}
  <h3>Rubik's WCA World Championship 2025 Schedule</h3>
  <p>
    The tentative schedule is available at the <a href="https://www.worldcubeassociation.org/competitions/WC2025#competition-schedule">WCA website</a>. We will adjust the exact starting time of each event based on the number of registered competitors, however we will not change the scheduled days of any events.
  </p>
  <p>
    Competitors must check in before their first event. Check-in will be open starting at <strong>8:00 AM</strong> on Thursday, Friday, and Saturday. You do not need to check in on Thursday if you do not have any events on Thursday.
  </p>
  <p>
    We reserve the right to change the number of competitors advancing to the semi-finals in each event, as well as 3x3 Round 2, depending on the number of competitors registered. In addition, we may add a semi-final to both 6x6 and 7x7. We are planning to make any changes of this nature no later than March 1, 2025.
  </p>
  <p>
    Besides the compettiion, we'll have plenty of other excitement throughout the week:
  </p>
  <p>
    <b>Saturday, June 28 - Sunday, June 29</b>: PNW Cubing is hosting <a href="https://www.worldcubeassociation.org/competitions/WarmUpSeattle2025">Warm Up Seattle 2025</a> in Lynnwood, Washington! Your chance to warm up for Rubik's WCA World Championship 2025! Lynwood is easily accessible from Downtown Seattle.<br/>
    <b>Wednesday, July 2</b>: <i>Cubing at the Ball Game</i>: we've reserved a block of tickets for the Seattle Mariners vs. Kansas City Royals baseball game! The seats are great (right behind home plate in the upper deck) and only $20 each, and the stadium is easily accessible from the venue. We only have a limited number of seats available, so make sure to book soon at <a href="https://ticketor.com/cubingusa">Ticketor</a>. Non-competitors are welcome to book seats as well!<br/>
    <b>Thursday, July 3</b>: To finish up the first night of the competition, we'll have our opening ceremony, including the traditional Flag Parade, followed by the always-exciting Rubik's Nations Cup.<br/>
    <b>Friday, July 4</b>: After the competition, you'll be able to enjoy the July 4th fireworks over Lake Union.</br>
    <b>Saturday, July 5</b>: WCA Staff Members will be invited to attend the WCA's annual meeting.<br/>
    <b>Sunday, July 6</b>: We'll be finishing up the competition with our closing ceremony, awards, and (of course) crowning the new WCA World Champion!
  </p>
{% endblock %}
