{% extends "nationals/wc2025/base.html" %}
{% block title%}Rubik's WCA World Championship 2025 - Travel{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/wc2025/travel') }}
{% endblock %}
{% block content %}
  <h3>Travel Information</h3>
  <div class="nats-top-row">
    <div class="info-box-container">
      <div class="card">
        <div class="card-header">
          <h4><span class="material-symbols-outlined">location_city</span> Venue</h4>
        </div>
        <div class="card-body">
          <div class="card-text">
            <p>
              The competition will be held at the <strong><a href="https://www.seattleconventioncenter.com/" target="_blank">Seattle Convention Center</a> in Seattle, Washington.</strong>  We're pleased to be working with the Convention Center, which will be a great venue for our competition.
            </p>
          </div>
          <div class="info-box-row">
            <span class="material-symbols-outlined">location_on</span> <span class="info-box-label">Address:</span> <a href="https://maps.app.goo.gl/g55jiWw9u83TPBbj7" target="_blank">705 Pike St</a>
          </div>
          <div class="info-box-row">
            <span class="material-symbols-outlined">location_city</span> <span class="info-box-label">Main Hall:</span> Exhibit Hall 4EF
          </div>
          <div class="info-box-row">
            <span class="material-symbols-outlined">location_city</span> <span class="info-box-label">Secondary Hall:</span> Exhibit Hall 4AB
          </div>
          <div class="info-box-row">
            <span class="material-symbols-outlined">location_city</span> <span class="info-box-label">Long Events:</span> 6th Floor Meeting Rooms
          </div>
          <div class="info-box-row">
            <span class="material-symbols-outlined">explore</span> <span class="info-box-label"><a href="https://visitseattle.org/site/cubingusa2025/">Travel Information</a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="info-box-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.7632697151207!2d-122.332990046083!3d47.61129263284042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906ab5090f3cc7%3A0x38d32c762126bc69!2sSeattle%20Convention%20Center%20%7C%20Arch!5e0!3m2!1sen!2sus!4v1727542027295!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="info-box-container">
      <div class="card">
        <div class="card-header">
          <h4><span class="material-symbols-outlined">bed</span> Hotel</h4>
        </div>
        <div class="list-group list-group-flush">
          <li class="list-group-item">
            We have two official hotels for Rubik's WCA World Championship 2025, both located only a short walk from the venue! Make sure to book using our booking links to get the best rate.
          </li>
          <li class="list-group-item">
            <b>Hyatt Regency Seattle</b><br/>
            <a href="https://maps.app.goo.gl/sDkJu1XrqfZUAnTB7">808 Howell St, Seattle, WA</a><br/>
            Booking link <a href="https://www.hyatt.com/en-US/group-booking/SEARS/G-RUBX">here</a><br/>
          </li>
          <li class="list-group-item">
            <b>Sheraton Grand Seattle</b><br/>
            <a href="https://maps.app.goo.gl/eSVaQP5Mpo1LRqJ67">1400 6th Ave, Seattle, WA</a><br/>
            Booking link <a href="https://book.passkey.com/e/50911319">here</a><br/>
          </li>
        </div>
      </div>
    </div>
    <div class="info-box-container">
      <div class="card">
        <div class="card-header">
          <h4><span class="material-symbols-outlined">directions_car</span> Transportation</h4>
        </div>
        <div class="card-body">
          <div class="info-box-row">
            <span class="material-symbols-outlined">travel</span> <span class="info-box-label">Nearest Airport:</span> <strong>Seattle-Tacoma International Airport (SEA)</strong> serves Seattle and has many daily flights. The <a href="https://www.soundtransit.org">1 Line</a> connects SEA with the city around every ten minutes; the venue is right next to the Westlake station.
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
