{% extends "nationals/wc2025/base.html" %}
{% block title%}Rubik's WCA World Championship 2025 - Unofficial Events{% endblock %}
{% block content %}
  <h3>Unofficial Events</h3>
  <ul>
    <li><a href="#nations">Rubik's Nations Cup</a></li>
    <li><a href="#autograph">Autograph Booth</a></li>
    <li><a href="#creators">Puzzle Creators and Designers</a></li>
  </ul>
  <p>
    Make sure to check out all of the exciting events going on throughout the weekend besides the competition! Unofficial events will be held in Room 4C-4, near the side hall:
  </p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Event</th>
        <th scope="col">Format</th>
        <th scope="col">Cutoff</th>
        <th scope="col">Time Limit</th>
        <th scope="col">Day</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mirror Blocks</td>
        <td>Average of 5</td>
        <td>1:45.00</td>
        <td>4:00.00</td>
        <td>Thursday</td>
      </tr>
      <tr>
        <td>Face-Turning Octahedron (FTO)</td>
        <td>Average of 5</td>
        <td>1:30.00</td>
        <td>4:00.00</td>
        <td>Friday</td>
      </tr>
      <tr>
        <td>Team Blindfolded</td>
        <td>Average of 5</td>
        <td>1:30.00</td>
        <td>4:00.00</td>
        <td>Saturday</td>
      </tr>
      <tr>
        <td>Magic</td>
        <td>Average of 5</td>
        <td>None</td>
        <td>1:00.00</td>
        <td>Thursday to Saturday</td>
      </tr>
      <tr>
        <td>Master Magic</td>
        <td>Average of 5</td>
        <td>None</td>
        <td>1:00.00</td>
        <td>Thursday to Saturday</td>
      </tr>
    </tbody>
  </table>
  <p>
    Please refer to <a href="https://cubingcontests.com/rules/unofficial">cubingcontests.com</a> for regulations for all events. Groups for all events can be found <a href="https://docs.google.com/spreadsheets/d/1wTwUacGuT8WNTivTxKvULvsWoDNohSoJ_wOcMTQ_SQo/edit?gid=1368324219#gid=1368324219">here</a>. You may also register on-site.
  </p>
  <p>
  FTO, Mirror Blocks, and Team BLD will be held on specific days throughout the competition. On each day, you’ll be able to go to the side room to compete in whichever event is being held that day. You’ll be expected to bring your own judge for your attempts and will only be able to participate if there is a volunteer member present to overlook and help scramble for your attempts.
  </p>
  <p>
  Magic and Master Magic will be held everyday, so you’ll just need to bring your own judge and make sure that a volunteer member is present to overlook your attempts.
  </p>
  <p>Mirror Blocks, FTO, and Team Blindfolded will have top-8 finals on the main stage during lunch on Sunday.</p>
  <h3 id="nations">Rubik's Nations Cup</h3>
  <p>
    Rubik's Nations Cup will be a knockout style tournament with teams of 3 members each. Each team will represent one country. Each member of each team must be listed under the specific country they have signed up for on their WCA profile.
  </p>
  <p>
  Rubik's Nations Cup will be held on Thursday, July 3 at 7pm, just after the opening ceremony. See the competition schedule <a href="https://www.worldcubeassociation.org/competitions/wc2025#competition-schedule">here</a>.
  </p>
  <p>
  The bracket and teams can be found <a href="https://docs.google.com/spreadsheets/d/1ng8hWTbHi7dYmF84tvuWVqnSTuRxbsCmruKOqrzOdEY/edit?gid=1426069462#gid=1426069462">here</a>!
  </p>
  <h3 id="autograph">Autograph Booth</h3>
  <p>
    Head over to the WCA Booth throughout the competition to get autographs from your favorite cubers!
  </p>
  <h5>Thursday</h5>
  <table class="table">
    <tbody>
<tr><th scope="row">11:30-12:00</th><td>SoupTimmy</td><td>Dylan Miller</td><td>Luke Griesser</td></tr>
<tr><th scope="row">12:00-12:30</th><td>SoupTimmy</td><td>Jayden McNeill</td><td>Zayn Khanani</td></tr>
<tr><th scope="row">1:30-2:00</th><td>Feliks Zemdegs</td><td>Max Park</td><td></td></tr>
<tr><th scope="row">2:00-2:30</th><td>Feliks Zemdegs</td><td>Max Park</td><td>Seung Hyuk Nahm</td></tr>
<tr><th scope="row">3:00-3:30</th><td>Yiheng Wang</td><td>Antonie Paterakis</td><td>Arisandra Soo</td></tr>
<tr><th scope="row">3:30-4:00</th><td>Yiheng Wang</td><td>Ciarán Beahan</td><td>Sebastian Weyer</td></tr>
    </tbody>
  </table>
  <h5>Friday</h5>
  <table class="table">
    <tbody>
<tr><th scope="row">10:00-10:30</th><td>Z3Cubing</td><td>Kevin Hays</td><td>Matty Hiroto Inaba</td></tr>
<tr><th scope="row">10:30-11:00</th><td>Z3Cubing</td><td>Daniel Karnaukh</td><td>Timofei Tarasenko</td></tr>
<tr><th scope="row">11:00-11:30</th><td>Tymon Kolasiński</td><td>Sameer Aggarwal</td><td>Tommy Cherry</td></tr>
<tr><th scope="row">11:30-12:00</th><td>Tymon Kolasiński</td><td>Carolina Guidetti</td><td>Delphine Tran</td></tr>
<tr><th scope="row">2:00-2:30</th><td>Charlie Eggins</td><td>Yusheng Du</td><td></td></tr>
<tr><th scope="row">3:00-3:30</th><td>Tingman + Olor</td><td>Ryan Pilat</td><td></td></tr>
<tr><th scope="row">3:30-4:00</th><td>Tingman + Olor</td><td>Rowe Hessler</td><td></td></tr>
    </tbody>
  </table>
  <h5>Saturday</h5>
  <table class="table">
    <tbody>
<tr><th scope="row">2:00-2:30</th><td>CubeHead</td><td>Luke Garrett</td><td>Brendyn Dunagan</td></tr>
<tr><th scope="row">2:30-3:00</th><td>CubeHead</td><td>Luke Garrett</td><td>Max Siauw</td></tr>
    </tbody>
  </table>
  <h3 id="creators">Puzzle Creators / Designers</h3>
  <p>
  Calling all puzzle designers and creators! This year at the World Championship, we'll have a space where puzzle creators and designers can showcase the work they've put into their own designs/puzzles!
  </p>
  <p>
    Location of these rooms is to be announced. More information about the creators showcasing their work will come soon!
  </p>
{% endblock %}
