{% extends "nationals/wc2025/base.html" %}
{% block title%}Rubik's WCA World Championship 2025 - Unofficial Events{% endblock %}
{% block content %}
  <h3>Unofficial Events</h3>
  <p>
    We are holding some unofficial events throughout the WCA World Championship this year in Seattle!
  </p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Event</th>
        <th scope="col">Format</th>
        <th scope="col">Cutoff</th>
        <th scope="col">Time Limit</th>
        <th scope="col">Day</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mirror Blocks</td>
        <td>Average of 5</td>
        <td>1:45.00</td>
        <td>4:00.00</td>
        <td>Thursday</td>
      </tr>
      <tr>
        <td>Face-Turning Octahedron (FTO)</td>
        <td>Average of 5</td>
        <td>1:30.00</td>
        <td>4:00.00</td>
        <td>Friday</td>
      </tr>
      <tr>
        <td>Team Blindfolded</td>
        <td>Average of 5</td>
        <td>1:30.00</td>
        <td>4:00.00</td>
        <td>Saturday</td>
      </tr>
      <tr>
        <td>Magic</td>
        <td>Average of 5</td>
        <td>None</td>
        <td>1:00.00</td>
        <td>Thursday to Saturday</td>
      </tr>
      <tr>
        <td>Master Magic</td>
        <td>Average of 5</td>
        <td>None</td>
        <td>1:00.00</td>
        <td>Thursday to Saturday</td>
      </tr>
    </tbody>
  </table>
  <p>
    Please refer to <a href="https://cubingcontests.com/rules/unofficial">cubingcontests.com</a> for regulations for all events.
  </p>
  <p>
  FTO, Mirror Blocks, and Team BLD will be held on specific days throughout the competition. On each day, you’ll be able to go to the side room to compete in whichever event is being held that day. You’ll be expected to bring your own judge for your attempts and will only be able to participate if there is a volunteer member present to overlook and help scramble for your attempts.
  </p>
  <p>
  Magic and Master Magic will be held everyday, so you’ll just need to bring your own judge and make sure that a volunteer member is present to overlook your attempts.
  </p>
  <p>Mirror Blocks, FTO, and Team Blindfolded will have top-8 finals on the main stage during lunch on Sunday.</p>
  <p>
    On-site registration will be allowed for all unofficial events. If you’re interested in participating in any unofficial events, please fill out <a href="https://forms.gle/g27tw4KsAsnZsjwr7">this form</a>.
  </p>
  <h3>Rubik's Nations Cup</h3>
  <p>
    Rubik's Nations Cup will be a knockout style tournament with teams of 3 members each. Each team will represent one country. Each member of each team must be listed under the specific country they have signed up for on their WCA profile. <b>Most spots will be reserved for one team per country.</b> A limited number of B teams may be able to participate, however A teams will generally get priority.
  </p>
  <p>
  Rubik's Nations Cup will be held on Thursday, July 3 at 7pm, just after the opening ceremony. See the competition schedule <a href="https://www.worldcubeassociation.org/competitions/wc2025#competition-schedule">here</a>.
  </p>
  <p>
    One team will be chosen from each country below based on the fastest official 3x3 Average of all team members combined.
  </p>
  <p>
  Please fill out <a href="https://forms.gle/HheWjjQ2jbYkag3W9">this form</a> by Sunday, June 15, 2025 in order to be eligible. Please make sure all members of the team you are submitting are okay with participating on your team.
  </p>
  <p>
    If you have any edits to make on your submitted Teams, please email <a href="mailto:mdickman@worldcubeassociation.org">Matthew Dickman</a>. A change to a team member may affect whether your team is included in the event or not.
  </p>

  <h3>Puzzle Creators / Designers</h3>
  <p>
  Calling all puzzle designers and creators! This year at the World Championship, we'd like to have a space where puzzle creators and designers can showcase the work they've put into their own designs/puzzles! If you are interested in having a booth of your own to put your puzzles on display, please fill out <a href="https://forms.gle/hNgVDVTsmsG6batf7">this form</a> to apply by Sunday, June 15.
  </p>
  <p>
    These booths will be in the same room as the unofficial events throughout the competition. Filling out this form does not guarantee that you will have a booth, you will need an approval email.
  </p>
{% endblock %}
