{% extends "nationals/wc2025/base.html" %}
{% block title%}Rubik's WCA World Championship 2025 - Venue{% endblock %}
{% block content %}
  <h3>Venue Information</h3>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <p>
        Most of the competition will take place on the fourth floor of the Seattle Convention Center Arch Building. You will enter via 705 Pike St, and take the escalator up to the fourth floor.
      </p>
      <p>
        <b>Check-in</b> and the Help Desk is on the 6th floor. After you arrive on your first day, please proceed up the escalator to the 6th floor. You will pick up your name badge or spectator pass there, and then return to the 4th floor to enter the competition area. You'll be in the lower-left corner of the map shown here.
      </p>
      <p>
        There are two competition spaces: the <b>Main Stages</b> in Hall 4EF can be accessed by walking across the Skybridge, and the <b>Side Stages</b> in Hall 4AB are near the entrance. Please make sure you check your schedule to see which room you are competing in.
      </p>
      <p>
        The <b>Data Entry</b> table will be near the <b>Main Orange</b> stage, please head there if you believe there are any mistakes in your results.
      </p>
    </div>
    <div class="col-sm-6 col-xs-12">
      <img src="/static/img/worlds-floorplan.png">
    </div>
  </div>
  <h4>Long Events</h4>
  <p>
    Multi-Blind and Fewest Moves will be taking place on the sixth floor of the venue, accessible via the stairs or escalator in Atrium Lobby near the side stages. Multi-Blind will be in rooms 608-609, and Fewest Moves will be in rooms 606-607. Spectators are not allowed in either of these rooms while events are taking place.
  </p>
  <h4>Food Options</h4>
  <p>
    There are two concessions stands available in the venue: <b>Market</b> in Hall 4F, near the Main Orange and Main Green stages, and <b>The Grill</b> in Hall 4A, near the side stages. In addition, there will be an espresso cart with baked goods in Hall 4C.
  </p>
  <p>
    You may also bring in lunch for yourself, however large group orders, delivery, and catering services are prohibited by venue policy.
  </p>
{% endblock %}
