{% import "components/css.html" as css %}
{% import "components/contact.html" as contact %}
{% import "components/faq.html" as faq %}
{% extends "nationals/2018/base.html" %}
{% block title%}Contact{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2018/contact') }}
{% endblock %}
{% block content %}
  {% call contact.contact_form(c, result) %}
  <div>
    Please take a look at the following frequently asked questions and see if any of them answer your question.
  </div>
  <p>
    <div id="faq" role="tablist">
      {% call faq.faq_item("Is there a charge for spectators? Do spectators need to register?", "spectators") %}
        No. You are welcome to spectate for free. Only competitors need to pay and register.
      {% endcall %}

      {% call faq.faq_item("Am I allowed to make recordings at the competition?", "recordings") %}
      Personal and non-commercial recordings are allowed. All <b>commercial media</b> must contact us with the form below for opportunities and receive prior permission.
      {% endcall %}

      {% call faq.faq_item("I have never competed before. Can CubingUSA Nationals 2018 be my first competition?", "firstcomp") %}
        No. You must already have a qualifying time from a WCA competition in order to register. Please see the <a href="{{ c.uri_for('events') }}">events page</a> for per-event qualifying times.
      {% endcall %}

      {% call faq.faq_item("Where can I get an official qualification time?", "howqualify") %}
        You can find a list of <a href="https://www.worldcubeassociation.org/competitions?region=USA" target="_blank">upcoming US competitions here</a>, or <a href="https://www.worldcubeassociation.org/competitions?region=all" target="_blank">upcoming competitions in all regions here</a>.
      {% endcall %}
    </div>
  </p>
  {% endcall %}
  <script src="/static/js/contact.js" type="application/javascript"></script>
{% endblock %}
