{% import "components/css.html" as css %}
{% import "components/event_selector.html" as event_selector %}
{% extends "nationals/2018/base.html" %}
{% block title%}Nationals 2018 Groups{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2018/index') }}
{% endblock %}
{% block content %}
  <h2>CubingUSA Nationals 2018 Groups</h2>
  <p>
    <div class="form-group">
      <label for="competitor-select">
        Select a Competitor
      </label>
      <select class="form-control" id="competitor-select">
        <option>
        {% for competitor in competitors %}
          <option data-wcaid="{{ competitor['wca_id'] }}"
                  {% if active_competitor and competitor['id'] == active_competitor['id'] %}
                    selected
                  {% endif %}>
            {{ competitor['name'] }}
          </option>
        {% endfor %}
      </select>
    </div>
  </p>
  {% if schedule %}
    <h4>{{ active_competitor['name']}}</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Time
          </th>
          <th>
            Event
          </th>
          <th>
            Group
          </th>
        </tr>
      </thead>
      <tbody>
        {% set ns = namespace(activeday=-1) %}
        {% for item in schedule %}
          {% if 'competing' in item %}
            {% set group = item['competing'] %}
            {% if ns.activeday != group['start_time']['weekday'] %}
              {% set ns.activeday = group['start_time']['weekday'] %}
              <tr class="table-secondary">
                <td colspan="4">
                  <b>{{ f.format_day_of_week(ns.activeday) }}</b>
                </td>
              </tr>
            {% endif %}
            <tr>
              <td>
                {{ f.format_time(group['start_time']) }}
              </td>
              <td>
                {{ f.format_event_round(group['round']) }}
              </td>
              <td>
                <a href="{{ c.uri_for('groups_2018_group',
                                      event_id=group['round']['event']['id'],
                                      round_num=group['round']['number'],
                                      stage=group['stage']['id'],
                                      group=group['number']) }}">
                  {{ group['stage']['name'] }} {{ group['number'] }}
                </a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% if group %}
    <h4>{{ f.format_event_round(group['group']['round']) }} &mdash; {{ group['group']['stage']['name'] }} {{ group['group']['number'] }}</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            WCA ID
          </th>
          <th>
            Seed Time
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-secondary">
          <td colspan="4">
            <b>Competitors</b>
          </td>
        </tr>
        {% for competitor in group['competitors'] %}
          <tr>
            <td>
              <a href="{{ c.uri_for('groups_2018_person', person_id=competitor['wca_id']) }}">
                {{ competitor['name'] }}
              </a>
            </td>
            <td>
              <a href="https://worldcubeassociation.org/persons/{{ competitor['wca_id'] }}"
                 target="_blank">
                {{ competitor['wca_id'] }}
              </a>
            </td>
            <td>
              {% if competitor['wca_id'] in seed_times %}
                {{ c.formatters.FormatTime(seed_times[competitor['wca_id']].best, event_key, True) }}
              {% else %}
                &ndash;
              {% endif %}
            </td>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  <p>
    Groups and times are subject to change.  Please be ready to compete 10 minutes before your group is scheduled to start, and please listen for announcements.
  </p>
  <script src="/static/js/nationals-groups-2018.js" type="application/javascript"></script>
{% endblock %}
