{% import "components/event_selector.html" as event_selector %}
{% extends "base.html" %}
{% block title%}Nationals{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/static/css/nationals.css" type="text/css">
{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1>CubingUSA Nationals 2018</h1>
    <p>
      We're pleased to announce that CubingUSA Nationals 2018 will be held <strong>July 27-29, 2018</strong> at the <a href="https://www.visitsaltlake.com/salt-palace-convention-center/" target="_blank">Salt Palace Convention Center</a> in <strong>Salt Lake City, Utah!</strong>
    </p>
    <p>
      Registration will be held on the <a href="https://www.worldcubeassociation.org/competitions/CubingUSANationals2018" target="_blank">WCA website</a> starting on <strong>July 1, 2018</strong> at <strong>3:00 AM PST</strong>.  All competitors must register online.  There will be a limit of <strong>20 competitors</strong>, and a registration fee of <strong>$5</strong> per competitor.  There will be qualifying times in all events; please see the <a href="{{ c.uri_for('events') }}">Events page</a> for more details.
    </p>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Past <span id="nationals-evt"></span> National Champions</h4>
      {{ event_selector.event_selector(c, include_magic=True, include_mbo=False) }}
      <div id="champions-table"></div>
      <div class="spinner" id="nats-spinner"></div>
    </div>
  </div>
  <script src="/static/js/nationals.js" type="application/javascript"></script>
{% endblock %}
