{% extends "nationals/2018/base.html" %}
{% block title%}Nationals 2018 Unofficial Events{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2018/unofficial') }}
{% endblock %}
{% block content %}
  <h1>Unofficial Events and Seminars</h1>
  <div class="row">
    <div class="info-box-container">
      <div class="card">
        <div class="card-header">
          <h4><i class="fa fa-clock-o" aria-hidden="true"></i> Friday Night Schedule</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="info-box-label">7:15: 3x3 Fewest Moves ends</span>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">7:30 &ndash; 7:50: Surprise Unofficial Event</p>
            <p class="info-box-details">Bring a 3x3 and have a random seat in the audience!</p>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">7:50 &ndash; 8:15: 2x2 &ndash; 7x7 Relay Race</p>
            <p class="info-box-details">Max Park vs ???</p>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">8:15 &ndash; 9:30: Seminars</p>
            <p class="info-box-details">If you're interested in giving a seminar, please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0qaJPqUzR9Pb5j1hzdz1QczO9Kdy8zUfCd_nmI8QLRVIBgg/viewform">this form</a> and we will contact you with more information.  The deadline to apply is Sunday, July 15th.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-box-container">
      <div class="card">
        <div class="card-header">
          <h4><i class="fa fa-clock-o" aria-hidden="true"></i> Saturday Night Schedule</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="info-box-label">7:15: 3x3 Fewest Moves ends</span>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">7:30 &ndash; 8:30: <i>Why We Cube</i><p>
            <p class="info-box-details">A documentary by Chris Olson.</p>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">8:30 &ndash; 9:10: The Sail Challenge hosted by TheCubicle.us</p>
            <p class="info-box-details"> The top 16 competitors who did not make 3x3 Round 2 will be invited to take part in a head-to-head competition with QiYi Sail 3x3s. Each competitor will receive one unlubed Sail and will have five minutes to prepare it using materials provided (includes lubricants and screwdrivers). After five minutes, all competitors must begin assembling their cubes immediately. Competitors will not be permitted to adjust their cubes after final assembly. Once all the cubes are finished, the competitors will compete head-to-head in a bracket format.</p>
          </li>
          <li class="list-group-item">
            <p class="info-box-label">9:10 &ndash; 9:45: Head-to-Head Double Elimination 3x3 Tournament</p>
            <p class="info-box-details">A head-to-head 3x3 tournament of the top 16 competitors from Round 1 of CubingUSA Nationals.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-box-container-lg">
      <div class="card">
        <div class="card-header">
          <h4><i class="fa fa-pencil" aria-hidden="true"></i> Autograph Booth</h4>
        </div>
        <div class="card-body">
          <div class="card-text">
            <p>
              We'll have an autograph booth where you can meet famous cubers and get their autographs.  A schedule will be posted closer to Nationals.
            </p>
            <p>
              The following cubers will be signing autographs:
            </p>
            <ul>
              <li>Christopher Olson</li>
              <li>Drew Brads</li>
              <li>Feliks Zemdegs</li>
              <li>Gianfranco Huanqui</li>
              <li>Jayden McNeill</li>
              <li>Juan Pablo Huanqui</li>
              <li>Kevin Hays</li>
              <li>Kian Mansour</li>
              <li>Mats Valk</li>
              <li>Michał Rzewuski</li>
              <li>Patrick Ponce</li>
              <li>Philipp Weyer</li>
              <li>Sebastian Weyer</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
