@import "base";
@import "../../components/event_selector";
@import "../../components/spinner";
@import "../../components/fade";

.nats-top-row {
  @include make-row();
  padding-bottom: 10px;

  .top-info {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(8);
      order: 1;
    }
    @include media-breakpoint-down(xs) {
      @include make-col(12);
      order: 2;
    }
  }

  .image-container {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(4);
      order: 2;
    }
    @include media-breakpoint-down(xs) {
      @include make-col(12);
      order: 1;
    }
    img {
      width: 100%;
    }
    
    .partner-label {
      padding-top: 10px;
    }
    
    #cubicle-logo {
      width: 100%;
      max-width: 400px;
    }
    
    .partner-links {
      padding-top: 5px;
    }
  }
}

.info-box-container {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }
  @include media-breakpoint-down(xs) {
    @include make-col(12);
  }

  .info-box-row {
    padding: 5px 0px;
  }

  .info-box-label {
    font-weight: bold;
    color: #666666;
  }
  margin-bottom: 10px;
}

.card-header h4 {
  margin-bottom: 0px;
}
