{% import "components/css.html" as css %}
{% import "components/faq.html" as faq %}
{% extends "nationals/2024/base.html" %}
{% block title%}Qualification Times{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2024/qualifying') }}
{% endblock %}
{% block content %}
  <h4>Qualifying Times</h4>
  <div>
    All events at WCA North American Championship 2024 will have qualification times, which must be met in other WCA competitions before you can register for WCA North American Championship 2024.
  </div>
  <br>
  <h5>Registration Opening</h5>
  <div>
    Registration opens on <b>December 6, 2023</b>. If you are qualified in at least one event, you can register for the competition starting on that date. If you haven't been to a WCA competition yet, or you don't have a qualifying time in any events, you'll need to wait until you do before you can register.
  </div>
  <br>
  <h5>Adding Events</h5>
  <div>
    If you qualify for an event by June 13, 2024, you'll be able to edit your registration to add the event. Once the results from that competition have been posted, you can go back to the <a href="https://www.worldcubeassociation.org/competitions/NAC2024/register">WCA registration site</a> and add those events.
  </div>
  <br>
  <h5>Deadline</h5>
  <div>
    All qualifying times must be set by <b>June 6, 2024.</b> Any times set after that date will not count towards WCA North American Championship 2024 qualifying. All changes to your registration must be made by <b>June 13, 2024.</b>
  </div>
  <br>
  <h5>Qualification Times</h5>
  <div>
    Qualification Times are listed on the <a href="https://www.worldcubeassociation.org/competitions/NAC2024#competition-events">WCA page</a> for the competition. The requirements are averages for most events, and singles for blindfolded events. Note that you must <b>beat</b> the qualification time in order to qualify. If you set the qualification time exactly, you will not be able to compete.
  </div>
  <br>
  <h5>Fewest Moves and Multi Blind</h5>
  <div>
    Fewest Moves and Multi Blind qualification times are "Top N" standards. The top 20 people in Multi Blind (by single) and 30 people in Fewest Moves (by average, then by single if there is a tie) will qualify. After the registration change deadline on June 13, we will remove everyone from these events who did not qualify.
  </div>
{% endblock %}
