{% import "components/css.html" as css %}
{% extends "nationals/2024/base.html" %}
{% block title%}NAC 2024 Schedule{% endblock %}
{% block content %}
  <h3>WCA North American Championship 2024 Schedule</h3>
  <p>
    Competitors must check in before their first event. Check-in will be open starting at <strong>8:00 AM</strong> on Thursday, Friday, and Saturday. You do not need to check in on Thursday if you do not have any events on Thursday.
  </p>
  <p>
    The tentative schedule is available at the <a href="https://www.worldcubeassociation.org/competitions/NAC2024#competition-schedule">WCA website</a>. We will adjust the exact starting time of each event based on the number of registered competitors.
  </p>
{% endblock %}
