{% extends "nationals/2024/base.html" %}
{% block title%}NAC 2024 Unofficial Events{% endblock %}
{% block content %}
  <h1>Unofficial Events</h1>
  <p>
    Sign-up for unofficial events can be found <a href="https://docs.google.com/forms/d/1xaBxu7S9M74uwa1AndFx5uwq4MpWIkzpwlsFOB5-kC0">here</a>.
  </p>
  <div class="info-box-container">
    <div class="card">
      <div class="card-header">
        <h4><span class="material-symbols-outlined">schedule</span> Thursday Night Schedule</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="info-box-label">6:30: 5x5x5 Cube Ends</span>
        </li>
        <li class="list-group-item">
          <p class="info-box-label">6:45 &ndash; 7:45: Mirror Blocks</p>
        </li>
        <li class="list-group-item">
          <p class="info-box-label">7:45 &ndash; 8:45: Face-Turning Octahedron</p>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <div class="info-box-container">
    <div class="card">
      <div class="card-header">
        <h4><span class="material-symbols-outlined">schedule</span> Friday Night Schedule</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="info-box-label">6:20: 7x7x7 Cube Final Ends</span>
        </li>
        <li class="list-group-item">
          <p class="info-box-label">6:30 &ndash; 7:45: Cubing Trivia</p>
        </li>
        <li class="list-group-item">
          <p class="info-box-label">7:45 &ndash; 8:45: Rubik's Magic (time permitting)</p>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <div class="info-box-container">
    <div class="card">
      <div class="card-header">
        <h4><span class="material-symbols-outlined">schedule</span> Saturday Night Schedule</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="info-box-label">6:00: 3x3x3 Cube Ends</span>
        </li>
        <li class="list-group-item">
          <p class="info-box-label">6:15 &ndash; 7:15: Rubik's Regions Relay<p>
          <p class="info-box-details">A head-to-head relay tournament, featuring teams of 3 representing each of the CubingUSA Regions, East Canada, West Canada, and any other North American country represented at Rubik's WCA North American Championship! Sign-up can be found <a href="https://docs.google.com/forms/d/1UXNXHe-yZMmmgqy2IWn6WbF2470YqZVyfvKG9YWLpI4/edit">here</a>.
        </li>
        <li class="list-group-item">
          <p class="info-box-label">7:15 &ndash; 8:15: Team Blindfolded<p>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
