{% import "components/css.html" as css %}
{% import "components/faq.html" as faq %}
{% extends "nationals/2024/base.html" %}
{% block title%}Volunteers{% endblock %}
{% block content %}
<h3>Apply to be on Staff!</h3>
<div>
  Thanks for your interest! We are looking for applications for Staff Team, Data Team, Help Desk, and Live Stream Commentators; you can read more about each role below. You can apply to be on staff via <a href="https://forms.gle/hVpmSsqsCEfNqoJQ7">this form</a>.
</div>
<div>
  Signing up to be on staff is a commitment; please make sure to let us know as soon as possible if you will not be able to attend.
</div>
<p>
<h4>Staff Team</h4>
<div>
  Staff Team members will have judging, running, and scrambling assignments throughout the competition. Expect to spend about 2/3 of the competition volunteering, and the rest either on breaks or competing.
</div>
<p>
<h4>Data Team</h4>
<div>
  Data Team members will be in charge of data entry, double checking scorecards, and printing subsequent round scorecards. Expect to spend about 2/3 of the competition volunteering, and the rest either on breaks or competing.
</div>
<p>
<h4>Help Desk</h4>
<div>
  This year, we're looking for parents and other volunteers to work around 4 hours per day at the Help Desk, answering questions about our event and checking competitors in, helping check badges for entry into the competition, and helping with some other tasks like changing timer batteries and shopping runs. This is a great job for parents who'd like to help out and keep busy during the competition!
</div>
<p>
<h4>Live Stream Commentators</h4>
<div>
  Live Stream Commentators will work with our Live Stream team to provide commentary for the competition live stream.
</div>
<p>
<h4>Perks</h4>
<div>
  Staff members will receive the following perks:
</div>
<ul>
  <li>Refunded registration fee (after the competition)</li>
  <li>Lunch for each day of the competition</li>
  <li>Staff t-shirts</li>
  <li>Travel support -- one of:
    <ul>
      <li>Accommodation in a staff hotel room (18+ only)</li>
      <li>$40 per night reimbursement for your own hotel room</li>
      <li>$60 per night reimbursement for your own hotel room with no refunded registration (great option for parents staffing)</li>
      <li>Daily parking reimbursement (great option for local cubers)</li>
    </ul>
  </li>
</ul>

<h4>Timelines</h4>
<div>
  Staff applications will be accepted, deferred, or denied on a rolling 4-week cycle.
</div>
<table class="table">
  <tr>
    <th>Applications Submitted Before</th>
    <th>Receive Decision Circa</th>
  </tr>
  <tr>
    <td>January 1st</td><td>January 30th</td>
  </tr>
  <tr>
    <td>January 29th</td><td>February 27th</td>
  </tr>
  <tr>
    <td>Februray 26th</td><td>March 26th</td>
  </tr>
  <tr>
    <td>March 25th</td><td>April 23rd</td>
  </tr>
  <tr>
    <td>After March 25th</td><td>TBD</td>
  </tr>
</table>
<div>
  Once your application is accepted, we will periodically ask for updates such as job preferences and confirming that you are still planning to attend.
</div>
{%endblock %}
