div#content {
  padding-top: 90px;
}

div.about_text,div.about_row img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.dropdown-toggle {
  cursor: pointer;
}

.small-event-icon {
  width: 35px;
  height: 35px;
  padding: 5px;
}

/* competitions_us.html */
.state {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  color: black;
}
div.region_gl { background-color: purple; }
div.region_ne { background-color: cornflowerblue; }
div.region_hl { background-color: salmon; }
div.region_nw { background-color: seagreen; }
div.region_w { background-color: gold; }
div.region_s { background-color: crimson; }
div.region_se { background-color: orange; }
/* end competitions_us.html */

/* donate.html */
#paypal-card p.card-text {
  padding: 10px;
}

#paypal-card img {
  text-align: center;
}
/* end donate.html */

/* event_selector.html */
#event_selector {
  padding: 10px 0px;
}
#event_selector::after {
  content: "";
  display: table;
  clear: both;
}
.event_selector_icon {
  width: 35px;
  height: 35px;
  padding: 5px;
  float: left;
  opacity: 0.2;
}
.event_selector_icon_selected {
  opacity: 1;
}
/* end event_selector.html */
