.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.region_gl { background-color: purple; }
.region_ne { background-color: cornflowerblue; }
.region_hl { background-color: salmon; }
.region_nw { background-color: seagreen; }
.region_w { background-color: gold; }
.region_s { background-color: crimson; }
.region_se { background-color: orange; }

/* documents.html */
.documents-section {
  padding-top: 20px;
}
