div#content {
  padding-top: 90px;
}

div.about_text,div.about_row img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-toggle {
  cursor: pointer;
}

/* donate.html */
#paypal-card p.card-text {
  padding: 10px;
}

#paypal-card img {
  text-align: center;
}
