@import "base";
@import "components/button";

.documents-section {
  padding-top: 20px;
}

#upload-form {
  .label-container {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(2);
    }
    @include media-breakpoint-down(xs) {
      @include make-col(4);
    }
  }

  .input-container {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(10);
    }
    @include media-breakpoint-down(xs) {
      @include make-col(8);
    }
  }
}
