@import "base";
@import "components/button";
@import "components/standard_block";

.about-city-selection {
  @include make-col-ready();
  @include make-col(12);
}

.role-option-container {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(2);
  }
  @include media-breakpoint-down(xs) {
    @include make-col(12);
  }

  .role-option-check {
    @extend .form-check;
    @extend .form-check-inline;
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(3);
    }
    @include media-breakpoint-down(xs) {
      @include make-col(4);
    }
  }  
}

.invalid-feedback {
  padding-left: $grid-gutter-width / 2;
}

#region {
  font-weight: bold;

  @each $region, $color in $region-colors {
    &.region-#{$region} {
      background-color: $color;
    }
  }
}
