@import "base";
@import "components/button";
@import "components/standard_block";

#main-card .card-body,#main-card figcaption{
  background-color: $gray-200;
}

#main-card .card-body {
  padding-top: 10px;
}

.card-header {
  h4 {
    margin-bottom: 0px;
  }
}

#main-card figure {
  margin-bottom: 0px;
}

#main-card figcaption {
  @extend .figure-caption;
  text-align: right;
  padding-right: 5px;
  font-style: italic;
}
