@import "base";
@import "components/button";
@import "components/standard_block";

.main-card {
  background-color: $gray-200;
}

.card-header {
  h4 {
    margin-bottom: 0px;
  }
}

.main-card .photo-credit {
  text-align: right;
  font-style: italic;
  margin-top: -14px;
}
