@import "base";

.regional-map-container {
  @extend .card-img-top;
  background-color: $gray-100;
  text-align: center;

  img.regional-map {
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
    @include media-breakpoint-up(sm) {
      width: 50%;
    }
  }
}

.missing-region {
  color: $gray-600;
  font-style: italic;
}

.competition-name-col,.competition-location-col {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }
  @include media-breakpoint-down(xs) {
    @include make-col(12);
  }
}

.competition-date-col,.competition-psych-sheet-col {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(2);
  }
  @include media-breakpoint-down(xs) {
    @include make-col(6);
  }
}

.competition-name-col {
  font-weight: bold;
}
