@import "base";
@import "components/event_selector";
@import "components/state_selector";

.state-selector-container {
  @include make-col-ready();
  margin-left: 0px;

  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }
  @include media-breakpoint-down(xs) {
    @include make-col(12);
  }
  padding-bottom: 5px;
}

.single-average-toggle {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }
  @include media-breakpoint-down(xs) {
    @include make-col(12);
    margin-left: 0px;
  }
  padding-bottom: 5px;

  .single-average-button {
    @extend .btn;
    @extend .btn-primary;
    background-color: white;
    border-color: theme-color("primary");
    color: theme-color("primary");

    &.single-average-button-active {
      background-color: theme-color("primary");
      border-color: white;
      color: white;
    }
  }
}

.ranking-row-container {
  @extend .card;
  margin-top: 2px;
  margin-bottom: 2px;

  .row {
    padding: 5px;
  }

  .rank-col {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(1);
    }
    @include media-breakpoint-down(xs) {
      @include make-col(2);
    }
  }

  .person-col {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-down(xs) {
      @include make-col(7);
    }
  }

  .time-col {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(5);
    }
    @include media-breakpoint-down(xs) {
      @include make-col(3);
    }
  }

  &:nth-of-type(even) {
    background-color: #eeeeee;
  }
}
