@import "base";

.nats-top-row {
  @include make-row();

  .info-box-container {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
  }
}

.info-box-container {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }
  @include media-breakpoint-down(xs) {
    @include make-col(12);
  }

  .info-box-row {
    padding: 5px 0px;
  }

  .info-box-label {
    font-weight: bold;
    color: #666666;
  }

  img {
    width: 100%
  }
  margin-bottom: 10px;
}

.card-header h4 {
  margin-bottom: 0px;
}
