body {
  font-family: sans-serif;
  text-align: center;
  background-color: lightyellow;
  overflow: hidden;
}

h3 {
  font-size: 5em;
}

h5 {
  font-size: 3em;
}

table {
  width: 100%;
}

img {
  width: 100%;
}

table {
  border-collapse: collapse;
  border-width: 0;
}

td,th {
  width: 33%;
  text-align: center;
  font-size: 2em;
}

th {
  font-weight: bold;
}

th.red {
  background-color: #f88;
}

td.red {
  background-color: #fcc;
}

th.blue {
  background-color: #88f;
}

td.blue {
  background-color: #ccf;
}

a {
  color: black;
}
