{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}Home{% endblock %}
{% block style %}
  {{ css.css(c, 'index') }}
{% endblock %}
{% block content %}
  <div class="container">
  <p>
  <div class="card" id="main-card">
    <figure>
      <img class="card-img-top" src="/static/img/group-photo-2015.jpg"
           alt="Competitors, spectators, and staff at Nationals 2015">
      <figcaption>
        Photo Credit: <a href="https://www.flickr.com/photos/topherolson/19632948834/in/album-72157656315692998/" target="_blank">Chris Olson</a>
      </figcaption>
    </figure>
    <div class="card-body">
      <div class="photo-credit">
      </div>
      <h1 class="card-title">CubingUSA</h1>
      <div class="card-text">
        <p>CubingUSA's goal is to support and grow the US speedcubing community.  We organize the US National Championships every summer, and support a number of other competitions throughout the year.</p>
        <p>
          <a class="button" href="/about" role="button">Learn More</a>
          <a class="button" href="/about/donations" role="button">Donate</a>
        </p>
      </div>
    </div>
  </div>
  </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="standard-block">
        <div class="card">
          <a href="/nac/2024">
            <img class="card-img-top" src="/static/img/nac-2024-logo.png" alt="WCA North American Championship 2024">"
          </a>
          <div class="card-body">
            <h4 class="card-title">WCA North American Championship 2024</h4>
            <p class="card-text">CubingUSA will be hosting the <strong>WCA North American Championship 2024</strong> at the Minneapolis Convention Center in Minneapolis, Minnesota, on July 18-21, 2024! Please see the <a href="https://worldcubeassociation.org/competitions/NAC2024">WCA website</a> for more information.</p>
          </div>
        </div>
      </div>
      <div class="standard-block">
        <div class="card">
          <a href="/worlds">
            <img class="card-img-top" src="/static/img/seattle.jpg" alt="Seattle">
          </a>
          <div class="card-body">
            <h4 class="card-title">WCA World Championship 2025</h4>
            <p class="card-text">We are excited to announce that CubingUSA will be hosting the <strong>WCA World Championship 2025</strong> at the Seattle Convention Center Arch Building in Seattle, Washington, on July 3-6, 2025! More details will come over the next few months -- stay tuned!
          </div>
        </div>
      </div>
      <div class="standard-block">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">More Links</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="https://www.worldcubeassociation.org/competitions?region=USA" target="_blank">Upcoming US Competitions</a>
            </li>
            <li class="list-group-item">
              <a href="https://live.worldcubeassociation.org" target="_blank">WCA Live</a>
            </li>
            <li class="list-group-item">
              <a href="/state_rankings">State Rankings</a>
            </li>
            <li class="list-group-item">
              <a href="https://worldcubeassociation.org" target="_blank">World Cube Association</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
