{% import "components/css.html" as css %}
{% extends "base.html" %}
{% block title%}About CubingUSA{% endblock %}
{% block content %}
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h1>CubingUSA Logo</h1>
        </div>
        <div class="card-text">
          <p>
            The CubingUSA name and logo and the names and logos of CubingUSA Nationals, Regional Championships, and Supported Competitions can only be used with explicit permission.
          </p>
          <p>
            The CubingUSA logo may be used in materials for all CubingUSA Supported Competitions.
          </p>
          <p>
            You can download an svg version of the CubingUSA logo <a href="/static/img/cubingUSA_2023_color.svg">here.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
