{% extends "base.html" %}
{% block title %}Regional Championships{% endblock %}
{% block content %}
  <div class="container">
    <p>
      <h3>{{ competition['name'] }} Eligible Competitors</h3>
      <ul>
        {% for entry in eligible_users %}
          {% if entry['user'].wca_person != None %}
            <li>{{ entry['user'].wca_person.get().name }} {{ entry['user'].wca_person.id() }} ({{ entry['state'].id() }})</li>
          {% else %}
            <li>{{ entry['user'].name }} ({{ entry['state'].id() }})</li>
          {% endif %}
        {% endfor %}
      </ul>
    </p>
    <p>
      <h3>{{ competition['name'] }} Ineligible Competitors</h3>
      <ul>
        {% for entry in ineligible_users %}
          {% if entry['state'] != None %}
            <li>{{ entry['user'].wca_person.get().name }} ({{ entry['state'].id() }})</li>
          {% else %}
            <li>{{ entry['user'].name }} (No state set)</li>
          {% endif %}
        {% endfor %}
      </ul>
    </p>
  </div>
{% endblock %}
