{% extends "base.html" %}
{% block title %}Regional Championships{% endblock %}
{% block content %}
  <div class="container">
    <p>
      <h3>{{ competition['name'] }} Eligible Competitors</h3>
      <ul>
        {% for competitor in eligible_users %}
          {% if competitor.wca_person != None %}
            <li>{{ competitor.name }} {{ competitor.wca_person.id() }} ({{ competitor.state.id() }})</li>
          {% else %}
            <li>{{ competitor.name }} ({{ competitor.state.id() }})</li>
          {% endif %}
        {% endfor %}
      </ul>
    </p>
    <p>
      <h3>{{ competition['name'] }} Ineligible Competitors</h3>
      <ul>
        {% for competitor in ineligible_users %}
          {% if competitor.state != None %}
            <li>{{ competitor.name }} ({{ competitor.state.id() }})</li>
          {% else %}
            <li>{{ competitor.name }} (No state set)</li>
          {% endif %}
        {% endfor %}
      </ul>
    </p>
  </div>
{% endblock %}
