{% import "components/css.html" as css %}
{% import "components/event_selector.html" as event_selector %}
{% extends "base.html" %}
{% block title %}Regional Championships{% endblock %}
{% block style %}
  {{ css.css(c, 'regional') }}
{% endblock %}
{% block content %}
  <div class="container">
    <p>
      <div class="card">
        <div class="regional-map-container">
          <img class="regional-map"
               src="/static/img/regionals-map.jpg"
               alt="Map of US Regions">
        </div>
        <div class="card-body main-card">
          <h1 class="card-title">CubingUSA Regional Championships</h1>
          <div class="card-text">
            <p>In addition to CubingUSA Nationals, CubingUSA supports the organization of nine <strong>Regional Championships</strong> each year.  These competitions aim to provide competitors throughout the US with a high-quality, large competition experience, and to recognize the top competitors throughout the country.
            </p>
            <div>
              <p>Just like CubingUSA Nationals, our Regional Championships are open to all competitors.  However, the title of Regional Champion will be awarded to the top-ranked competitor who lives in that region.  In order to be eligible to win a title, you need to <a href="/login">log in</a> to the CubingUSA website with your WCA account and <a href="/edit">select</a> your home state before the competition. See the <a href="/regional/title_policy">Regional Title Policy</a> for full details, and please <a href="/about/contact">contact</a> us if you have any questions about what state you can represent.</p>
            </div>
          </div>
        </div>
      </div>
    </p>
    <p>
      <div class="card">
        <div class="card-header">
          <h4><span class="material-symbols-outlined">calendar_month</span> {{ year }} Regional Championships</h4>
        </div>
        <ul class="list-group list-group-flush">
          {% for championship in championships %}
            <li class="list-group-item">
              <div class="row">
                {% set competition = championship.competition.get() %}
                <div class="competition-name-col competition-table-col">
                  <a href="{{ competition.GetWCALink() }}">
                    {{ competition.name }}
                  </a>
                </div>
                <div class="competition-name-col competition-table-col">
                  <span class="material-symbols-outlined">pin_drop</span>
                  {{ competition.city_name }}, {{ competition.state.get().name }}
                </div>
                <div class="competition-name-col competition-table-col">
                  <span class="material-symbols-outlined">calendar_month</span>
                  {% autoescape False %}
                    {{ c.format_date_range(competition.start_date, competition.end_date,
                                           include_year=False, full_months=True) }}
                  {% endautoescape %}
                </div>
              </div>
              {% if championship.region in pbq_championships %}
                {% set competition = pbq_championships[championship.region].competition.get() %}
                <hr class="pbq-divider">
                <div class="row">
                  <div class="pbq-name-col competition-table-col">
                    <div class="pbq-content">
                      <a href="{{ competition.GetWCALink() }}">
                        {{ competition.name }}
                      </a>
                    </div>
                  </div>
                  <div class="competition-table-col">
                    <div class="pbq-content">
                      <span class="material-symbols-outlined">pin_drop</span>
                      {{ competition.city_name }}{% if competition.state %}, {{ competition.state.get().name }}{% endif %}
                    </div>
                  </div>
                  <div class="competition-table-col">
                    <div class="pbq-content">
                      <span class="material-symbols-outlined">calendar_month</span>
                      {% autoescape False %}
                        {{ c.format_date_range(competition.start_date, competition.end_date,
                                               include_year=False, full_months=True) }}
                      {% endautoescape %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </p>
    <p>
      <div class="card">
        <div class="card-header">
          <h4><span class="material-symbols-outlined">trophy</span>
            <span id="regionals-yr"></span> <span id="regionals-evt"></span> Regional Champions</h4>
        </div>
        <div class="card-body">
          {{ event_selector.event_selector(c, include_magic=False, include_mbo=False) }}
          <div id="champions-table"></div>
          <div class="spinner" id="regionals-spinner"></div>
        </div>
      </div>
    </p>
    <div class="row">
      <div class="col-6">
        <select class="form-control w-auto" id="year-select">
          <option></option>
          {% for championship_year in championship_years %}
            <option value="{{ championship_year }}">{{ championship_year }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-6">
        <select class="form-control w-auto" id="region-select">
          <option></option>
          {% for region, region_name in championship_regions %}
            <option value="{{ region }}">{{ region_name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div id="year" data-year="{{ c.year }}"></div>
  <div id="type" data-type="regional"></div>
  <script src="/static/js/regionals.js" type="application/javascript"></script>
{% endblock %}
