{% import "components/css.html" as css %}
{% import "components/nav.html" as nav %}
{% extends "base.html" %}
{% block head %}
  <meta property="og:image" content="https://www.cubingusa.org/static/img/nats-logo-2023-og-image.png"/>
{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2023/base') }}
{% endblock %}
{% block navbar_secondary %}
  <div class="navbar-secondary">
    <div class="container">
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#second_nav"
              aria-controls="second_nav"
              aria-expanded="false"
              aria-label="Nationals navigation">
        <span class="sr-only">Nationals navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="second_nav">
        <ul class="navbar-left">
          {% call nav.navitem(c, '/nationals/2023') %} Nationals 2023 {% endcall %}
          {% call nav.navitem(c, '/nationals/2023/events') %} Events {% endcall %}
          {% call nav.navitem(c, '/nationals/2023/qualifying') %} Qualifying {% endcall %}
          {% call nav.navitem(c, '/nationals/2023/schedule') %} Schedule {% endcall %}
          {% call nav.navitem(c, '/nationals/2023/travel') %} Travel {% endcall %}
          {% call nav.navitem(c, '/nationals/2023/contact') %} FAQ and Contact {% endcall %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
