{% import "components/css.html" as css %}
{% import "components/faq.html" as faq %}
{% extends "nationals/2023/base.html" %}
{% block title%}Qualification Times{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2023/index') }}
{% endblock %}
{% block content %}
  <div>
    All events at CubingUSA Nationals 2023 will have qualification times, which must be met in other WCA competitions before you can register for CubingUSA Nationals 2023.
  </div>
  <br>
  <h5>Registration Opening</h5>
  <div>
    Registration opens on December 14, 2022. If you are qualified in at least one event, you'll be able to register for the competition starting on that date. If you haven't been to a WCA competition yet, or you don't have a qualifying time in any events, you'll need to wait until you do before you can register.
  </div>
  <br>
  <h5>Adding Events</h5>
  <div>
    If you qualify for an event after December 14, you'll be able to edit your registration to add the event. Once the results from that competition have been posted, you can go back to the <a href="https://www.worldcubeassociation.org/competitions/CubingUSANationals2023/register">WCA registration site</a> and add those events.
  </div>
  <br>
  <h5>Deadline</h5>
  <div>
    All qualifying times must be set by <b>May 31, 2023.</b> Any times set after that date will not count towards CubingUSA Nationals 2023 qualifying. All changes to your registration must be made by <b>June 13, 2023.</b>
  </div>
  <br>
  <h5>Qualification Times</h5>
  <div>
    Qualification Times are listed on the <a href="https://www.worldcubeassociation.org/competitions/CubingUSANationals2023#competition-events">WCA page</a> for the competition. The requirements are averages for most events, and singles for blindfolded events. Note that you must <b>beat</b> the qualification time in order to qualify. A 40.00 second average in 3x3 is not sufficient to qualify.
  </div>
  <br>
  <h5>Fewest Moves and Multi Blind</h5>
  <div>
    Because of limited space in the long events room, Fewest Moves and Multi Blind qualification times are "Top N" standards. The top 50 people in Multi Blind (by single) and 100 people in Fewest Moves (by average, then by single if there is a tie) will qualify. After the registration change deadline on June 13, we will remove everyone from these events who did not qualify.
  </div>
{% endblock %}
