{% extends "nationals/2023/base.html" %}
{% block title%}Nationals 2023 Travel{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2023/travel') }}
{% endblock %}
{% block content %}
  <h1>Travel Information</h1>
  <div class="nats-top-row">
    <div class="info-box-container">
      <div class="card">
        <div class="card-header">
          <h4><span class="material-symbols-outlined">location_city</span> Venue</h4>
        </div>
        <div class="card-body">
          <div class="card-text">
            The competition will be held at the <strong><a href="https://www.pittsburghcc.com/" target="_blank">David L. Lawrence Convention Center</a> in Pittsburgh, Pennsylvania.</strong>  We're pleased to be working with the Convention Center, which will be a great venue for our competition.
          </div>
          <div class="info-box-row">
            <span class="material-symbols-outlined">location_on</span> <span class="info-box-label">Address:</span> <a href="https://goo.gl/maps/uFYCscsu41CZr2Y66" target="_blank">1000 Ft. Duquesne Blvd., Pitsburgh, PA 15222</a>
          </div>
          <div class="info-box-row">
            <span class="material-symbols-outlined">location_city</span> <span class="info-box-label">Main Room:</span> Hall C
          </div>
          <div class="info-box-row">
            <span class="material-symbols-outlined">location_city</span> <span class="info-box-label">Long Events:</span> Rooms 319&mdash;321
          </div>
        </div>
      </div>
    </div>
    <div class="info-box-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d97149.44299579834!2d-80.22842159152935!3d40.454905510646284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x88345cc34ecd5b37%3A0xc812270d148d3f59!2sPittsburgh%20International%20Airport%20(PIT)%2C%20Airport%20Boulevard%2C%20Pittsburgh%2C%20PA!3m2!1d40.491920799999995!2d-80.2352233!4m5!1s0x8834f3e2eb0a8de7%3A0x36ba9693af60a61!2sDavid%20L.%20Lawrence%20Convention%20Center%2C%20Fort%20Duquesne%20Boulevard%2C%20Pittsburgh%2C%20PA!3m2!1d40.4455472!2d-79.9962844!5e0!3m2!1sen!2sus!4v1665255671505!5m2!1sen!2sus" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="info-box-container">
      <div class="card">
        <div class="card-header">
          <h4>
            <span class="material-symbols-outlined">bed</span>
            Hotel
          </h4>
        </div>
        <div class="card-body">
          <div class="card-text">
            The official hotel of CubingUSA Nationals 2023 is the Westin Pittsburgh! The Westin is directly attached to the Convention Center, and is the most convenient hotel for you to stay in during the competition. You can book your room via <a href="https://www.marriott.com/events/start.mi?id=1673560676230&key=GRP">this link</a> for a discounted rate. <strong>Update July 7:</strong> Our room block is now full. If there are cancellations, you may be able to book a room, but unfortunately we can't make any guarantees.
          </div>
        </div>
      </div>
    </div>
    <div class="info-box-container">
      <div class="card">
        <div class="card-header">
          <h4><span class="material-symbols-outlined">directions_car</span> Transportation</h4>
        </div>
        <div class="card-body">
          <div class="info-box-row">
            <span class="material-symbols-outlined">travel</span> <span class="info-box-label">Nearest Airport:</span> <strong>Pittsburgh International Airport (PIT)</strong> serves Pittsburgh and has many daily flights. There are regular buses connecting PIT to the city.
          </div>
        </div>
      </div>
    </div>
    <div class="info-box-container">
      <div class="card">
        <div class="card-header">
          <h4><span class="material-symbols-outlined">local_parking</span> Parking</h4>
        </div>
        <div class="card-body">
          <div class="card-text">
            There are many parking options nearby. here are some options. Make sure to check each lot's website for the latest rates, and check <a href="https://parkpgh.org">ParkPGH</a> for more options.
          </div>
        </div>
        <div class="list-group list-group-flush">
          <div class="list-group-item">
            <a href="https://alcoparking.com/lot-garage/convention-center-garage/">Convention Center Garage</a>: $16 up to 15 hours; $30 up to 24 hours
          </div>
          <div class="list-group-item">
            <a href="https://www.pittsburghparking.com/Facilities/Grant-Street-Transportation-Center">Grant Street Transportation Center</a>: $13 weekdays, $6 weekends
          </div>
          <div class="list-group-item">
            <a href="https://alcoparking.com/lot-garage/eleventh-and-smallman-lot/">Eleventh and Smallman</a>: $12
          </div>
          <div class="list-group-item">
            <a href="https://www.pittsburghparking.com/Facilities/Smithfield-Liberty-Garage">Smithfield-Liberty garage</a>: $20 weekdays, $8 weekends
          </div>
          <div class="list-group-item">
            <a href="https://www.pittsburghparking.com/Facilities/Mellon-Square">Mellon Square Garage</a>: $20 weekdays, $8 weekends
          </diV>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
