{% import "components/css.html" as css %}
{% import "components/faq.html" as faq %}
{% extends "nationals/2023/base.html" %}
{% block title%}Volunteers{% endblock %}
{% block style %}
  {{ css.css(c, 'nationals/2023/index') }}
{% endblock %}
{% block content %}
  <div>
    We are looking for volunteers to help us run CubingUSA Nationals 2023! We're recruiting two kinds of volunteers: experienced cubers for our <b>staff team</b>, and parents or friends to help out with the <b>Help Desk</b> and other miscellaneous tasks.
  </div>
  <br>
  <h4>Staff Team</h4>
  <div>
    If you're a cuber who would like to join the volunteer staff, please fill out the application form <a href="https://docs.google.com/forms/d/e/1FAIpQLSfkMhkBJE2N7tVSUBPj1WyKjXJmITZItukLXao5wvXm9a8rPg/viewform">here</a>. Applicants will be accepted on a rolling basis between now and the end of May.
  </div>
  <br>
  <h5>Expectations</h5>
  <div>
    Staff members will have judging, running, and scrambling assignments throughout the competition. Expect to spend about half to 2/3 of the competition volunteering, and the rest either on breaks or competing. Signing up to be on staff is a commitment; please make sure to let us know as soon as possible if you will not be able to attend. We're asking for a final commitment no later than <b>June 13</b>.
  </div>
  <br>
  <div>
    We'll also have a Data Entry team, who will be responsible for entering and checking all of the scorecards. If you'd like to join that team, please express interest in that on the application form.
  </div>
  <br>
  <h5>Perks</h5>
  <div>
    Staff members will receive the following perks:
    <ul>
      <li>Refunded registration fee (after the competition)</li>
      <li>Lunch vouchers for each day of the competition</li>
      <li>Staff t-shirts</li>
      <li>Travel support -- one of:
        <ul>
          <li>Accommodation in a staff hotel room (18+ only)</li>
          <li>$40 per night reimbursement for your own hotel room</li>
          <li>Daily parking reimbursement</li>
        </ul>
      </li>
    </ul>
  </div>
  <br>
  <h4>Help Desk</h4>
  <div>
    New this year, we're looking for parents and other volunteers to work around 2 hours per day at the <b>Help Desk</b>, answering questions about our event and checking competitors in, as well as helping with some other tasks like changing timer batteries and shopping runs. This is a great job for parents who'd like to help out and keep busy during the competition!
  </div>
  <br>
  <div>
    Perks include:
    <ul>
      <li>Lunch vouchers for each day of the competition</li>
      <li>Staff t-shirts</li>
    </ul>
  </div>
  <br>
  <h4>Application Process</h4>
  <div>
    Please fill out the <a href="https://docs.google.com/forms/d/e/1FAIpQLSfkMhkBJE2N7tVSUBPj1WyKjXJmITZItukLXao5wvXm9a8rPg/viewform">staff application form</a>, listing a WCA Delegate who knows you and can vouch for your abilities.
  </div>
{%endblock %}
